
<!-- Modal View of JobService  -->

<!-- Add Item Modal -->
<div class="modal fade" id="SelectAppointmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"> Slot Appointments : <span id="slot-desc"> </span> </h4>
            </div>
            <div class="modal-body">
                <div class="list-group" id="AppointmentItems-List">

                </div>
            </div>
            <div class="modal-footer">
             
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
