
@{
    ViewBag.Title = "AutoCare";
}
    <div class="jumbotron">
        <h2>Welcome AutoCare</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3> Control Panel </h3>
            <p>
                Manage Jobs, Post Sales, Customers, Vehicles and Resources.
            </p>
            @Html.ActionLink("Go", "Index", "Home",null, new { @class ="btn btn-default" })
        </div>
    </div>