
@{
    ViewBag.Title = "AutoCare";
}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <h1>Welcome to AutoCare</h1>
            </div>
            <div class="col-md-4"><img src="~/Images/AutoCare/autocare-car-back-blur.png" width="200" /></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h3> Control Panel </h3>
            <p>
                Manage Jobs, Post Sales, Customers, Vehicles and Resources.
            </p>
            @Html.ActionLink("Go", "Index", "Home",null, new { @class ="btn btn-default" })
        </div>
    </div>