@{ 
  
}
<div id="joblisting-filter" class="row" style="background-color:#f3f3f3;padding:15px; box-shadow:0px 0px 5px 2px lightgray; ">
    <div class="col-lg-3">
        <h5>Start Date</h5>
        <input type="text" value="" name="startDate" id="startDate" class="form-control" />
    </div>

    <div class="col-lg-3">
        <h5>End Date</h5>
        <input type="text" value="@ViewBag.eDate" name="endDate" id="endDate" class="form-control" />
    </div>

    <div class="col-lg-3">
        <h5>Company</h5>
        <input type="text" value="@ViewBag.Id" id="company-input" class="form-control" />
    </div>

    <div class="col-lg-3">
        <h5>Unit/Driver</h5>
        <input type="text" value="@ViewBag.Id" id="unitDriverInput" class="form-control" />
    </div>

    <div class="col-lg-3">
        <br />
        <button class="btn btn-primary" onclick="reportUpdate();">
            <span class="glyphicon glyphicon-search"></span> Filter 
        </button>

        <button class="btn btn-primary" onclick="reportPrint();">
            <span class="glyphicon glyphicon-print"></span> Print
        </button>
    </div>

</div>

<div class="row" style="border: 1px solid lightgray; padding:20px;margin-top:15px; box-shadow:0px 0px 5px 2px lightgray; ">
    @{Html.RenderAction("JobListing");}
</div>

    <!--Required for using datepicker-->
        <link rel="stylesheet" type="text/css" href="~/Content/daterangepicker.css">
        <script src="~/Scripts/jquery-3.3.1.js"></script>
        <script src="~/Scripts/DateRangePicker/moment.min.js"> </script>
        <script src="~/Scripts/DateRangePicker/daterangepicker.js"> </script>
    <!--Required for using datepicker-->
   
    <script type="text/javascript" src="~/Scripts/Reporting/JobDate.js"></script>
    <script type="text/javascript" src="~/Scripts/Reporting/JobListing.js"></script>

