
@{
    ViewBag.Title = "Car Rental Report";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2>Report</h2>

<p>
    @Html.ActionLink("Unit Expense Report", "Index", "crRptUnitExpenses",null, null)  
</p>

<p>
    @Html.ActionLink("Create New Report", "Create")  
</p>
