<!-- Triplogs - Job Link Modal -->
<div class="modal fade" role="dialog" id="LogJobLinkModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Link Triplogs to Jobs </h4>
            </div>
            <div class="modal-body" style="margin-left:10px;">
                <div class="row">

                    <div class="form-group col-lg-12" style="padding-bottom:10px;">
                        <label class="control-label form-label col-lg-2"> TripLog </label>
                        <div class="col-lg-10">
                           <span id="LogJobLink-TripLog">  </span>
                        </div>
                    </div>

                    <div class="form-group col-lg-12" style="padding-bottom:10px;">
                        <label class="control-label form-label col-lg-2"> TripLogId </label>
                        <div class="col-lg-10">
                            <input class="form-control" type="number" id="LogJobLink-TripLogId" readonly />
                        </div>
                    </div>

                    <div class="form-group col-lg-12" style="padding-bottom:10px;" hidden>
                        <label class="control-label form-label col-lg-2"> TripLog Date </label>
                        <div class="col-lg-10">
                            <input class="form-control" type="text" id="LogJobLink-TripLogDate" readonly />
                        </div>
                    </div>

                    <div class="form-group col-lg-12">
                        <label class="control-label form-label col-lg-2"> JobMainId  </label>
                        <div class="col-lg-10">
                            <input class="form-control" type="number" id="LogJobLink-JobMainId" />
                        </div>
                    </div>
                </div>
                <hr />  
                <h4 class="modal-title"> Select Active Jobs</h4><br />
                <div class="row" id="Loading-jobs">
                    <img src="~/Images/GIF/loading.gif" class="col-lg-2" />
                    <h4 class="col-lg-4"> Loading Jobs... </h4>
                </div>

                <div class="list-group" id="LogJobSearchModal-List">
                    <!-- List of hobs here populated thru api call -->
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="Submit_JobLinkForm()">Link</button>
            </div>
        </div>
    </div>
</div>
