<!-- Log Odo Update Modal -->
<div class="modal fade" role="dialog" id="LogExpenseUpdateModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Expense Update </h4>
            </div>
            <div class="modal-body" style="margin-left:30px;">
                <div class="row">
                    <div class="form-group" hidden>
                        <label class="control-label form-label col-sm-2"> Id </label>
                        <div class="col-sm-10">
                            <input class="form-control form-group-margin-bot" type="number" id="ExpenseUpdate-Id" />
                        </div>
                    </div>

                    <div class="form-group col-lg-12 no-margin">
                        <label class="control-label form-label col-sm-2"> Date </label>
                        <div class="col-sm-10">
                            <p style="margin-top:5px;" type="number" id="ExpenseUpdate-Date" /> <p />
                        </div>
                    </div>

                    <div class="form-group col-lg-12 no-margin">
                        <label class="control-label form-label col-sm-2"> Driver </label>
                        <div class="col-sm-10">
                            <p style="margin-top:5px;"   type="number" id="ExpenseUpdate-Driver" /> <p />
                        </div>
                    </div>

                    <div class="form-group col-lg-12 no-margin">
                        <label class="control-label form-label col-sm-2"> Unit </label>
                        <div class="col-sm-10">
                            <p style="margin-top:5px;"   type="number" id="ExpenseUpdate-Unit" /> <p />
                        </div>
                    </div>

                    <div class="form-group col-lg-12 no-margin">
                        <label class="control-label form-label col-sm-2"> Company </label>
                        <div class="col-sm-10">
                            <p style="margin-top:5px;"  type="number" id="ExpenseUpdate-Company" /> <p />
                        </div>
                    </div>

                    <div class="form-group col-lg-12">
                        <label class="control-label form-label col-sm-2"> Expense  </label>
                        <div class="col-sm-10">
                            <input class="form-control" type="number" id="ExpenseUpdate-Expense" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="Submit_ExpenseUpdateForm()" >Submit</button>
            </div>
        </div>
    </div>
</div>