
@{
    ViewBag.Title = "Corporate travels - Car Rental Davao";
    ViewBag.Description = "Corporate travels Car Rental Davao. his includes vip transfers, meetings, events, conventions and other corporate related trips.";
    ViewBag.CanonicalURL = Context.Request.Url.AbsoluteUri;

    //Keyword : Airport Hotel Transfer Davao
}


<div class="jumbotron CarRental-Banner-Default no-margin">
    <h1> Corporate Travel Car Rental Davao </h1>
</div>

<!-- Article Content -->
<article class="service service-page-container">
    <div class="container">
        <div class="col-lg-8 col-md-10 mx-auto service-page-desc">
            <h2 class="service-page-title"> Airport/Hotel transfer </h2>
            <hr />

            <div class="col-md-12">
                <p class="service-page-desc">
                    This type of service is a one way trip either from airport to your chosen destination, or the other way around, or from one place to another
                    place within Davao city downtown area. This service is single point pickup and single point destination. Traveling to and from the airport or
                    hotel will be very convenient when you avail a car rental service. It eliminates the hassle of queuing for public transport with all the heavy
                    trolleys and bags with you.
                </p>
            </div>
        </div>

        <!-- Left : Related Articles -->
        <div class="col-lg-4 col-md-2 mx-auto" style="margin:100px auto">
            <h4> Services </h4>
            <ul>
                <li>
                    <a href="/Services/Airport-Hotel-Transfer"> Airport Hotel Transfer </a>
                </li>
                <li>
                    <a href="/Services/Business-Trip"> Business Trip </a>
                </li>
                <li>
                    <a href="/Services/City-Tour-Car-Rental"> City Tour Car Rental </a>
                </li>
                <li>
                    <a href="/Services/Corporate-Travel"> Corporate Travel </a>
                </li>
                <li>
                    <a href="/Services/Self-Drive"> Self Drive </a>
                </li>
                <li>
                    <a href="/Services/Special Occasion"> Special Ocassion </a>
                </li>
                <li>
                    <a href="/Services/Cargo-Delivery"> Cargo Delivery </a>
                </li>
                <li>
                    <a href="/Services/Employee-Shuttle">Employee-Shuttle </a>
                </li>
            </ul>
        </div>
    </div>

</article>
<hr />


<div id="ContactUs">
    @{Html.RenderPartial("Index_Footer");}
</div>