
@{
    ViewBag.Title = "Cargo Delivery Services - Van, Innova, pickup - Door to door - Car Rental Davao City";
    ViewBag.Description = "Cargo Delivery Services - Need to deliver your products to your customers? Contact us for fast and reliable car rental delivery service from Davao.";
    ViewBag.CanonicalURL = Context.Request.Url.AbsoluteUri;

    //Keyword : Cargo Delivery Service
}

<div class="jumbotron CarRental-Banner-Default no-margin">
    <h1> Cargo Delivery<br /> Services </h1>
</div>

<!-- Article Content -->
<article class="service service-page-container">
    <div class="container">
        <div class="col-lg-10 col-md-10 mx-auto">
            <div class="col-md-12 no-padding">
                <div class="entry-content">
                    <div class="col-md-12">
                        <p>
                            Cargo delivery services offered by <a href="https://realwheelsdavao.com/">RealWheels Rent-A-Car Davao </a>is reliable,
                            fast and trustworthy.  We provide and select the optimal delivery routes, coordinate all stages of delivery
                            and transport cargo in a timely manner. Our services include door-to-door pickup and deliver, repeating /
                            scheduled delivery and single/multi-point delivery. We cater deliveries in Metro-Davao and in any point in
                            Mindanao at an affordable price. Our logistics service is reliable and affordable for business and personal
                            needs. Car rental vehicles used for cargo transport varies from SUV, MPV and Van.
                        </p>
                    </div>

                    <div class="col-md-12">
                        <img class="col-md-4 service-img" src="~/Images/CarRental/Home/Article/CargoDelivery/door-to-door-delivery.png" alt="Door to Door Delivery Service" />
                        <div class="col-md-8">
                            <h2>Door to door pickup and delivery </h2>
                            <p>
                                Avoid the hassle and have your cargo pickup or delivered at your doorstep. With our door to door pickup
                                and delivery service, we arrange to pickup cargo package and have it deliver to you. Likewise, we can pickup
                                items from you and deliver to your desired location.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <img class="col-md-4 service-img" src="~/Images/CarRental/Home/Article/CargoDelivery/schedule-delivery.png" alt="Schedule Delivery Service"  />
                        <div class="col-md-8">
                            <h2>Scheduled delivery</h2>

                            <p>
                                Our logistics service offers scheduled delivery based on your needs.  We can schedule a repeating delivery
                                which can be weekly or monthly basis. Avail our scheduled delivery service and enjoy an exclusive rate.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <img class="col-md-4 service-img" src="~/Images/CarRental/Home/Article/CargoDelivery/logistics-service.png" alt="Logistics Cargo Service"  />
                        <div class="col-md-8">
                            <h2>Precious cargo delivery in luxurious vehicle</h2>
                            <p>
                                Our vehicles are capable of handling variety of cargo types such as machinery, equipment, food products,
                                domestic products, household appliances and electronics. We will handle your precious cargo delivery in luxurious
                                vehicle with extra care and deliver to the destination in perfect condition. We can also hire additional helpers to
                                assist you in handling the cargo for a minimal cost.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <img class="col-md-4 service-img" src="~/Images/CarRental/Home/Article/CargoDelivery/exclusive-cargo-delivery.png" alt="Exclusive Cargo Delivery"  />
                        <div class="col-md-8">
                            <h2>Exclusive cargo delivery service</h2>
                            <p>
                                Our cargo transport service will prioritize the safety and security of your items. We find the best routes and
                                deliver will your cargo package on time. Moreover, we will provide an exclusive vehicle to transport your cargo packages.
                                Our exclusive cargo delivery service vehicles are SUV, MPV and Van.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <img class="col-md-4 service-img" src="~/Images/CarRental/Home/Article/CargoDelivery/mindanao-cargo-delivery.png"alt="Mindanao Cargo Delivery Service"  />
                        <div class="col-md-8">
                            <h2>Metro Davao and to any point in Mindanao </h2>
                            <p>Our cargo transport service is available for business and personal needs within Metro Davao and to 
                            any point in Mindanao. We can arrange deliveries from a pickup point to a single destination or 
                            multi-point deliveries. </p>
                        </div>
                    </div>
                    <!-- Vehicle List -->
                    <div class="col-md-12 no-padding">
                        <hr />
                        <h2 class="col-md-12 text-center">See our list of available vehicles.</h2>
                        <div class="col-md-6 col-sm-12 no-padding">
                            <div class="home-panel">
                                <div class="col-md-12">
                                    <img class="service-vehicle-img" src="~/Images/CarRental/innova/toyotainnova_front.jpg" alt="mpv/suv cargo services" />
                                </div>
                                <div class="col-md-12">
                                    <h3>
                                        SUV / MPV
                                        <b class="text-success pull-right">P 1,800</b>
                                    </h3>
                                    <ul>
                                        <li>
                                            Starting Price within Davao City
                                        </li>
                                        <li> Maximum Cargo Size: 2.5ft x 2ft x 2.5 ft </li>
                                        <li> Maximum Cargo Capacity: 600kg </li>
                                        <li> Up to 6 Hours Overtime ( 150 per hour) </li>
                                        <li> Addition 400 per Day per Helper </li>
                                        <li> Driver and Fuel Included </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 no-padding" style="margin-bottom:20px;">
                            <div class="home-panel">
                                <div class="col-md-12">
                                    <img class="service-vehicle-img" src="~/Images/CarRental/glgrandia/glgrandia_frontview.jpg" alt="mpv/suv cargo services" />
                                </div>
                                <div class="col-md-12">
                                    <h3> Van 
                                        <b class="text-success pull-right">P 2,800</b>
                                    </h3>
                                    <ul>
                                        <li>
                                            Starting Price within Davao City
                                        </li>
                                        <li> Maximum Cargo Size: 7ft x 4 ft x 4ft </li>
                                        <li> Maximum Cargo Capacity: 1000kg </li>
                                        <li> Up to 6 Hours Overtime ( 150 per hour) </li>
                                        <li> Addition 400 per Day per Helper </li>
                                        <li> Driver and Fuel Included </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <hr />
                        <h3 class="col-md-12">Benefit of Cargo Service</h3>

                        <p class="col-md-8">
                            Cargo Services have changed companies and people transport goods and items in the country.
                            It made deliveries of items more accessible. For businesses, using a cargo service can reduce the
                            cost of acquiring a company delivery and hiring additional drivers and helpers to perform the
                            delivery. Also, additional maintenance and monitoring of the cargo can also be a burden to the
                            company. On the other hand, availing a cargo service can simplify the delivery process of the items
                            by using the existing monitoring systems setup by the cargo service providers. With our services,
                            businesses can focus on their own process and leave the delivery to the cargo service providers.&nbsp;
                        </p>

                        <img class="col-md-4" style="padding:0px 40px;" src="~/Images/CarRental/Home/Article/CargoDelivery/cargo-delivery-tracking.png" alt="cargo delivery tracking" />

                        <p class="col-md-12">
                            With the rise of online shopping platforms and having the option to deliver items to your door steps,
                            there is also an increase of demand for the cargo services.Moreover, online shop owners who have a
                            physical store and those who work from their homes greatly benefit from the convenience of the cargo
                            service. They can drop the clients orders at the nearest delivery office/stores and within a few days
                            the client can receive the package. Also, online payments and Cash-On-delivery options also made
                            it easy to process transactions for both buyers and sellers. Thus, this made cargo
                            services play an important role in every business process.
                        </p>
                    </div>

                    <div class="col-md-12">
                        <hr />
                        <h3>For Reservations and Inquiries</h3>
                            <p>
                                <a class="btn btn-default" href="mailto:inquiries.realwheels@gmail.com" title="call us">
                                    <img src="~/Images/Icons/icon-email-blk.png" alt="email us" width="20" />
                                    Email: inquiries.realwheels@gmail.com
                                </a>
                            </p>
                            <p>
                                <a class="btn btn-default" href="tel:+639292113987">
                                    <img src="~/Images/Icons/icon-call-blk.png" alt="call us" width="20" />
                                    Smart: +63 929-211-3987
                                </a>
                            
                                <a class="btn btn-default" href="tel:+639954508517">
                                    <img src="~/Images/Icons/icon-call-blk.png" alt="call us" width="20" />
                                    Globe: +63 995-450-8517
                                </a>
                            </p>

                    </div>
                </div>
            </div>
        </div>

        <!-- Left : Related Articles -->
        <div class="col-lg-4 col-md-2 mx-auto hidden" style="margin:100px auto">
            <h4> Services </h4>
            <ul>
                <li>
                    <a href="/Services/Airport-Hotel-Transfer"> Airport Hotel Transfer </a>
                </li>
                <li>
                    <a href="/Services/Business-Trip"> Business Trip </a>
                </li>
                <li>
                    <a href="/Services/City-Tour-Car-Rental"> City Tour Car Rental </a>
                </li>
                <li>
                    <a href="/Services/Corporate-Travel"> Corporate Travel </a>
                </li>
                <li>
                    <a href="/Services/Out-Of-Town-Trip"> Out of Town Trip </a>
                </li>
                <li>
                    <a href="/Services/Self-Drive"> Self Drive </a>
                </li>
                <li>
                    <a href="/Services/Special-Occasion"> Special Ocassion </a>
                </li>
                <li>
                    <a href="/Cargo-Delivery"> Cargo Delivery </a>
                </li>
                <li>
                    <a href="/Employee-Shuttle"> Employee-Shuttle </a>
                </li>
            </ul>
        </div>
    </div>

</article>
<hr />


<div id="ContactUs">
    @{Html.RenderPartial("Index_Footer");}
</div>