
@{
    ViewBag.Title = "Shuttle Service in Davao - Van, Innova, SUV - Car Rental Davao City";
    ViewBag.Description = "Realwheels rent a car offers affordable shuttle service in Davao City. We offer safe, comfortable and affordable services for everyone.";
    ViewBag.CanonicalURL = Context.Request.Url.AbsoluteUri;

    //Keyword : Shuttle Service Davao
}

<div class="jumbotron CarRental-Banner-Default no-margin">
    <h1> Shuttle Service Davao </h1>
</div>

<!-- Article Content -->
<article class="service service-page-container">
    <div class="container">
        <div class="col-lg-12 col-md-12 mx-auto no-padding">
            <div class="col-md-12 no-padding">
                <div class="entry-content">
                    <div class="col-md-12">
                        <div class="col-md-10">
                            <p style="font-size:16px;">
                                Realwheels Car Rental Davao offers shuttle service private and public companies in Davao City. Our company prioritize the
                                comfort, safety, and timely service to the destinations of our guests and clients. We offer affordable daily, weekly or
                                monthly rates with our wide range of Van vehicles.
                            </p>
                        </div>

                    </div>
                    <div class="col-lg-12">
                        <img class="col-md-3" src="~/Images/CarRental/Home/Article/ShuttleService/shuttle-car-safe.jpg" style="width:200px;" title="shuttle car service" alt="shuttle car service" />

                        <div class="col-md-7" style="padding:30px;">
                            @*<img class="col-md-4 service-img" src="~/Images/CarRental/Home/Article/CargoDelivery/door-to-door-delivery.png" alt="Door to Door Delivery Service" />*@

                            <h2>Comfortable Shuttle Service </h2>
                            <p>
                                Our vehicle offers comfort in every ride of our clients by cleaning and maintaining our vehicles after every service.
                                We offer Nissan Grandia Premium, Toyota Grandia Super and Toyota Grandia Tourer. With our wide variety of van vehicles,
                                we can assure our clients with a clean, fresh and spacious transportation service.
                            </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <img class="col-md-3" src="~/Images/CarRental/Home/Article/ShuttleService/secure-car-vector.jpg" style="width:200px;" title="safe car service" alt="safe car service"  />
                        <div class="col-md-7" style="padding:30px;">
                            @*<img class="col-md-4 service-img" src="~/Images/CarRental/Home/Article/CargoDelivery/schedule-delivery.png" alt="Schedule Delivery Service"  />*@

                            <h2>Safe Service</h2>
                            <p>
                                We insure that our service prioritizes safe above anything else. We trained our drivers to provide a safe travel experience
                                in every service. After every service, we regularly check and maintain our vehicles. You can have a peace of mind that you
                                are in the good hands.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <img class="col-md-3" src="~/Images/CarRental/Home/Article/ShuttleService/shuttle-car-service.jpg" style="width:200px;" title="timely car service" alt="timely car service"  />
                        <div class="col-md-7" style="padding:30px;">
                            @*<img class="col-md-4 service-img" src="~/Images/CarRental/Home/Article/CargoDelivery/schedule-delivery.png" alt="Schedule Delivery Service"  />*@

                            <h2>Timely Service</h2>
                            <p>
                                We insure that our service prioritizes safe above anything else. We trained our drivers to provide a safe travel experience
                                in every service. After every service, we regularly check and maintain our vehicles. You can have a peace of mind that you
                                are in the good hands.
                            </p>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <h3 class="col-md-10">Shuttle Service in Davao during MECQ</h3>

                        <p class="col-md-10">
                            The temporary implementation of MECQ in Davao City, the LTFRB encourages companies to hire shuttle services to transport their
                            employees. With this, hiring private shuttle service for companies reduce the risk of contacting the COVID-19 virus from public
                            transport. Call center agencies and government agencies benefit the most in hiring shuttle service in Davao.
                        </p>

                    </div>

                    <div class="col-md-12">
                        <hr />
                        <h3>For Reservations and Inquiries</h3>
                        <p>
                            <a class="btn btn-default" href="mailto:inquiries.realwheels@gmail.com" title="call us">
                                <img src="~/Images/Icons/icon-email-blk.png" alt="email us" width="20" />
                                Email: inquiries.realwheels@gmail.com
                            </a>
                        </p>
                        <p>
                            <a class="btn btn-default" href="tel:+639292113987">
                                <img src="~/Images/Icons/icon-call-blk.png" alt="call us" width="20" />
                                Smart: +63 929-211-3987
                            </a>

                            <a class="btn btn-default" href="tel:+639954508517">
                                <img src="~/Images/Icons/icon-call-blk.png" alt="call us" width="20" />
                                Globe: +63 995-450-8517
                            </a>
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <!-- Left : Related Articles -->
        @*<div class="col-lg-4 col-md-2 mx-auto hidden" style="margin:100px auto">
            <h4> Services </h4>
            <ul>
                <li>
                    <a href="/Services/Airport-Hotel-Transfer"> Airport Hotel Transfer </a>
                </li>
                <li>
                    <a href="/Services/Business-Trip"> Business Trip </a>
                </li>
                <li>
                    <a href="/Services/City-Tour-Car-Rental"> City Tour Car Rental </a>
                </li>
                <li>
                    <a href="/Services/Corporate-Travel"> Corporate Travel </a>
                </li>
                <li>
                    <a href="/Services/Self-Drive"> Self Drive </a>
                </li>
                <li>
                    <a href="/Services/Special Occasion"> Special Ocassion </a>
                </li>
                <li>
                    <a href="/Services/Cargo-Delivery"> Cargo Delivery </a>
                </li>
                <li>
                    <a href="/Services/Employee-Shuttle"> Employee-Shuttle </a>
                </li>
            </ul>
        </div>*@

    </div>

</article>
<hr />


<div id="ContactUs">
    @{Html.RenderPartial("Index_Footer");}
</div>