
@{
    ViewBag.Title = "Special occasions  - Car Rental Davao";
    ViewBag.Description = "Car Rental in Davao For different special occasions such as family gatherings, weddings, reunions and many more.";
    ViewBag.CanonicalURL = Context.Request.Url.AbsoluteUri;

    //Keyword : City Tour Car Rental Davao
}
<div class="jumbotron CarRental-Banner-Default no-margin">
    <h1> Services: Special occasions </h1>
</div>

<!-- Article Content -->
<article class="service service-page-container">
    <div class="container">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h3> Special occasions - Car Rental Davao  </h3>
            <hr />
            <div class="col-md-12">
                <p>
                    This type of service is for different occasions such as family gatherings, weddings, reunions and many more. Real Wheels always assess
                    vehicles that’s best for specific need. The company is open for discussion to make sure the needed services are properly tendered. The car
                    rental company Values every customer especially their comfort and safety.
                </p>
            </div>
        </div>

        <!-- Left : Related Articles -->
        <div class="col-lg-4 col-md-2 mx-auto" style="margin:100px auto">
            <h4> Services </h4>
            <ul>
                <li>
                    <a href="/Services/Airport-Hotel-Transfer"> Airport Hotel Transfer </a>
                </li>
                <li>
                    <a href="/Services/Business-Trip"> Business Trip </a>
                </li>
                <li>
                    <a href="/Services/City-Tour-Car-Rental"> City Tour Car Rental </a>
                </li>
                <li>
                    <a href="/Services/Corporate-Travel"> Corporate Travel </a>
                </li>
                <li>
                    <a href="/Services/Self-Drive"> Self Drive </a>
                </li>
                <li>
                    <a href="/Services/Special Occasion"> Special Ocassion </a>
                </li>
                <li>
                    <a href="/Services/Cargo-Delivery"> Cargo Delivery </a>
                </li>
                <li>
                    <a href="/Services/Shuttle-Service"> Shuttle Service </a>
                </li>
            </ul>
        </div>
    </div>

</article>
<hr />


<div id="ContactUs">
    @{Html.RenderPartial("Index_Footer");}
</div>