
@{
    ViewBag.Title = "Articles - Page 1";
    ViewBag.Description = "Realwheels Car Rental Articles ";
    ViewBag.CanonicalURL = Context.Request.Url.AbsoluteUri;
}

<!-- Article Template-->
<div class="jumbotron">
    <h1> Articles </h1>
    @*<h3> SubHeading of Articles </h3>*@
</div>

<div class="col-md-12">
    <a href="/Articles/Safe-Car-Rental-2021" title="Safe Car Rental">
        <div class="panel panel-default">
            <div class="panel-body media">
                <div class="media-left">
                    <img src="~/Images/CarRental/Home/Article/SafeRental/Article-Safe-Rental.jpg" width="170" alt="Safe Car Rental" title="Safe Car Rental" />
                </div>
                <div class="media-body">
                    <h3> Safe Car Rental 2021 </h3>
                    <p>  We ensure the safety and cleaniness of our car rental vehicles... </p>
                    <span class="text-muted"> May 7, 2021 </span>
                </div>
            </div>
        </div>
    </a>

    <a href="/Articles/1">
        <div class="panel panel-default">
            <div class="panel-body media">
                <div class="media-left">
                    <img src="~/Images/CarRental/Home/Article/Article-Car-Rental-Guide-2021.jpg" width="170" alt="How to book car rental " title="Safe Car Rental"  />
                </div>
                <div class="media-body">
                    <h3> How to Book Car Rental </h3>
                    <p>  A Guide on different ways how to book a car rental... </p>
                    <span class="text-muted"> May 12, 2021 </span>
                </div>
            </div>
        </div>
    </a>

    <a href="/Articles/1">
        <div class="panel panel-default">
            <div class="panel-body media">
                <div class="media-left">
                    <img src="~/Images/CarRental/Home/Article/QrCodeList/mindanao-qr-code-list-2021.jpg" width="170" />
                </div>
                <div class="media-body">
                    <h3> List of QR Registration in Mindanao 2021 </h3>
                    <p>  Updated List of QR Code Registration Links in Mindanao... </p>
                    <span class="text-muted"> May 10, 2021 </span>
                </div>
            </div>
        </div>
    </a>

    <a href="/Articles/1">
        <div class="panel panel-default">
            <div class="panel-body media">
                <div class="media-left">
                    <img src="~/Images/CarRental/Home/Article/Article-Why-Rent-A-Car.jpg" width="170" />
                </div>
                <div class="media-body">
                    <h3>  Why you should rent a car</h3>
                    <p>  Why You Should Rent a Car the Next Time You Visit Davao City... </p>
                    <span class="text-muted"> Dec 22,2020 </span>
                </div>
            </div>
        </div>
    </a>

    <a href="/Articles/1">
        <div class="panel panel-default">
            <div class="panel-body media">
                <div class="media-left">
                    <img src="~/Images/CarRental/Home/Article/Article-Why-Visit-Davao.jpg" width="170" />
                </div>
                <div class="media-body">
                    <h3> Why Visit Davao</h3>
                    <p>  Davao City, a highly urbanized coastal commercial city in the south of... </p>
                    <span class="text-muted"> Aug 15,2020 </span>
                </div>
            </div>
        </div>
    </a>

    <a href="/Articles/1">
        <div class="panel panel-default">
            <div class="panel-body media">
                <div class="media-left">
                    <img src="~/Images/CarRental/Home/Article/Article-Seating-Capacity.jpg" width="170" />
                </div>
                <div class="media-body">
                    <h3> Car Rental Seating Capacity </h3>
                    <p>  Seating Capacity of vehicles in Davao City... </p>
                    <span class="text-muted"> May 31,2020 </span>
                </div>
            </div>
        </div>
    </a>
</div>

