
@{
    ViewBag.Title = "Car Rental Seating Capacity";
}


<div class="jumbotron">
    <h1> Car Rental Seating Capacity </h1>
    <h3> New normal </h3>
</div>

<!-- Article Content -->
<article>
    <div class="container">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2>Seating Capacity of vehicles in Davao City</h2>
            <h5 style="color:gray"> May 31,2020 </h5>
            <hr />
            <p>
                Rent a car companies in Davao follows the convid-19 guidelines from the government. Passengers are required to maintain social distancing and wear masks within the vehicle. And regular disinfection for the vehicles before and after the trip.
            </p>

            <h2>Below is the suggested vehicle capacity (front seat not included)</h2>
            <p>
                Toyota Grandia Tourer - capacity of  5-7 pax
            </p>
            <p>
                Nissan Premium NV350 - capacity of 5-7 pax
            </p>
            <p>
                Toyota Grandia GL - suggested capacity of 4-6 pax
            </p>
            <p>
                Ford Everest - suggested capacity of 2-4 pax
            </p>
            <p>
                Mitsubishi Monterosport - suggested capacity of 2-4 pax
            </p>
            <p>
                Toyota Innova - suggested capacity of 2-4 pax
            </p>
            <p>
                Toyota Fortuner - suggested capacity of 2-4 pax
            </p>
            <p>
                Sedan - suggested capacity of 1-2pax
            </p>

            <h2>Mass Transport Resumption</h2>
            <p>
                Public transport/Jeepneys has resumed its operations with social distancing protocols and mask requirements.
            </p>
            <p>
                Additional public trips starting June 4, 2020
                Davao to Digos - departure time: 8am - 20-25 passengers point to point
                Digos to Davao - departure time: 8am - 20-25 passengers point to point
            </p>
            <p>
               Though some mass transport is going to resume anytime soon, there are still restrictions and health screening before traveling various areas in Davao and Mindanao.
            </p>

            <h2>Covid update in Davao June 4, 2020</h2>
            <p>
                Total Cases in Davao region: 359
                Davao City: 307
                Davao Del Norte: 16
                Davao Oriental: 17
                Davao Del Sur: 14
                Davao De Oro: 3
                Davao Occidental: 2 

            </p>

        </div>

    </div>

</article>
<hr />

