
@{
    ViewBag.Title = "List of QR Code Registration Links in Mindanao 2021";
    ViewBag.Description = " If you are planning a visit, here is why you should consider renting a car."
        + " In RealWheels Car Rental your safety is our priority. ";
    ViewBag.CanonicalURL = Context.Request.Url.AbsoluteUri;

    //Keyword : safe car rental, why you should rent a car davao, comfortable car rental
}

<style>
    .img-bg-car {
        background-image: url('/Images/CarRental/Home/Article/Article-car-moving.jpg');
        background-size: 100%;
        color: white;
        text-shadow: 1px 1px 1px black;
    }
</style>

<div class="jumbotron img-bg-car no-margin">
    <h1 style="font-size:50px;"> List of QR Code Registration Links in Mindanao 2021 </h1>
</div>

<!-- Article Content -->
<article style="background-color:white;padding:20px 0px 50px 0px;">
    <div class="container">
        <div class="col-lg-8 col-md-10 mx-auto">
            @*<h1>Why book with Real Wheels Car Rentals</h1>*@
            <h5 style="color:gray"> May 10,2021 </h5>
            <hr />
            <div class="col-md-12">
                <p>
                    Here are the List of common QR-Code used in Mindanao in checkpoints, government offices and establishments.
                </p>
            </div>

            <div class="col-md-12">
                <div>
                    <h2>Davao City </h2>
                    <p>
                        Link: 
                        <a href="https://profiles.safe-davao.com" target="_blank" rel="nofollow" class="btn btn-default">

                            https://profiles.safe-davao.com

                        </a>

                    </p>

                    <a href="https://profiles.safe-davao.com" target="_blank" rel="nofollow">
                        <img src="~/Images/CarRental/Home/Article/QrCodeList/davao-qr.png" width="100%" />
                    </a>
                    <p>
                        <b>Requirements:</b>
                        <br>1.	Valid ID
                        <br>2.	ID Picture
                        <br>3.	ID Picture holding valid the ID
                        <br>4.	Valid Email address
                        <br>5.	Valid Mobile Number
                        <br>
                        <br>QR code is generated after registration
                        <br>
                        <br>Download the App from the Play Store
                        <br><b>Safe Davao QR</b>
                        <hr />
                    </p>
                </div>
                <div>
                    <h2> Samal</h2>
                    <p>
                        Link:
                        <a href="https://itracsamal.com/qr_codes" target="_blank" rel="nofollow" class="btn btn-default">
                            https://itracsamal.com/qr_codes

                        </a>

                    </p>

                    <a href="https://itracsamal.com/qr_codes" target="_blank" rel="nofollow">
                        <img src="~/Images/CarRental/Home/Article/QrCodeList/samal-qr.png" width="100%" />
                    </a>
                    <p>
                        <b>Requirements:</b>
                        <br>1.	Company ID / Employment Certificate
                        <br>2.	Valid Government ID
                        <br>3.	Health Certificate Indicating not PUI or PUM (optional – for non-resident)
                        <br>
                        <br>QR code is generated after registration

                        <hr />
                    </p>
                </div>
                <div>
                    <h2>Digos</h2>
                    <p>
                        Link:
                        <a href="https://ccts.digoscity.ph/" target="_blank" rel="nofollow" class="btn btn-default">
                            https://ccts.digoscity.ph/
                        </a>

                    </p>
                    <a href="https://ccts.digoscity.ph/" target="_blank" rel="nofollow">
                        <img src="~/Images/CarRental/Home/Article/QrCodeList/digos-qr.png" width="100%" />
                    </a>
                    <p>
                        <br>For Resident, Click the Client
                        <br>For Non-Resident, Click the Other CCTS QR Code
                        <br>For Establishment, Click the Client
                        <br>
                        <br>
                        <b>Requirements:</b>
                        <br>1.	ID Picture
                        <br>2.	Valid Email Address
                        <br>3.	Valid Mobile Number
                        <br>4.	CCTS or QR Card (non-resident)
                        <br>
                        <br>QR code is generated after registration
                        <br>
                        <hr />
                    </p>
                </div>
                <div>
                    <h2>Malungon, Saranggani</h2>
                    <p>
                        Link:
                        <a href="https://malungon.ph/register/choose" target="_blank" rel="nofollow" class="btn btn-default">
                            https://malungon.ph/register/choose
                        </a>

                    </p>
                        <a href="https://malungon.ph/register/choose" target="_blank" rel="nofollow">
                            <img src="~/Images/CarRental/Home/Article/QrCodeList/malungon-qr.png" width="100%" />
                        </a>
                    <p>
                        <b>Requirements:</b>
                        <br>1.	Valid Mobile Number
                        <br>
                        <br>QR code is generated after registration
                        <br>
                        <hr />
                    </p>
                </div>
                <div>
                    <h2>Davao del Norte </h2>
                    <p>
                        Link:
                        <a href="https://davnorsystems.gov.ph/DavNorContactTracing/OnlineApplication/Registration" target="_blank" rel="nofollow" class="btn btn-default">
                            https://davnorsystems.gov.ph/DavNorContactTracing/OnlineApplication/Registration
                        </a>

                    </p>

                    <a href="https://davnorsystems.gov.ph/DavNorContactTracing/OnlineApplication/Registration" target="_blank" rel="nofollow">
                        <img src="~/Images/CarRental/Home/Article/QrCodeList/davnor-qr.png" width="100%" />
                    </a>
                    <p>
                        <b>Requirements:</b>
                        <br>1.	Valid ID
                        <br>2.	Attach a valid document with residency and birth date
                        <br>3.	ID Picture holding valid the ID
                        <br>4.	Valid Email address
                        <br>5.	Valid Mobile Number
                        <br>
                        <br>QR code requires 3 government working days to confirm your registration. Check regularly using your login during registration.
                        <br>
                        <hr />
                    </p>
                </div>
                <div>
                    <h2>Cotabato</h2>
                    <h4>Cotabato City, South Cotabato, North Cotabato, Sultan Kudarat, Butuan etc.</h4>
                    <p>
                        Link :
                        <a href="https://southcotabato.ph/web/Register/Citizen" target="_blank" rel="nofollow" class="btn btn-default">
                            https://southcotabato.ph/web/Register/Citizen 
                        </a>

                    </p>
                    <a href="https://southcotabato.ph/web/Register/Citizen" target="_blank" rel="nofollow">
                        <img src="~/Images/CarRental/Home/Article/QrCodeList/cotabato-qr.png" width="100%" />
                    </a>
                    <p>
                        <b>Requirements:</b>
                        <br>1.	Valid Email address
                        <br>2.	Valid Mobile Number
                        <br>
                        <br>QR code is generated after registration
                        <br>
                        <hr />
                    </p>
                </div>

                <div>
                    <h2>General Santos</h2>
                    <p>
                        Link: 
                        <a href="http://tapat.gensantos.gov.ph/tapatsystem/iregister" target="_blank" rel="nofollow" class="btn btn-default">
                            http://tapat.gensantos.gov.ph/tapatsystem/iregister
                        </a>

                    </p>
                    <a href="http://tapat.gensantos.gov.ph/tapatsystem/iregister" target="_blank" rel="nofollow">
                        <img src="~/Images/CarRental/Home/Article/QrCodeList/gensan-qr.png" width="100%" />
                    </a>
                    <p>
                        <b>Requirements:</b>
                        <br>1.	Valid Email address
                        <br>
                        <br>QR code is generated after registration
                        <br>
                        <hr />
                    </p>
                </div>

                <div>
                    <h2>Cagayan De Oro</h2>
                    <p>
                        Link :
                        <a href="https://higala.cagayandeoro.gov.ph/" target="_blank" rel="nofollow" class="btn btn-default">
                            https://higala.cagayandeoro.gov.ph/
                        </a>

                    </p>
                    <a href="http://tapat.gensantos.gov.ph/tapatsystem/iregister" target="_blank" rel="nofollow">
                        <img src="~/Images/CarRental/Home/Article/QrCodeList/cagayan-qr.png" width="100%" />
                    </a>
                    <p>
                        <b>Requirements:</b>
                        <br> 1.	Valid Email address
                        <br> 2.	Valid Mobile Number
                        <br>
                        <br> Download from the Higala App Playstore for Business Establishment / Checkpoints
                        <br>
                        <hr />
                    </p>
                </div>

                <div>
                    <h2>Surigao</h2>
                    <p>
                        Link :
                        <a href="https://covid19.ssct.edu.ph/sdn/register/healthpass" target="_blank" rel="nofollow" class="btn btn-default">
                            https://covid19.ssct.edu.ph/sdn/register/healthpass
                        </a>

                    </p>
                    <a href="http://tapat.gensantos.gov.ph/tapatsystem/iregister" target="_blank" rel="nofollow">
                        <img src="~/Images/CarRental/Home/Article/QrCodeList/surigao-qr.png" width="100%" />
                    </a>
                    <p>
                        <b>Requirements:</b>
                        <br> 1.	Valid Email address
                        <br> 2.	Valid Mobile Number
                        <br>
                        <br>
                        <hr />
                    </p>
                </div>

                <div>
                    <h2>Agusan Del Sur</h2>
                    <p>
                        Link: <a href="https://serve.pgas.ph/covid19qr" target="_blank" rel="nofollow" class="btn btn-default">
                            https://serve.pgas.ph/covid19qr
                        </a>

                    </p>
                    <a href="http://tapat.gensantos.gov.ph/tapatsystem/iregister"  target="_blank" rel="nofollow">
                        <img src="~/Images/CarRental/Home/Article/QrCodeList/agusan-qr.png" width="100%" />
                    </a>
                    <p>
                        <b>Requirements:</b>
                        <br> 1.	ID Picture
                        <br> 2.	Valid Email Address
                        <br> 3.	Valid Mobile Number
                        <br>
                        <hr />
                    </p>
                </div>

                <div>
                    <h3> Requirements </h3>
                    <p> IDs should have current address and birthdate, otherwise attach a document supporting your residency and birth date </p>
                    <p> Only image (jpg or png) and documents (pdf) formats are allowed </p>
                    <p> Acceptable Valid IDs: </p>
                    <ul>
                        <li> UMID </li>
                        <li> Voter’s ID</li>
                        <li> Driver's License</li>
                        <li> NBI Clearance</li>
                        <li> Police Clearance</li>
                        <li> Voter's Certificate</li>
                        <li> Barangay ID (with complete information)</li>
                        <li> School ID (with complete information)</li>
                        <li> Company ID (with complete information)</li>
                        <li> Passport (with supporting document for residency)</li>
                        <li> PRC ID (with supporting document for residency)</li>

                    </ul>

                    <p> Supporting Documents: </p>
                    <ul>
                        <li> Billing (Water, Electricity, Internet, Cable )</li>
                        <li> Cedula </li>
                        <li> Birth Certificate </li>
                        <li> Marrage Contract</li>
                        <li> Barangay Certificate of Residency </li>
                    </ul>
                </div>

                <div>
                    For Car Rental Bookings and Inquiries, Contact us
                    <p class="home-muted-p">
                        <b>Contact Us for Booking and Inquiries</b>
                    </p>
                    <p class="footer-details-p"> Landline: (+63) 82 333-5157 </p>
                    <p class="footer-details-p"> <a class="footer-call-link" title="Call Us Smart Mobile" href="tel:+639292113987">Smart: +63 929-211-3987</a> </p>
                    <p class="footer-details-p"> <a class="footer-call-link" title="Call Us Globe Mobile" href="tel:+639954508517">globe: +63 995-450-8517</a> </p>
                    <p class="footer-details-p"> <a class="footer-call-link" title="Call Us through Viber" href="viber://chat?number=639954508517">viber: +63 995-450-8517</a> </p>

                    <div class="col-md-12 col-xs-12" style="padding: 5px;"><a href="/CarRental/PriceQuote" class="btn btn-primary"><h3 style="margin: 5px 10px;">  Request A Qoute </h3> </a></div>
                    <div class="col-md-12 col-xs-12" style="padding: 5px;"><a href="/CarRental/Reservation" class="btn btn-primary"><h3 style="margin: 5px 10px;"> Go To Reservation</h3> </a></div>

                </div>
            </div>

            </div>

        <!-- Left : Related Articles -->
        <div class="col-lg-4 col-md-2 mx-auto" style="margin:100px auto">
            <h4> Related Articles </h4>
            <ul>
                <li>
                    <a href="/Articles/NewSeatCapacity"> New Seating Capacity </a>
                </li>
                <li>
                    <a href="/Articles/SUVRental"> SUV Rental </a>
                </li>
                <li>
                    <a href="/Articles/VisitDavao"> Visit Davao</a>
                </li>
                <li>
                    <a href="/Articles/WhyBook"> Why Book With Us </a>
                </li>
            </ul>
        </div>
    </div>

</article>
<hr />