
@{
    ViewBag.Title = "Safe Car Rental Services 2021";
    ViewBag.Description =
         " In RealWheels Car Rental your safety is our priority in this 2021. We regulary disfects and clean our vehicles every trip" +
         "to ensure cleaniness and safety of our guests and drivers.";
    ViewBag.CanonicalURL = Context.Request.Url.AbsoluteUri;

    //Keyword : safe car rental, covid free, clean car rental
}

<style>
    .img-bg-car {
        background-image: url('/Images/CarRental/Home/Article/Article-car-sunset.jpg');
        background-size: 100%;
        color: white;
        text-shadow: 1px 1px 1px white;
    }
</style>

<div class="jumbotron img-bg-car no-margin">
    <h1 style="font-size:50px;"> Safe Car Rental Services 2021 </h1>
</div>

<!-- Article Content -->
<article style="background-color:white;padding:20px 0px 50px 0px;">
    <div class="container">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2>Safety and Clean Car Rental Service in Davao</h2>
            <h5 style="color:gray"> May 10,2021 </h5>
            <hr />
            <div class="col-md-12">
                <p>
                    Here in Realwheels Rent A Car Davao, the safety of our guests is one of our top priority. In every trip, our
                    vehicles are regulary cleaned and disinfected. Our drivers are also tested beforehand and are healthy well protected
                    from any viruses. We also observe social distancing inside our vehicles, resulting in the reduced the
                    <a href="/Articles/NewSeatCapacity" title="">car rental seating capacity </a> in accordance to the IATF order.
                    We also complied an updated list of <a href="/Articles/mindanao-qr-code-list-2021" title="mindaao qr code registration links list 2021">
                        QR code registration links
                    </a>.
                </p>
            </div>

            <div class="col-md-12">
                <img src="~/Images/CarRental/Home/Article/SafeRental/Realwheel-disinfect-article.jpg"
                     style="margin:20px;width:100%;"
                     title="Safe Car Rental 2021 Disinfect" alt="Safe Car Rental 2021 Disinfect" />
            </div>
            <div class="col-md-12">

                <p>
                    <h4>  For Car Rental Bookings and Inquiries, Contact us</h4>
                </p>

                <p class="footer-details-p"> Landline: (+63) 82 333-5157 </p>
                <p class="footer-details-p"> <a class="footer-call-link" title="Call Us Smart Mobile" href="tel:+639292113987">Smart: +63 929-211-3987</a> </p>
                <p class="footer-details-p"> <a class="footer-call-link" title="Call Us Globe Mobile" href="tel:+639954508517">globe: +63 995-450-8517</a> </p>
                <p class="footer-details-p"> <a class="footer-call-link" title="Call Us through Viber" href="viber://chat?number=639954508517">viber: +63 995-450-8517</a> </p>

                <div class="col-md-12 col-xs-12" style="padding: 5px;"><a href="/CarRental/PriceQuote" class="btn btn-primary"><h3 style="margin: 5px 10px;">  Request A Qoute </h3> </a></div>
                <div class="col-md-12 col-xs-12" style="padding: 5px;"><a href="/CarRental/Reservation" class="btn btn-primary"><h3 style="margin: 5px 10px;"> Go To Reservation</h3> </a></div>

            </div>
        </div>

        <!-- Left : Related Articles -->
        <div class="col-lg-4 col-md-2 mx-auto" style="margin:100px auto">
            <h4> Related Articles </h4>
            <ul>
                <li>
                    <a href="/Articles/NewSeatCapacity"> New Seating Capacity </a>
                </li>
                <li>
                    <a href="/Articles/SUVRental"> SUV Rental </a>
                </li>
                <li>
                    <a href="/Articles/VisitDavao"> Visit Davao</a>
                </li>
                <li>
                    <a href="/Articles/WhyBook"> Why Book With Us </a>
                </li>
            </ul>
        </div>
    </div>

</article>
<hr />