
@{
    ViewBag.Title = "Rent A Van and Visit Davao City - RealWheels Davao Article";
}
<style>
    .img-bg-car {
        background-image: url('/Images/CarRental/Home/Article/Article-car-sunset.jpg');
        background-size: 100%;
        color: white;
        text-shadow: 1px 1px 1px black;
    }
</style>

<div class="jumbotron img-bg-car no-margin">
    <h1> Rent a Van and visit Davao City </h1>
</div>

<!-- Article Content -->
<article style="background-color:white;padding:20px 0px 50px 0px;">
    <div class="container">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h3>Rent a Van and enjoy your visit in Davao </h3>
            <h5 style="color:gray"> Aug 25,2020 </h5>

            <hr />

            <div class="col-md-12">

                <p>
                    Davao City, a highly urbanized coastal commercial city in the south of the country and nearest to Mt. Apo, has become a popular tourist destination in the Philippines and continue to increase its tourist arrivals not only for vacation but also for business purpose. Davao city, being the largest city in the country, has lots to offer to his spectators. The provincial breeze of fresh air from country side and clean warm air, a city that blends the nature and urban modern life, the multicultural heritage of Davao, the Durian capital, home of Philippine eagle, city at the foot of mt Apo, and lot more to see. This makes it a good reason to <a href="~/CarRental/van-for-rent">rent a van</a> for your family vacation and city tour.
                </p>
                <p>
                    Renting a van from <a href="~/CarRental/van-for-rent">Real Wheels van rental</a> is perfect to explore the city and soak up the atmosphere which Davao will not disappoint. <a href="~/CarRental/van-for-rent">Van rental</a> from Real Wheels Davao will allow you to experience the scenery of Davao’s country side, visit the beautiful beaches in Samal and roam around the city at ease. Using <a href="~/CarRental/van-for-rent">van rental</a> also allows you to visit and explore nearby tourist destinations outside Davao. Such as Dahican beach in Mati, Enchanted River and Tinuy-an falls in Surigao, Aliwagwag falls in Cateel, Davao Oriental and a lot more. Once you visit Davao, you must take the opportunity to visit and have a comfortable ride with the reliable <a href="~/CarRental/van-for-rent">van rental</a> in Davao.
                </p>
                <p>
                    Available units for van rentals are the following: (1) <a href="~/CarRental/van-for-rent">Toyota Grandia GL</a> – a standard 10-12 seater van for rent. Tested for several years of commercial existence in the market. (2) <a href="~/CarRental/van-for-rent">Toyota Super grandia</a> – a 10 seater van with 2 captain seats used for VIPs for business trips. (3) <a href="~/CarRental/NissanUrvanPremium-for-rent">Nissan Urvan Premium</a> – a huge van. High roof and long wheelbase that can comfortably accommodate 14 persons. Used for city and countryside tours for bigger groups.
                </p>

            </div>

        </div>



        <!-- Left : Related Articles -->
        <div class="col-lg-4 col-md-2 mx-auto" style="margin:100px auto">
            <h4> Related Articles </h4>
            <ul>
                <li>
                    <a href="/Articles/NewSeatCapacity"> New Seating Capacity </a>
                </li>
                <li>
                    <a href="/Articles/SUVRental"> SUV Rental </a>
                </li>
                @*<li>
                        <a href="/Articles/VisitDavao"> Visit Davao</a>
                    </li>*@
                <li>
                    <a href="/Articles/WhyBook"> Why Book With Us </a>
                </li>
            </ul>
        </div>
    </div>

</article>
<hr />
<!-- Related Articles
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3> Latest Updates </h3>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-3">
            <img src="~/Images/CarRental/hondacity_primary.jpg" width="200" />
            <h4> Articles </h4>
            <p>
                Write something here for the article...
            </p>
            <p> <a href="/Articles/Article1"> View Article </a> </p>
        </div>

        <div class="col-lg-3">
            <img src="~/Images/CarRental/hondacity_primary.jpg" width="200" />
            <h4> Articles </h4>
            <p>
                Write something here for the article...
            </p>
            <p> <a href="/Articles/Article1"> View Article </a> </p>
        </div>

        <div class="col-lg-3">
            <img src="~/Images/CarRental/hondacity_primary.jpg" width="200" />
            <h4> Articles </h4>
            <p>
                Write something here for the article...
            </p>
            <p> <a href="/Articles/Article1"> View Article </a> </p>
        </div>

    </div>
</div>


    -->
