@model IEnumerable<JobsV1.Areas.Personel.Models.HrSalary>

@{
    int personnelId = Convert.ToInt32(ViewData["personnelId"]);
}

<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-12">
            <h3>
                Salary
            </h3>
        </div>
        <div class="col-lg-12">
            <a href="" id="catbtn" data-toggle="modal" data-target="#perSalaryModal" style="margin-bottom:10px;">Add Salary</a>
            @foreach (var salary in Model)
            {
                <p>
                    @salary.RatePerHr /hr - 
                    @salary.DtStart.ToString("MMM dd yyyy")
                    @Html.ActionLink("[x]", "RemoveSalary", new { id = salary.Id })
                </p>
            }
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="perSalaryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Enter Rate per Hour</h4>
                </div>
                <div class="modal-body" id="modal2-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <span class="control-label col-md-2"> Rate </span>
                            <input class="form-control" type="number" id="rateTxt" onkeypress='validate(event)' value="50" />
                        </div>
                    </div>    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" onclick="addPerSkills(@personnelId)">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
@*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
@*<script src="~/Scripts/DateRangePicker/moment.min.js"></script>*@
<script>
    
    //prevent invalid inputs 
    function validate(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
            // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }

    //handle numbers only on input
    $('#rateTxt').on('input',function(){
        //backspace
        if( isNaN($('#rateTxt').val())){
            var txt = $('#rateTxt');
            txt.val(txt.val().slice(0, -1));
        }

        if($('#rateTxt').val() < 0){
            $('#rateTxt').val(0);
        }
    });

    //set skills and proficieny for the user
    function addPerSkills(PersonnelId) {
        var rate = $('#rateTxt').val();

        //build json object
        var data = {
            custId: 0
        };

        //request data from server using ajax call
        $.ajax({
            url: '/Personel/HrPersonels/AddSalary?id=' + PersonnelId + '&Rate=' + rate ,
            type: "POST",
            data: JSON.stringify(data),
            dataType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log("SUCCESS");
            },
            error: function (data) {
                //console.log("ERROR");
                //console.log(data);
                refreshPage()
            }
        });
    }

    
    function refreshPage() {
        location.reload();
    }
</script>