@model JobsV1.Areas.Personel.Models.HrPersonel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2>
    @Html.DisplayFor(model => model.Name)
    
</h2>
<h4>
    @ViewBag.latestPosition
</h4>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/DateRangePicker/moment.min.js"> </script>
@*<script src="~/Areas/Personel/Script/DateRangePicker/daterangepicker.js"> </script>*@

@{Html.RenderPartial("PartialView_SSalary", (IEnumerable<JobsV1.Areas.Personel.Models.HrSalary>)ViewBag.salaryDetails, new ViewDataDictionary { { "PersonnelId", Model.Id } });}
@{Html.RenderPartial("PartialView_SPayroll", (IEnumerable<JobsV1.Areas.Personel.Models.HrPayroll>)ViewBag.payrollDetails, new ViewDataDictionary { { "PersonnelId", Model.Id } });}
@{Html.RenderPartial("PartialView_SDTR", (IEnumerable<JobsV1.Areas.Personel.Models.HrDtr>)ViewBag.dtrDetails, new ViewDataDictionary { { "PersonnelId", Model.Id } , { "dtrList", ViewBag.dtrList }, { "dtrStatus", ViewBag.dtrStatus }, { "rateList", ViewBag.rateList } });}