
@{
    ViewBag.Title = "Self Drive Rental | Davao Car rental Self Drive | Davao City, Philippines";
    ViewBag.Description = "Self Drive Rental: Car Rental Self drive in Davao. Available for Self-drive and with driver car rental options, Long term and short term rental contracts. Rent-a-car service from Davao City, Philipines.";
    ViewBag.CanonicalURL = "https://realwheelsdavao.com/ads/rent-a-car-davao-city-self-drive/";
}

<div class="jumbotron">

    <h1>Self Drive Rental Davao</h1>
    <p>
        Car Rental - Self drive
    </p>

</div>
<div class="container">

    <div class="col-lg-8 ads-desc-box">
        <div class="col-lg-12 ">
            <img src="~/Images/CarRental/rush/Toyota-Rush-2019.gif" alt="realwheelsdavao ford-everest" class="img-thumbnail ads-desc-img-primary" />

        </div>

        <div class="col-lg-12 ads-desc-img-box">
            <a href="~/Images/CarRental/hondacity/Honda-city-2018.jpg" target="_blank">
                <img src="~/Images/CarRental/hondacity/Honda-city-2018.jpg" alt="Honda City 2018" class="img-thumbnail ads-desc-img-box-gallery" />
            </a>
            <a href="~/Images/CarRental/CarViews/ToyotaInnova/Toyota-innova.png" target="_blank">
                <img src="~/Images/CarRental/CarViews/ToyotaInnova/Toyota-innova.png" alt="SUV-Toyota-Innova" class="img-thumbnail ads-desc-img-box-gallery" />
            </a>
            <a href="~/Images/CarRental/innova/toyota-innova.jpg" target="_blank">
                <img src="~/Images/CarRental/innova/toyota-innova.jpg" alt="Toyota-Innova" class="img-thumbnail ads-desc-img-box-gallery" />
            </a>
        </div>

        <div class="col-lg-12">
            <h2> Why rent with self drive?</h2>
            <p>
                <br />Full control of your travel and time.
                <br />Privacy and no extra person(driver) to worry
                <br /> 
                <br />
                <br />
                
            </p>
            <h2>
                Self Drive Rental Service options
            </h2>
            <p>
                <br />1. Special Events, vacation and occasions
                <br />2. Business Meeting, Company Visit and other corporate needs
                <br />3. Personal and Vacation needs
                <br />4. Airport Service Package (Pickup - Drop Off)
                <br />5. Offered in Self Drive / With driver options
                <br />6. Open for Weekly, Monthly, Yearly contracts
                <br />
                <br />
            </p>
            <hr />
            <p>
                <h3>For Booking and Reservations</h3>
            <a class="btn btn-default" style="margin-bottom:5px;" href="tel:+63 926-733-5449"> Globe: +63 926-733-5449 </a>
            <br /><a class="btn btn-default" style="margin-bottom:5px;" href="tel:+63 909-076-1575">Smart: +63 909-076-1575 </a>
            <br /><a class="btn btn-default" style="margin-bottom:5px;" href="mailto: Inquiries.RealWheels@gmail.com">email: Inquiries.RealWheels@gmail.com </a>
            <br />
            </p>
        </div>

        @{Html.RenderPartial("CarViews/TagsView");}


    </div>


    <div class="col-lg-4 ads-tech-details">
        <h2>
            Cars for Self-drive
        </h2>
        <p>
            <br /> Manufacturer: <b>Toyota</b>
            <br /> Model:        <b>Innova 2019</b>
            <br /> Transmission: <b>4x2 Automatic Diesel</b>
        </p>
        <p>
            <br /> Manufacturer: <b>Toyota</b>
            <br /> Model:        <b>Rush 2019</b>
            <br /> Transmission: <b>4x2 Automatic Gasoline</b>
        </p>
        <p>
            <br /> Manufacturer: <b>Honda</b>
            <br /> Model:        <b>City 2018</b>
            <br /> Transmission: <b>4x2 Automatic Gasoline</b>
        </p>
        <p>
            <br /> Manufacturer: <b>Toyota</b>
            <br /> Model:        <b>Fortuner 2011</b>
            <br /> Transmission: <b>4x4 Automatic Diesel</b>
        </p>

        <p>
            <br /> Manufacturer: <b>Toyota</b>
            <br /> Model:        <b>Fortuner 2015</b>
            <br /> Transmission: <b>4x2 Automatic Diesel</b>
        </p>
        <p>
            <br /> Manufacturer: <b>Mitsubishi</b>
            <br /> Model:        <b>Monterosports 2015</b>
            <br /> Transmission: <b>4x4 Automatic Diesel</b>
        </p>
        <p>
            <br /> Manufacturer: <b>Toyota</b>
            <br /> Model:        <b>Innova 2015</b>
            <br /> Transmission: <b>4x2 Manual Diesel</b>
        </p>
    </div>


    @{Html.RenderPartial("CarViews/PopularAdsView");}
</div>