
@{
    ViewBag.Title = "Gms AutoCare Dashboard";
}
<style>
    .panel {
        border: 1px solid lightgray;
        padding: 20px;
    }
</style>
<div class="col-md-12">
    <h2 class="pull-left"> Monitoring </h2>

    <select class="form-control pull-left" name="month" id="select-month" style="margin:15px 5px 15px 20px;width:130px;">
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">Decemeber</option>
    </select>

    <button class="btn btn-default pull-left" onclick="GetJobsCountData()"  style="margin:15px 0px;"> Update </button>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <h2 class="pull-left">Jobs Count </h2>
            <canvas id="JobsCount-bar" width="300" height="100"></canvas>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-3">
        <div class="panel">
            <h3 class="text-muted"> Jobs Count  </h3>
            <h2 class="text-primary">120 Jobs </h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel">
            <h3 class="text-muted"> Total Sales  </h3>
            <h2 class="text-success">P 1,000.00 </h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel">
            <h3 class="text-muted"> Collectibles  </h3>
            <h2 class="text-warning">P 1,000.00 </h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel">
            <h3 class="text-muted"> Total Discount  </h3>
            <h2 class="text-info">P 1,000.00 </h2>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="panel">
            <h2 class="pull-left"> Mechanic Oils </h2>
            <canvas id="MechanicOils-bar" width="100" height="150"></canvas>
        </div>
    </div>
    <div class="col-md-8 no-padding">
        <div class="col-md-12">
            <div class="panel">
                <h2 class="pull-left"> Sales </h2>
                <canvas id="Sales-line" width="300" height="100"></canvas>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel">
                <h2 > Appointments </h2>
                <p class="text-muted">Top appointments for today </p>
                <table class="table">
                    <tr>
                        <th> Name </th>
                        <th> Date </th>
                        <th> Service </th>
                    </tr>
                    <tr>
                        <td>
                            John
                        </td>
                        <td>
                            Aug 25, 2020
                        </td>
                        <td>
                            Change Oil
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/Chartjs/Chart.js"></script>
    <script>
        $(() => {
            //initial
            GetJobsCountData();

            Update_MechOils();

            Update_Sales();
        });

        function Update_dash_jobsCount(dataResult) {
            //prep labels
            var data_labels = [];
            var data_set = [];
            var data_color = [];

            for (var i = 0; i < dataResult.length; i++) {

                //get label
                var dateString = moment(dataResult[i].Date).format("MM/DD");
                //console.log(dateString);
                data_labels.push(dateString);

                //update data
                data_set.push(dataResult[i].Total);

                data_color.push('rgba(54, 162, 235, 1)'); //blue
            }


            //Chart.defaults.scale.gridLines.drawOnChartArea = false;

            // Line graph sample
            var ctx_bar = document.getElementById('JobsCount-bar').getContext('2d');
            var myChart = new Chart(ctx_bar, {
                type: 'bar',
                data: {
                    labels: data_labels,
                    datasets: [{
                        label: ' Jobs Count',
                        data: data_set,
                        backgroundColor: data_color
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                            }
                        }],

                        xAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            }
                        }]
                    }
                }
            });
        }

        function GetJobsCountData() {
            $.get('/AutoCare/Home/GetJobsCount', null, (result) => {
                console.log(result);
                Update_dash_jobsCount(result);
            });
        }


        function Update_MechOils() {
            //prep labels
            var data_labels = [];
            var data_set = [];
            var data_color = [];

            //for (var i = 0; i < dataResult.length; i++) {

            //    //get label
            //    var dateString = moment(dataResult[i].Date).format("MM/DD");
            //    //console.log(dateString);
            //    data_labels.push(dateString);

            //    //update data
            //    data_set.push(dataResult[i].Total);

            //    data_color.push('rgba(54, 162, 235, 1)'); //blue
            //}


            //Chart.defaults.scale.gridLines.drawOnChartArea = false;

            // Line graph sample
            var ctx_bar = document.getElementById('MechanicOils-bar').getContext('2d');
            var myChart = new Chart(ctx_bar, {
                type: 'horizontalBar',
                data: {
                    labels: ['John','Mike','Leo','Henry'],
                    datasets: [{
                        label: 'Oils',
                        data: [10,20,13,15],
                        backgroundColor: data_color
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                            }
                        }],

                        xAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            }
                        }]
                    }
                }
            });
        }


        function Update_Sales() {
            //prep labels
            var data_labels = [];
            var data_set = [];
            var data_color = [];

            //for (var i = 0; i < dataResult.length; i++) {

            //    //get label
            //    var dateString = moment(dataResult[i].Date).format("MM/DD");
            //    //console.log(dateString);
            //    data_labels.push(dateString);

            //    //update data
            //    data_set.push(dataResult[i].Total);

            //    data_color.push('rgba(54, 162, 235, 1)'); //blue
            //}


            //Chart.defaults.scale.gridLines.drawOnChartArea = false;

            // Line graph sample
            var ctx_bar = document.getElementById('Sales-line').getContext('2d');
            var myChart = new Chart(ctx_bar, {
                type: 'line',
                data: {
                    labels: ['June', 'July', 'August', 'Sept'],
                    datasets: [{
                        label: 'Sales',
                        data: [65000, 55120, 45213, 58215],
                        backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                        borderColor: ['rgba(54, 162, 235, 1)'],
                        pointBackgroundColor: ['DodgerBlue', 'DodgerBlue', 'DodgerBlue','DodgerBlue']
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                            }
                        }],

                        xAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            }
                        }]
                    }
                }
            });
        }

    </script>

} 