@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
    <div class="container" style="margin:10px auto;text-align:center;background-color:white;padding:50px;" >
        <img src="~/Images/Icons/error.JPG" />
        <h1 class="text-danger">Something went wrong</h1>
        <h3 class="text-info">Something must be broken or </h3>
        <h3 class="text-info">you entered an URL that doesn't exist on this site.</h3>
        <a href="../">
            <button class="btn btn-primary"> Go back to Home </button>
        </a>
    </div>