

<div class="panel panel-default dash-card-md" id="dash-panel-joborder" style="max-height:1500px;">
    <div class="panel-body" style="padding: 0px;">

        <div class="panel-body-header">
            <h3>Jobs Orders</h3>
            <p> Showing ongoing jobs for today </p>
        </div>
        <div class="table-scrollable">
            <table class="table">

                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    @*<th class="hidden-on-mobile">Status</th>*@
                    <th>Amount</th>
                </tr>

                <tbody id="JobsTable">

                </tbody>

                @*
                <tr>
                    <td>
                        <span style="font-weight:600;">123</span>
                    </td>
                    <td style="min-width:140px;">
                        <p class="no-margin-bottom text-bold"> Car Rental Davao City Area</p>
                        <span class="text-muted">Jan 3 - Jan 6</span>
                    </td>
                    <td>
                        <span class="label label-primary">Confirmed</span><br />
                        <span class="text-success"> P7,000 </span>
                    </td>
                    <td>
                    </td>
                </tr>
                *@
            </table>
        </div>
    </div>
</div>