

<div class="panel panel-default dash-card-md"  >
   
    <div class="panel-body">

        <div class="panel-body-header">
            <h3>
                Notifications
            </h3>
        </div>
        <div class="table-scrollable">
            <table class="table">
                <tbody id="NotificationsTable">

                @*</tbody>
                <tr>
                    <td>
                        <span class="text-muted"> Job Orders </span><br />
                        2 Unassiged Jobs
                    </td>
                </tr>*@
             
                
            </table>
        </div>
    </div>
</div>