

<div class="panel panel-default dash-card-md" >
    <div class="panel-body">

        <div class="panel-body-header">
            <h3>Expenses / Collection for this Month</h3>
        </div>

        <div class="panel-body">

            <h4> Expenses </h4>
            <h4> P Amount</h4>
            <br />

            <h4> Collected </h4>
            <h4> P Amount</h4>
            <br />

            <h4> For Collection </h4>
            <h4> P Amount</h4>
            <br />

        </div>
       
    </div>
</div>