

<div class="panel panel-default dash-card-md" >
    <div class="panel-body">

        <div class="panel-body-header">
            <h3>Expenses</h3>
            <p> Showing tranasactions encoded and due today </p>
        </div>
        <table class="table">
            <tr>
                <th>Description</th>
                <th>Status</th>
                <th>Amount</th>
            </tr>

            <tbody id="ExpensesTable">

            </tbody>
            @*<tr>
                <td>
                    <span> Change Oil Shell Toyota Innova</span>
                    <br />
                    <span class="text-muted"> Jan 6 2022</span>
                </td>
                <td>
                    <span class="label label-primary">Request</span>
                </td>
                <td>
                    2500
                </td>
            </tr>*@
           
        </table>
    </div>
</div>