@{ 

    var MenuList = ViewBag.Menu as List<JobsV1.Models.SysMenu>;
}

<div class="col-sm-1 col-md-1 dashboard-sidebar">

    <ul class="sidebar-menu">
        <li class="sidebar-header">MAIN NAVIGATION</li>
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">
                <li><a href="../../index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
            </ul>
        </li>

        @foreach (var menu in MenuList.Where(m => m.ParentId == 0))
        {

            <li>
                <a href="#">

                    @if (menu.SysServiceMenus.Count() > 0)
                    {
                        if (menu.SysServiceMenus.First().SysService.IconFA != null)
                        {
                            <i class="fa fa-@menu.SysServiceMenus.First().SysService.IconFA"></i>
                        }
                        else
                        {

                            <i class="fa fa-files-o"></i>
                        }
                    }
                    else
                    {
                        <i class="fa fa-files-o"></i>
                    }
                    <span> @menu.Menu </span> <i class="fa fa-angle-left pull-right"></i>
                    @*<span class="label label-primary pull-right">4</span>*@
                </a>
                <ul class="sidebar-submenu" style="display: none;">
                    @foreach (var submenu in MenuList.Where(m => m.ParentId == menu.Id))
                    {
                        <li><a href="Module/Menu/@submenu.Id"><i class="fa fa-circle-o"></i> @submenu.Menu </a></li>
                    }
                </ul>
            </li>
        }


        <li>
            <!-- Reports -->
            <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Reports</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">
                <li><a href="/Reporting/JobSummary"><i class="fa fa-circle-o"></i> Jobs Summary</a></li>
                <li><a href="/Payables/ApTransactions/ReleasedWeekly"><i class="fa fa-circle-o"></i> Expenses Report</a></li>
                <li><a href="/Receivables/ArReports/Monthly"><i class="fa fa-circle-o"></i> Receivables Report</a></li>
            </ul>
        </li>

        @*
        <li>
            <a href="#">
                <i class="fa fa-files-o"></i>
                <span> Job Orders </span>
                <span class="label label-primary pull-right">4</span>
            </a>
            <ul class="sidebar-submenu" style="display: none;">
                <li><a href="/JobOrder"><i class="fa fa-circle-o"></i> Work in Progress</a></li>
                <li><a href="/JobMains/ActiveJobs"><i class="fa fa-circle-o"></i> Quick List </a></li>
                <li><a href="/JobOrder/JobListing"><i class="fa fa-circle-o"></i> Job Listing </a></li>
                <li><a href="/JobMains/TripListing"><i class="fa fa-circle-o"></i> Trip Listing </a></li>
                <li><a href="/InvItems/Availability"><i class="fa fa-circle-o"></i> Availability </a></li>
            </ul>
        </li>
        <li>
            <a href="#">
        <i class="fa fa-flag"></i>
        <span>Sales Leads</span>
        <span class="label label-success pull-right">5</span>
        </a>
        <ul class="sidebar-submenu">
            <li><a href="/SalesLeads"><i class="fa fa-circle-o"></i> Sales Lead</a></li>
            <li><a href="/CarReservations"><i class="fa fa-circle-o"></i> Car Reservations </a></li>
        </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-users"></i> <span>Customers</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">
                <li><a href="/CustEntMains"><i class="fa fa-circle-o"></i> Companies </a></li>
                <li><a href="/Customers"><i class="fa fa-circle-o"></i> Contacts </a></li>
                <li><a href="/PortalCustomers"><i class="fa fa-circle-o"></i> Customer Portal </a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-address-book"></i> <span>Suppliers</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu" style="display: none;">
                <li><a href="/Suppliers"><i class="fa fa-circle-o"></i> Supplier List</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-car"></i> <span> Items </span>  <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">
                <li><a href="/InvItems"><i class="fa fa-circle-o"></i> Units </a></li>
                <li><a href="/InvItems/Availability"><i class="fa fa-circle-o"></i> Availability </a></li>
                <li><a href="/InvCarGateControls"><i class="fa fa-circle-o"></i> Gate Control </a></li>
                <li><a href="/InvItems/Maintenance"><i class="fa fa-circle-o"></i> Maintenance Summary </a></li>
                <li><a href="/InvCarRecords"><i class="fa fa-circle-o"></i> Maintenance </a></li>
                <li><a href="/InvCarMntRcmds"><i class="fa fa-circle-o"></i> Recommendation </a></li>
            </ul>
        <li>
            <a href="../widgets.html">
                <i class="fa fa-address-book-o"></i> <span> Trip Logs </span>
                <span class="label label-primary pull-right">15</span>
            </a>
            <ul class="sidebar-submenu">
                <li><a href="/Personel/CarRentalLog"><i class="fa fa-circle-o"></i> Trip Logs </a></li>
                <li><a href="/Personel/crLogDrivers"><i class="fa fa-circle-o"></i> Drivers </a></li>
                <li><a href="/Personel/crLogCompanies"><i class="fa fa-circle-o"></i> Accounts </a></li>
                <li><a href="/Personel/CarRentalCashRelease"><i class="fa fa-circle-o"></i> Cash Trx </a></li>
                <li><a href="/Personel/CrLogFuels"><i class="fa fa-circle-o"></i> Expenses </a></li>
                <li><a href="/Personel/crLogPassengerMasters"><i class="fa fa-circle-o"></i> Passengers </a></li>
                <li><a href="/Personel/crRptUnitExpenses"><i class="fa fa-circle-o"></i> Reports </a></li>
            </ul>
        </li>
        <li>
            <a href="../widgets.html">
                <i class="fa fa-money"></i> <span> Receivables </span>
                <span class="label label-primary pull-right">8</span>
            </a>
            <ul class="sidebar-submenu">
                <li><a href="/Receivables/ArTransactions"><i class="fa fa-circle-o"></i> Receivables </a></li>
                <li><a href="/Receivables/ArAccounts"><i class="fa fa-circle-o"></i> Accounts </a></li>
                <li><a href="/Receivables/ArMgt/Settlement"><i class="fa fa-circle-o"></i> For Settlement </a></li>
            </ul>
        </li>
        <li>
            <a href="../widgets.html">
                <i class="fa fa-dollar"></i> <span> Expenses </span>
                <span class="label label-primary pull-right">12</span>
            </a>
            <ul class="sidebar-submenu">
                <li><a href="/Payables/ApTransactions"><i class="fa fa-circle-o"></i> Expenses </a></li>
                <li><a href="/Payables/ApAccounts"><i class="fa fa-circle-o"></i> Contacts </a></li>
            </ul>
        </li>

        <li>
            <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Reports</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">
                <li><a href="/Reporting/JobSummary"><i class="fa fa-circle-o"></i> Jobs Summary</a></li>
                <li><a href="/Payables/ApTransactions/ReleasedWeekly"><i class="fa fa-circle-o"></i> Expenses Report</a></li>
                <li><a href="/Receivables/ArReports/Monthly"><i class="fa fa-circle-o"></i> Receivables Report</a></li>
            </ul>
        </li>*@
    </ul>
    <section class="sidebar-fill-in">

    </section>
</div>

