
<div class="col-md-12"  style="padding:0px;">
    <div class="col-sm-12 col-md-12 col-lg-6 ">
        <div class="flex-inline-row dash-summary">
            <div class="dash-card">
                <p class="sub-desc">Total Sales @ViewBag.Month</p>
                <h3 id="Sales-TotalAmount">$0</h3>
            </div>
            <div class="dash-card">
                <p class="sub-desc">Total Expenses @ViewBag.Month</p>
                <h3 id="Expenses-TotalAmount">$0</h3>
            </div>

            <div class="dash-card">
                <p class="sub-desc">Active Jobs Today</p>
                <h3 id="ActiveJobsCount"> 0 </h3>
            </div>
            @*<div class="dash-card">
                    <p class="sub-desc">Available Units</p>
                    <h3> 5 of 12</h3>
                </div>*@
        </div>
        <div class="flex-inline-row">
            @*<div class="dash-card-lg sales-chart" style="flex-grow: 1;">
                    <canvas id="myChart-jobs"></canvas>
                </div>*@
            <div class="dash-card-lg sales-chart" style="flex-grow: 1;">
                <div style="width:220px;display:flex;" class="pull-right">
                    <select class="form-select form-control" id="trip-chart-Month">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>

                    <select class="form-select form-control" id="trip-chart-Year">

                        @foreach (var year in ViewBag.Years as List<int>)
                        {

                            <option value="@year">@year</option>
                        }
                    </select>
                </div>
                <canvas id="myChart-triplogs"></canvas>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="flex-inline-row">

            @{Html.RenderPartial("_JobOrdersView");}
        </div>
    </div>
</div>
