

<div class="panel panel-default dash-card-md" style="flex-grow:2;" >

    <div class="panel-body">
        <div class="panel-body-header">
            <h3>
                Trip Logs
            </h3>
        </div>
        <div class="table-scrollable">
            <table class="table">
                <tr class="th-sticky">
                    <th>Unit</th>
                    <th>Driver</th>
                    <th>Company</th>
                    <th>Job #</th>
                </tr>
                <tbody id="TripLogsTable">

                </tbody>
                @*<tr>
                    <td>
                        <i class="fa fa-car"> </i>
                        Toyota Super Grandia (AOA 5108)
                    </td>
                    <td>
                        <i class="fa fa-user"> </i>
                        Kelvin Malacad
                    </td>
                    <td>
                        <span >123</span>
                    </td>
                </tr>*@
            </table>
        </div>
    </div>
</div>