

@{
    ViewBag.Title = "Create Notification";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}


<h3>Notification Recipients</h3>
<h4> Notification ID: @ViewBag.notifId</h4>

<div class="row">

    <div class="col-lg-6 panel panel-default" style="padding:20px;">

        <div class="modal-body row" id="r-Table">

            <table class="table">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Mobile</th>
                    </tr>
                </thead>
                <tbody id="recipientTable">
                    <tr>
                       
                    </tr>
                </tbody>

            </table>
            <a href="#" id="catbtn" data-toggle="modal" data-target="#addRecipientModal"> Add Recipient </a>
        </div>
        <button class="btn btn-default pull-right" onclick="SubmitRecipientList();"> Submit </button>
    </div>
</div>

<hr />
<div class="row">
    @Html.ActionLink("Back to List", "Index")
</div>

@{ Html.RenderPartial("RecipientAdd", new ViewDataDictionary { { "Customers", ViewBag.Customers }, { "notifId", ViewBag.notifId } }); }
@{ Html.RenderPartial("RecipientEdit", new ViewDataDictionary { { "Customers", ViewBag.Customers }, { "notifId", ViewBag.notifId } }); }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/CustNotif/CustNotifs.js"></script>
    <script>
        $.ready(ajax_UpdateList());
    </script>
}

