
<!-- Add Clause Edit Modal -->
<div class="modal fade" id="recipientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Notification Recipients</h4>
            </div>

            <div class="modal-body row" id="modal2-content">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Mobile</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Some data here..
                            </td>
                            <td> 
                                Some data here.. 
                            </td>
                            <td> 
                                <a href="#" onclick="RemoveRecipient()"> Remove</a>
                             </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <a href="#" id="catbtn" data-toggle="modal" data-target="#addRecipientModal" > Add Recipient </a> |
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="editDescBtn" onclick="ajax_createSupContact()">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

    //ADDRESS EDIT
    function ajax_addRecipient() {
        //build json object
        var data = {
        
        };

        console.log(data);

        var url = '/Suppliers/CreateSupContact';

        //Post data from server using ajax call
        $.ajax({
            url: url,
            type: "POST",
            data: data,
            dataType: 'application/json; charset=utf-8',
            success: function (data) {
                // console.log("SUCCESS");
            },
            error: function (data) {
                // console.log("ERROR");
                console.log(data);
                location.reload();
            }
        });
    }

</script>