@model IEnumerable<JobsV1.Areas.Products.Models.SmFile >

@{
    int prodId = Convert.ToInt32(ViewData["prodId"]);
}
@{
    ViewBag.Title = "Details";
}
<div class="row">

    <div class="col-lg-12">
        <div class="col-lg-12">
            <h3>
                File Link
            </h3>
        </div>
        <div class="col-lg-12">
            @foreach (var file in Model)
            {
                <p>
                   <a href="@file.Link" target="_blank" >@file.Desc</a> 
                   <a onclick="removeFile('@file.Id','@file.Desc');">[x]</a> 
                    @*@Html.ActionLink("[x]", "RemoveFile", new { id = file.Id })*@
                </p>
            }
            <a href="" id="catbtn" data-toggle="modal" data-target="#prodFilesModal" style="margin-bottom:10px;">Add File</a>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="prodFilesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add File</h4>
                </div>

                <div class="modal-body row" id="modal2-content">
                    <div class="modal-body row" id="modal2-content">
                        <div class="form-group" style="display:none;">
                            <b class="col-md-2"> Id: </b>
                            <div class="col-md-10">
                                <input id="files-Id" class="form-control" type="number" value="1">
                            </div><p></p>
                        </div>
                        <div class="form-group">
                            <b class="col-md-2"> Description: </b>
                            <div class="col-md-10">
                                <input id="files-desc" class="form-control" maxlength="80">
                                <span style="font-size:10px">180 characters only.</span>
                            </div><p></p>
                        </div>
                        <div class="form-group">
                            <b class="col-md-2 "> Link: </b>
                            <div class="col-md-10">
                                <input id="files-path" class="form-control" type="text" maxlength="180" >
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="addFile(@prodId)">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>

<script src="~/Scripts/jquery-3.3.1.js"> </script>

<script>
    function addFile(prodId){
        var desc = $("#files-desc").val();
        var filePath = $("#files-path").val();

        //build json object
        var data = {
            prodId : prodId,
            desc: desc,
            filePath: filePath,
        };

        var url = '/Products/SMProducts/AddFile';

        //request data from server using ajax call
        $.ajax({
            url: url,
            type: "POST",
            data: data,
            dataType: 'application/json; charset=utf-8',
            success: function (data) {
                // console.log("SUCCESS");
            },
            error: function (data) {
                // console.log("ERROR");
                // console.log(data);
                location.reload();
            }
        });
    }

    function removeFile(Id, desc){
        if (confirm('Are you sure you want to delete '+ desc +' file?')) {
            ajax_RemoveFile(Id);
        } else {
            // Do nothing!
        }
    }

    function ajax_RemoveFile(Id){
        //build json object

        var data = {
            id : Id
        };

        var url = '/Products/SMProducts/RemoveFile';

        //Post data from server using ajax call
        $.ajax({
            url: url,
            type: "POST",
            data: data,
            dataType: 'application/json; charset=utf-8',
            success: function (data) {
                // console.log("SUCCESS");
            },
            error: function (data) {
                // console.log("ERROR");
                 console.log(data);
                location.reload();
            }
        });
    }

    function refreshPage() {
        location.reload();
    }
</script>