@model IEnumerable<JobsV1.Areas.Products.Models.SmProdDesc>

@{
    int prodId = Convert.ToInt32(ViewData["prodId"]);
}
@{
    ViewBag.Title = "Details";
}
<div class="row">

    <div class="col-lg-12">
        <div class="col-lg-12">
            <h3>
                Main Description
            </h3>
        </div>
        <div class="col-lg-12" id="section-desc">

            @foreach (var prodDesc in Model)
            {
                <p  class="prod-desc">
                    @prodDesc.Description 
                    <span class="prod-desc-act" style="display:none;">
                        <a href="" id="catbtn" data-toggle="modal" data-target="#prodDescModal" onclick="EditDescModal(@prodDesc.Id)"> Edit  </a> |
                        @Html.ActionLink(" Remove", "RemoveDesc", new { id = prodDesc.Id })
                    </span>
                </p>
            }
        </div>
        <a href="" id="catbtn" data-toggle="modal" data-target="#prodDescModal" onclick="AddDescModal();"> Add Description</a>
    </div>

    <!-- Add Modal -->
    <div class="modal fade" id="prodDescModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Product Description</h4>
                </div>

                <div class="modal-body row" id="modal2-content"> 
                    <div class="form-group" style="display:none;">
                        <b class="col-md-2"> Id: </b>
                        <div class="col-md-10">
                            <input id="prod-Id" class="form-control" type="number" value="1">
                        </div><p></p>
                    </div>
                    <div class="form-group">
                        <b class="col-md-2"> Description: </b>
                        <div class="col-md-10">
                            <textarea id="prod-desc" maxlength="180" class="form-control" cols="80" rows="5"></textarea>
                            <span style="font-size:10px">180 characters only.</span>
                        </div><p></p>
                    </div>
                    <div class="form-group">
                        <b class="col-md-2 "> Sort: </b>
                        <div class="col-md-10">
                            <input id="prod-sort" class="form-control" type="number" value="1">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="addDescBtn" onclick="ajax_PostDesc(@prodId)" >Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="editDescBtn" onclick="ajax_EditPostDesc(@prodId)">Save</button>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<script src="~/Scripts/jquery-3.3.1.js"> </script>
<script src="~/Areas/Products/Script/ProductDesc.js"></script>