
@{
    int prodId = Convert.ToInt32(ViewData["prodId"]);
}

@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-lg-12">
        <h4>Terms and Conditions</h4>
        <p>
            Prices are "from" per person based on twin/double share accommodation and for 
            travel in normal season otherwise specified. Meals and Itinerary is subject to 
            change and switch based on tour routing and situation. Any schedule and service 
            unused also customers no show due to immigration problem will not be refunded. <br />

            Any Schedule and Service unused will not be refunded. <br />
            Cancellation fee in full rate on the day of arrival or no show <br />
            No refund for Unutilized Tour <br />
            This is just a quote, no reservations held yet or booking is not proceed yet.<br />
            The rooms & rates are subject to availability at the time of booking / confirmation. <br />
            Hotel, Sightseeing, Meals, Transfers rate might change without any prior notice until & 
            unless it been booked/ confirmed from your end.<br />
            Quotation might change due to currencies ROE fluctuation during confirmation & booking process.<br />


        </p>
    </div>
</div>
