
@{
    int prodId = Convert.ToInt32(ViewData["prodId"]);
}

@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-lg-12">
        <h4>Terms and Conditions</h4>
        <p>
            30% Downpayment for reservation and the balance to be paid before the start of the tour.<br />
            We encourage full payment prior to date of travel to avoid cancellations.<br />
            Other destinations that are not mentioned on the said package will be on the guest account.<br />
            Entrances and prices might vary without prior notice.<br />
            Quotation is valid 30 days after the quotation date.<br />
        </p>
    </div>
</div>
