
@{
    int prodId = Convert.ToInt32(ViewData["prodId"]);
}

@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-lg-12">
        <h4>Terms and Conditions</h4>
        <p>
             Above rates are quoted in USD <br />
             Rates are applicable for FIT (Free Independent Traveler) only with a minimum of 2 pax traveling togather & 
             Max up to 8 pax.<br />
             SIC operate from 0700-1900hrs daily, kindly check the time before placing booking.<br />
             Child no bed ( share existing bed with parents) - child below 6 years of age.<br />
             All optional sightseeing transfers are on fixed timing which cannot be changed or amend.<br />
             All enquiries to be based on actual request date, the rates shown are not final, re-quote required and rates 
             may varies due to currency fluctuation.<br />
             Room are subject to availablity.<br />

        </p>
    </div>
</div>
