<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --> 
  </configSections>
  <connectionStrings>
          
    <!-- Localhost -->
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-JobsV1-20160528101923.mdf;Initial Catalog=aspnet-JobsV1-20160528101923;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="JobDBContainer" connectionString="metadata=res://*/Models.JobDB.csdl|res://*/Models.JobDB.ssdl|res://*/Models.JobDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\aspnet-JobsV1-20160528101923.mdf;initial catalog=aspnet-JobsV1-20160528101923;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AccountingDBContainer" connectionString="metadata=res://*/Areas.Accounting.Models.AccountingDB.csdl|res://*/Areas.Accounting.Models.AccountingDB.ssdl|res://*/Areas.Accounting.Models.AccountingDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\aspnet-JobsV1-20160528101923.mdf;initial catalog=aspnet-JobsV1-20160528101923;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SysDBContainer" connectionString="metadata=res://*/Models.SysDB.csdl|res://*/Models.SysDB.ssdl|res://*/Models.SysDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\aspnet-JobsV1-20160528101923.mdf;initial catalog=aspnet-JobsV1-20160528101923;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HrisDBContainer" connectionString="metadata=res://*/Areas.Personel.Models.HrisDB.csdl|res://*/Areas.Personel.Models.HrisDB.ssdl|res://*/Areas.Personel.Models.HrisDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\aspnet-JobsV1-20160528101923.mdf;initial catalog=aspnet-JobsV1-20160528101923;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProdDBContainer" connectionString="metadata=res://*/Areas.Products.Models.ProdDB.csdl|res://*/Areas.Products.Models.ProdDB.ssdl|res://*/Areas.Products.Models.ProdDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\aspnet-JobsV1-20160528101923.mdf;initial catalog=aspnet-JobsV1-20160528101923;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AppointmentDBContainer" connectionString="metadata=res://*/Areas.AutoCare.Data.AppointmentDB.csdl|res://*/Areas.AutoCare.Data.AppointmentDB.ssdl|res://*/Areas.AutoCare.Data.AppointmentDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\aspnet-JobsV1-20160528101923.mdf;initial catalog=aspnet-JobsV1-20160528101923;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CarRentalLogDBContainer" connectionString="metadata=res://*/Areas.Personel.Models.CarRentalLogDB.csdl|res://*/Areas.Personel.Models.CarRentalLogDB.ssdl|res://*/Areas.Personel.Models.CarRentalLogDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\aspnet-JobsV1-20160528101923.mdf;initial catalog=aspnet-JobsV1-20160528101923;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ArDBContainer" connectionString="metadata=res://*/Models.ArDB.csdl|res://*/Models.ArDB.ssdl|res://*/Models.ArDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\aspnet-JobsV1-20160528101923.mdf;initial catalog=aspnet-JobsV1-20160528101923;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ApDBContainer" connectionString="metadata=res://*/Models.ApDB.csdl|res://*/Models.ApDB.ssdl|res://*/Models.ApDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\aspnet-JobsV1-20160528101923.mdf;initial catalog=aspnet-JobsV1-20160528101923;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    
    <!-- Realwheels
    <add name="DefaultConnection" connectionString="Data Source=SQL5028.myASP.NET;Initial Catalog=DB_A0A0AE_job;User Id=DB_A0A0AE_job_admin;Password=Darkman1;" providerName="System.Data.SqlClient" />
    <add name="JobDBContainer" connectionString="metadata=res://*/Models.JobDB.csdl|res://*/Models.JobDB.ssdl|res://*/Models.JobDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5028.myASP.NET;Initial Catalog=DB_A0A0AE_job;User Id=DB_A0A0AE_job_admin;Password=Darkman1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AccountingDBContainer" connectionString="metadata=res://*/Areas.Accounting.Models.AccountingDB.csdl|res://*/Areas.Accounting.Models.AccountingDB.ssdl|res://*/Areas.Accounting.Models.AccountingDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5028.myASP.NET;Initial Catalog=DB_A0A0AE_job;User Id=DB_A0A0AE_job_admin;Password=Darkman1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SysDBContainer" connectionString="metadata=res://*/Models.SysDB.csdl|res://*/Models.SysDB.ssdl|res://*/Models.SysDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5028.myASP.NET;Initial Catalog=DB_A0A0AE_job;User Id=DB_A0A0AE_job_admin;Password=Darkman1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HrisDBContainer" connectionString="metadata=res://*/Areas.Personel.Models.HrisDB.csdl|res://*/Areas.Personel.Models.HrisDB.ssdl|res://*/Areas.Personel.Models.HrisDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5028.myASP.NET;Initial Catalog=DB_A0A0AE_job;User Id=DB_A0A0AE_job_admin;Password=Darkman1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProdDBContainer" connectionString="metadata=res://*/Areas.Products.Models.ProdDB.csdl|res://*/Areas.Products.Models.ProdDB.ssdl|res://*/Areas.Products.Models.ProdDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5028.myASP.NET;Initial Catalog=DB_A0A0AE_job;User Id=DB_A0A0AE_job_admin;Password=Darkman1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AppointmentDBContainer" connectionString="metadata=res://*/Areas.AutoCare.Data.AppointmentDB.csdl|res://*/Areas.AutoCare.Data.AppointmentDB.ssdl|res://*/Areas.AutoCare.Data.AppointmentDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5028.myASP.NET;Initial Catalog=DB_A0A0AE_job;User Id=DB_A0A0AE_job_admin;Password=Darkman1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CarRentalLogDBContainer" connectionString="metadata=res://*/Areas.Personel.Models.CarRentalLogDB.csdl|res://*/Areas.Personel.Models.CarRentalLogDB.ssdl|res://*/Areas.Personel.Models.CarRentalLogDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5028.myASP.NET;Initial Catalog=DB_A0A0AE_job;User Id=DB_A0A0AE_job_admin;Password=Darkman1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ArDBContainer" connectionString="metadata=res://*/Models.ArDB.csdl|res://*/Models.ArDB.ssdl|res://*/Models.ArDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5028.myASP.NET;Initial Catalog=DB_A0A0AE_job;User Id=DB_A0A0AE_job_admin;Password=Darkman1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ApDBContainer" connectionString="metadata=res://*/Models.ApDB.csdl|res://*/Models.ApDB.ssdl|res://*/Models.ApDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5028.myASP.NET;Initial Catalog=DB_A0A0AE_job;User Id=DB_A0A0AE_job_admin;Password=Darkman1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    
    <!-- Network
    <add name="DefaultConnection3" connectionString="Data Source=ACER-PC\SQLEXPRESS;Initial Catalog=DB_A0A0AE_job;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="JobDBContainer3" connectionString="metadata=res://*/Models.JobDB.csdl|res://*/Models.JobDB.ssdl|res://*/Models.JobDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ACER-PC\SQLEXPRESS;Initial Catalog=DB_A0A0AE_job;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AccountingDBContainer3" connectionString="metadata=res://*/Areas.Accounting.Models.AccountingDB.csdl|res://*/Areas.Accounting.Models.AccountingDB.ssdl|res://*/Areas.Accounting.Models.AccountingDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ACER-PC\SQLEXPRESS;Initial Catalog=DB_A0A0AE_job;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     -->
    
     <!-- SolidSteel
    <add name="DefaultConnection" connectionString="Data Source=SQL5002.site4now.net;Initial Catalog=DB_A0A0AE_client;User Id=DB_A0A0AE_client_admin;Password=Client123!;" providerName="System.Data.SqlClient" />
    <add name="JobDBContainer" connectionString="metadata=res://*/Models.JobDB.csdl|res://*/Models.JobDB.ssdl|res://*/Models.JobDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5002.site4now.net;Initial Catalog=DB_A0A0AE_client;User Id=DB_A0A0AE_client_admin;Password=Client123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AccountingDBContainer" connectionString="metadata=res://*/Areas.Accounting.Models.AccountingDB.csdl|res://*/Areas.Accounting.Models.AccountingDB.ssdl|res://*/Areas.Accounting.Models.AccountingDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5002.site4now.net;Initial Catalog=DB_A0A0AE_client;User Id=DB_A0A0AE_client_admin;Password=Client123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SysDBContainer" connectionString="metadata=res://*/Models.SysDB.csdl|res://*/Models.SysDB.ssdl|res://*/Models.SysDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5002.site4now.net;Initial Catalog=DB_A0A0AE_client;User Id=DB_A0A0AE_client_admin;Password=Client123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HrisDBContainer" connectionString="metadata=res://*/Areas.Personel.Models.HrisDB.csdl|res://*/Areas.Personel.Models.HrisDB.ssdl|res://*/Areas.Personel.Models.HrisDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5002.site4now.net;Initial Catalog=DB_A0A0AE_client;User Id=DB_A0A0AE_client_admin;Password=Client123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProdDBContainer" connectionString="metadata=res://*/Areas.Products.Models.ProdDB.csdl|res://*/Areas.Products.Models.ProdDB.ssdl|res://*/Areas.Products.Models.ProdDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5002.site4now.net;Initial Catalog=DB_A0A0AE_client;User Id=DB_A0A0AE_client_admin;Password=Client123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AppointmentDBContainer" connectionString="metadata=res://*/Areas.AutoCare.Data.AppointmentDB.csdl|res://*/Areas.AutoCare.Data.AppointmentDB.ssdl|res://*/Areas.AutoCare.Data.AppointmentDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5002.site4now.net;Initial Catalog=DB_A0A0AE_client;User Id=DB_A0A0AE_client_admin;Password=Client123!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CarRentalLogDBContainer" connectionString="metadata=res://*/Areas.Personel.Models.CarRentalLogDB.csdl|res://*/Areas.Personel.Models.CarRentalLogDB.ssdl|res://*/Areas.Personel.Models.CarRentalLogDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5002.site4now.net;Initial Catalog=DB_A0A0AE_client;User Id=DB_A0A0AE_client_admin;Password=Client123!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->

    <!-- AutoCare 
    <add name="DefaultConnection" connectionString="Data Source=SQL5025.site4now.net;Initial Catalog=DB_A0A0AE_oas;User Id=DB_A0A0AE_oas_admin;Password=Auto123!;" providerName="System.Data.SqlClient" />
    <add name="JobDBContainer" connectionString="metadata=res://*/Models.JobDB.csdl|res://*/Models.JobDB.ssdl|res://*/Models.JobDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5025.site4now.net;Initial Catalog=DB_A0A0AE_oas;User Id=DB_A0A0AE_oas_admin;Password=Auto123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AccountingDBContainer" connectionString="metadata=res://*/Areas.Accounting.Models.AccountingDB.csdl|res://*/Areas.Accounting.Models.AccountingDB.ssdl|res://*/Areas.Accounting.Models.AccountingDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5025.site4now.net;Initial Catalog=DB_A0A0AE_oas;User Id=DB_A0A0AE_oas_admin;Password=Auto123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SysDBContainer" connectionString="metadata=res://*/Models.SysDB.csdl|res://*/Models.SysDB.ssdl|res://*/Models.SysDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5025.site4now.net;Initial Catalog=DB_A0A0AE_oas;User Id=DB_A0A0AE_oas_admin;Password=Auto123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HrisDBContainer" connectionString="metadata=res://*/Areas.Personel.Models.HrisDB.csdl|res://*/Areas.Personel.Models.HrisDB.ssdl|res://*/Areas.Personel.Models.HrisDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5025.site4now.net;Initial Catalog=DB_A0A0AE_oas;User Id=DB_A0A0AE_oas_admin;Password=Auto123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProdDBContainer" connectionString="metadata=res://*/Areas.Products.Models.ProdDB.csdl|res://*/Areas.Products.Models.ProdDB.ssdl|res://*/Areas.Products.Models.ProdDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5025.site4now.net;Initial Catalog=DB_A0A0AE_oas;User Id=DB_A0A0AE_oas_admin;Password=Auto123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AppointmentDBContainer" connectionString="metadata=res://*/Areas.AutoCare.Data.AppointmentDB.csdl|res://*/Areas.AutoCare.Data.AppointmentDB.ssdl|res://*/Areas.AutoCare.Data.AppointmentDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5025.site4now.net;Initial Catalog=DB_A0A0AE_oas;User Id=DB_A0A0AE_oas_admin;Password=Auto123!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CarRentalLogDBContainer" connectionString="metadata=res://*/Areas.Personel.Models.CarRentalLogDB.csdl|res://*/Areas.Personel.Models.CarRentalLogDB.ssdl|res://*/Areas.Personel.Models.CarRentalLogDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5025.site4now.net;Initial Catalog=DB_A0A0AE_oas;User Id=DB_A0A0AE_oas_admin;Password=Auto123!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     -->
</connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" /> 
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ConfigVersion" value="RealBreeze.V20.Abel" />
    <add key="SmtpEmail" value="Realwheels.Reservation@realwheelsdavao.com" />
    <add key="SmtpPass" value="Real123!" />
    <add key="GoogleReCaptchaSiteKey" value="6Ld1fcwZAAAAAGvZ1BUQIz9If87w0IewiHhMcM64" />
    <add key="GoogleReCaptchaSecretKey" value="6Ld1fcwZAAAAAHNi_ZmwVlOLeys_u35bHWVs0Pou" />
    <!-- value : Realwheels / AutoCare / SolidSteel-->
    <add key="SiteConfig" value="SolidSteel" />
    
  </appSettings>
  <system.web>
    <!-- RemoteOnly / On / Off -->
    <customErrors mode="Off" defaultRedirect="~/Error/">
      <error statusCode="404" redirect="~/Error/" />
    </customErrors>
    <authentication mode="None" />
 
    <!-- //Bundling and Minification
    //see https://docs.microsoft.com/en-us/aspnet/mvc/overview/performance/bundling-and-minification 
    
    set debug=true to disable bundling and minifaction -->
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <httpHandlers>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </httpHandlers>
  </system.web>
  <system.webServer>
	  
  <!-- For Realwheels
  <rewrite>
	  <rules>
		  <rule name="HTTP to HTTPS redirect" stopProcessing="true">
			  <match url="(.*)" />
			  <conditions>
				  <add input="{HTTPS}" pattern="off" ignoreCase="true" />
			  </conditions>
			  <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
		  </rule>
	  </rules>
  </rewrite>
  -->


  <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="Sitemap" path="sitemap.xml" type="System.Web.UI.PageHandlerFactory" verb="*" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>