@model IEnumerable<JobsV1.Models.Supplier>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2>Suppliers</h2>

<p >
    <span id="ACTIVE"   style="color:black;cursor:pointer;">    Active   </span> |
    <span id="INACTIVE" style="color:steelblue;cursor:pointer;">Inactive </span> |
    <span id="BAD"      style="color:steelblue;cursor:pointer;">Bad      </span> |
    <span id="ALL"      style="color:steelblue;cursor:pointer;">All      </span> 
</p>
<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Diactivate List", "DiActivateSupplierList")
</p>
<p>
    <input type="search" id="srch-field"/>
    <button class="btn btn-default" id="srch-btn" onclick="ajax_loadContent()">Search</button>
</p>
<table class="table " id="sup-Table">
    <tr>
        <th>Supplier</th>
        <th>Contact Num</th>
        <th>Email</th>
        <th>Status</th>
        <th></th>
    </tr>
    
</table>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Job/SupplierList.js"></script>