@model IEnumerable<JobsV1.Models.Supplier>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2>Suppliers</h2>

<p> Status:
    <span>
       
        <span id="ACTIVE" style="color:black;cursor:pointer;">    Active   </span> |
        <span id="INACTIVE" style="color:steelblue;cursor:pointer;">Inactive </span> |
        <span id="BAD" style="color:steelblue;cursor:pointer;">Bad      </span> |
        <span id="ALL" style="color:steelblue;cursor:pointer;">All      </span>
    </span>
</p>
<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Diactivate List", "DiActivateSupplierList")
</p>
<p>Table View: 
    <span>
        <span id="simple-Table" style="color:black;cursor:pointer;"    onclick="ajax_loadContent()" >Simple</span> |
        <span id="expanded-Table" style="color:steelblue;cursor:pointer;" onclick="ajax_loadContent()"> Expanded</span>
    </span>
</p>
<p>
    <input type="search" id="srch-field"/>
    <button class="btn btn-default" id="srch-btn" onclick="ajax_loadContent()">Search</button>
</p>
<table class="table " id="sup-Table">
    <tr>
        <th>Supplier</th>
        <th>Contact 1 </th>
        <th id="sup-header-2">Contact 2</th>
        <th id="sup-header-3">Contact 3</th>
        <th></th>
    </tr>
    
</table>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Job/SupplierList.js"></script>