@model IEnumerable<JobsV1.Models.Supplier>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css" />

<script type="text/javascript" src="DataTables/datatables.min.js"></script>

<h2>Suppliers</h2>

<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Deactivate List", "DeactivateSupplierList")
</p>

<p>
    Status:
    <span>
        <span id="ACTIVE" class="status-link"> Active   </span> |
        <span id="INACTIVE" class="status-link"> Inactive </span> |
        <span id="BAD" class="status-link"> Bad      </span> |
        <span id="ALL" class="status-link"> All      </span>
    </span>
</p>

<p>Table View: 
    <span>
        <span id="simple-Table" class="status-link" onclick="ajax_loadContent()" >Simple</span> |
        <span id="expanded-Table" class="status-link" onclick="ajax_loadContent()"> Expanded</span>
    </span>
</p>
<p >
    <input type="search" id="srch-field"/>
    <button class="btn btn-default" id="srch-btn" onclick="ajax_loadContent()">Search</button>
</p>

<table class="js-sort-table table" id="sup-Table" >
    <thead>
        <tr>
            <th class="cursor-hand">Supplier</th>
            <th class="cursor-hand">Country </th>
            <th class="cursor-hand">City </th>
            <th class="cursor-hand">Category</th>
            <th class="js-sort-number" width="200">Product</th>
            <th class="js-sort-number">Contact Person </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2"> </td>
            <td colspan="3">
                <br />
                <img src="~/Images/GIF/loading.gif" height="25" />
                 Loading suppliers, please wait...
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Job/SupplierList.js"></script>
<script src="~/Scripts/sort-table.js"></script>
<script>
    //var A = "A";
    //var B = "B";
    //var C = "C";
    //var content = "<tr><td> " + A + " </td></trd>";
    //content += "<tr><td> " + B + "  </td></trd>";
    //content += "<tr><td>  " + C + "  </td></trd>";
    //content += "<tr><td> D TEST </td></trd>";

    //$(content).appendTo("#table-test");
</script>
