@model IEnumerable<JobsV1.Models.Supplier>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2>Suppliers</h2>

<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Deactivate List", "DeactivateSupplierList")
</p>

<p>
    Status:
    <span>
        <span id="ACTIVE" class="status-link"> Active   </span> |
        <span id="INACTIVE" class="status-link"> Inactive </span> |
        <span id="BAD" class="status-link"> Bad      </span> |
        <span id="ALL" class="status-link"> All      </span>
    </span>
</p>

<p>Table View: 
    <span>
        <span id="simple-Table" class="status-link" onclick="ajax_loadContent()" >Simple</span> |
        <span id="expanded-Table" class="status-link" onclick="ajax_loadContent()"> Expanded</span>
    </span>
</p>
<p>
    <input type="search" id="srch-field"/>
    <button class="btn btn-default" id="srch-btn" onclick="ajax_loadContent()">Search</button>
</p>

<table class="table " id="sup-Table">
    <tr>
        <th>Supplier</th>
        <th>Contact 1 </th>
        <th id="sup-header-2">Contact 2</th>
        <th id="sup-header-3">Contact 3</th>
        <th></th>
    </tr>
    
</table>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Job/SupplierList.js"></script>