@model IEnumerable<JobsV1.Controllers.cJobOrder>

@{
    ViewBag.Title = "Work in Progress";
}

<h2>Job Orders</h2>


<div class="row">
    <div class="col-lg-2">
        Job Date
    </div>
    <div class="col-lg-10">
        Description
    </div>
</div>

@foreach (var item in Model)
{
<div class="row">
   <div class="col-lg-2">
       @item.Main.JobDate
   </div>
   <div class="col-lg-10">
       @item.
   </div>
</div>
}

<script src="~/Scripts/jquery-3.3.1.js"> </script>