
@{
    ViewBag.Title = "Index";
}
<h1> RealWheels Davao </h1>
<h2> Please Try Again Later </h2>
<hr />
<p class="home-services-h"> Customer Service </p>
<p> For general inquiries : </p>
<p class="mobile-text-link">
    <a href="mailto:inquiries.realwheels@gmail.com">
        inquiries.realwheels@gmail.com
    </a>
</p>
<p class="mobile-text-link">
    <a href="tel:+63822971831">
        <strong>LandLine:</strong> (+63) 82 333-5157
    </a>
</p>
<p class="mobile-text-link">
    <a href="tel:+639954508517">
        <strong>Globe:</strong> (+63) 995-450-8517
    </a>
</p>
<p class="mobile-text-link">
    <a href="tel:+639193812657">
        <strong>Smart:</strong> (+63) 919-381-2657
    </a>
</p>
