<!-- Add Clause Edit Modal -->
<!-- Add Inv Rate Modal -->
<div class="modal fade" id="UserCompanyList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Driver's Trip <span id="InvRate-ItemName"> Item </span></h4>
            </div>

            <div class="modal-body row" id="modal2-content">
                
               <table class="table table-striped"  id="CompaniesTable">
                        <tr>
                            <th> Company Name </th>
                            <th> </th>
                        </tr>
                        <tr>

                        </tr>
                </table>

                <div class="col-md-6">
                    <h4>Total : <span id="tripDriver-total"> </span> </h4>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="addExpenseBtn" >Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>