
@{
    ViewBag.Title = "Agent Assignment";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}


<h2>
    Agent Assignment
</h2>

@Html.ActionLink("Assignment by User", "UserList", null, new { @class = "btn btn-default" }) <br />
@Html.ActionLink("Assignment by Company", "CompanyList", null, new { @class = "btn btn-default" }) <br /><br />

