
@{
    ViewBag.Title = "Agent Assignment";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
    Session["ROOTMENUID"] = 8;
}


<h2>
    Agent - Company Assignment
</h2>

<div class="list-group col-md-4" id="categorylist2">
    @Html.ActionLink("Assignment by User", "UserList", null, new { @class = "list-group-item" }) 
    @Html.ActionLink("Assignment by Company", "CompanyList", null, new { @class = "list-group-item" }) 
    @*<a onclick="AddCompany(@company.Id)" class="list-group-item"> @company.Name </a>*@
</div>


