
@{
    ViewBag.Title = "AppointmentSuccess";
}
    <div class="panel" style="width:500px;margin:50px auto;padding:50px;">
        <div class="panel-body">
            <center><img src="~/Images/SalesLead/approve-icon.png" style="margin:auto" /></center>
            <h2 style="text-align:center;color:green"> Appointment Successful </h2>
            <p style="text-align:center;color:gray;">We will Contact you for more details. <br /> </p>
        </div>
    </div>