<!-- Search Customer Modal w/ search -->
<div class="modal fade" id="AddRolesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Role List</h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <input id="SelectedUser" value="" hidden/>
                    @foreach (var role in ViewBag.RolesList as IEnumerable<JobsV1.Models.Class.AspRoles>)
                    {
                        <button class="list-group-item" style="cursor:pointer;" value="@role.Name" onclick="SetUserRole('@role.Name')">
                            @role.Name
                        </button>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
