

.booking-container {
    background-color:white;
    /*padding:10px;*/
    max-width: 530px;
    display:flex;
    align-content:center;
    flex-direction:column;
    margin:auto;
    margin-top:10px;
}

.booking-form{
   margin-left:30px;

}

.control-label{
    display:flex;
    align-content:flex-end;
}


.booking-terms {
    color: #4a4a4a;
}

.booking-title{
    margin-left:30px;
}

.booking-success-container {
    display: flex;
    margin: auto;
    align-content: center;
    align-items: center;
    flex-flow: column;
    padding: 50px;
    background-color: white;
    max-width: 800px;
    min-width: 300px;
    margin-top: 10px;
}


.booking-success-container h2 {
    color: forestgreen;
}

.rsv-unit-item{
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    align-content:center;
    align-items:center;
}


    .rsv-unit-item img {
        margin-right: 15px;
        margin-left: 10px;
    }

    .rsv-unit-item .unit-desc{
        display:flex;
        flex:1;
        font-size:12px;
    }

    .unit-selected {
        background-color: dodgerblue;
        color: white;
    }


        .unit-selected:hover {
            background-color: #389cfe;
            color: white;
        }

        .unit-selected:active {
            background-color: #1879d8;
            color: white;
        }

        .unit-selected .text-success {
            color: #b8f3b8;
        }


/* Reservation Error Page */

.reservation-error-container {
    display: flex;
    margin: auto;
    align-content: center;
    align-items: center;
    flex-flow: column;
    padding: 50px;
    background-color: white;
    max-width: 800px;
    min-width: 300px;
    margin-top:10px;
}


/* Reservation Landing Page */
.booking-landing-page {
    padding: 30px;
}

.contact-info {
    display: flex;
    flex-direction: row;
}


.input-group {
    margin: 10px;
}

.input-group-addon {
    min-width: 100px;
}

p {
    font-size: 18px;
}

.rsv-image {
    width: 100%;
}

.contact-btn {
    display: inline-flex;
    flex: 1;
    font-size: 1.3em;
    padding: 15px;
    border-radius: 5px;
}

    .contact-btn img {
        margin: 0px 10px;
    }

    .contact-btn:hover {
        background-color: #074b97;
    }

.google-maps-location {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row;
    position: relative;
    z-index: 99;
    background-color: #096bd7;
    color: white;
    padding: 20px;
    width: 250px;
    font-size: 28px;
    margin: 0px auto;
    margin-bottom: -40px;
}


.google-maps-location-section {
    position: relative;
    z-index: 10;
}

.section-banner-group{
    margin-top:20px;
}

.reservation-article{
    margin-top:40px;
}


#section-banner {
    min-height: 600px;
    padding: 30px 0 60px 0px;
    background-color: #303131;
    background: linear-gradient(to bottom, #303131 0%, #4d4f4f 50%, #303131 100%);
}

#section-contact-info {
    min-height: 100px;
    padding: 30px 10px;
    background-color: #096bd7;
}

.page-banner-title h1 {
    font-size: 49px;
    font-weight: 600;
    color: dodgerblue;
}

.page-banner-title h4 {
    color: white;
}

.rsv-form-btn {
    width: 95%;
    font-size: 22px;
}

.rsv-form-title {
    font-weight: 700;
    font-size: 26px;
    margin-top: 5px;
}

.request-modal-vehicleDtls {
    display: flex;
    flex-flow: column;
    padding: 0px;
}

.request-modal-vehicleRate {
    font-weight: bold;
    font-size: 18px;
    color: darkgreen;
}


.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 25%;
}

/* The Modal (background) */
.lightbox {
    display: none;
    position: fixed;
    z-index: 99;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.lightbox-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0;
    width: 70%;
    max-width: 1200px;
}


/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 60px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.view-image-link {
    padding-right: 50px;
}

.lightbox-item {
    opacity: 0.6;
}

    .active,
    .lightbox-item:hover {
        opacity: 1;
    }

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vehicle-panel {
    width: 100%;
    padding: 5px;
}

.panel-img-top {
    width: 45%;
    margin: 5px;
}

.btn-full-width {
    width: 100%;
    padding: 10px;
}

/* Small Screens */
@media only screen and (max-width: 420px) {
    .booking-landing-page {
        padding: 15px 0px;
    }

    .section-banner-group {
        margin-top: 60px;
    }

    .reservation-article{
        padding:0px;
    }

    .reservation-article {
        margin-top: 20px;
    }

    #section-banner{
        width:105%;
    }

    #section-contact-info {
        width: 105%;
    }


    .view-image-link {
        padding-right: 20px;
    }

}
