


/* CarRental Home Styles */

/* home page fonts */


.home-page-header {
    font-family: 'Oxygen', 'sans-serif';
    font-weight:800;
    margin-bottom:50px;
}

.home-page-p {
    font-family: 'Lato','sans-serif';
    font-size: 18px;
    line-height:1.7;
}

.home-services-p > p {
    font-family: 'Lato','sans-serif';
    font-size: 16px;
    line-height: 1.5;
}

.body-content-white {
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 1px 1px 20px lightgray;
}

.rental-banner {
    background-image: url('/Images/CarRental/Banner/RealWheelsBanner2020-lg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 490px;
    min-width: 400px;
    color: white;
    padding-left: 20px;
}

.main-page-full-banner {
    display: flex;
    width: 100%;
    background-image: url('/Images/CarRental/Banner/RealWheelsBanner2020-lg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(6,105,178);
    height: 480px;
    min-width: 400px;
    color: white;
    padding: 60px;
    margin-bottom: 0px;
}

    .main-page-full-banner > div {
        width: 42%;
    }

        .main-page-full-banner > div > h1 {
            font-size: 45px;
        }

        .main-page-full-banner > div > p {
            /*background-color: black;*/
            /*padding: 20px;*/
            width: 80%;
        }

.contact-container {
    padding-left: 35px;
    padding-right: 35px;
}

.contact-container div div p {
    margin-bottom:2px;
}

.contact-container-full {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#393a3d;
    margin:0px;
    padding:20px;
    color:white;
}

.car-container {
    padding: 10px 30px;
}

.car-primary {
    background-color: white;
    border: 1px solid lightgray;
    height: 550px;
    transition: 0.5s;
}

    .car-primary:hover {
        box-shadow: 0px 0px 10px 1px dodgerblue;
        z-index: 20;
        border-color: dodgerblue;
    }

.car-container-details{
    margin:5px;
    padding:20px;
    border-radius:5px;
    box-shadow:1px 1px 10px lightgray;
    display:flex;
    flex-direction:column;
    align-content:center;
}

.carrental-car-img {
    margin: auto 0px;
    width: 100%;
    height: 230px;
    border-radius:5px;
}

.carrental-car-title {
    color: #393a3d;
    font-weight: 600;
}

.carrental-car-price {
    color: forestgreen;
    font-weight: 600;
    font-size:20px;
}


.form-label {
    margin-top: 5px;
}

.form-group-margin {
    margin-bottom: 15px;
}


.contact-us-items {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 10px;
}


.rsvr-btn {
    width: 100%;
    margin: auto;
}

.home-company-desc {
    /*background-color: #393a3d;*/
    margin: 20px -26px;
    padding: 50px;
}

.home-company-desc p {
    color:black;
}

    .home-company-desc h2 {
        color: black;
    }
    .home-company-desc p a {
        color: black;
        text-decoration: underline;
    }

.home-services-img {
    margin: 20px;
    width: 80%;
}

.home-heading {
    font-weight:600;
}

.home-panel {
    /*border:1px solid lightgray;*/
    padding: 30px;
    min-height: 200px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px lightgray;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items:center;
}

    .home-panel a h4 {
        font-weight:600;
    }

    .home-panel ul{
        padding-left:20px;
    }

.home-vehicle-type-img {
    height: 150px;
    width: 150px;
}

.home-article-list {
    color: white;
    padding: 30px;
}

.home-article-item {
    width: 280px;
    border: 1px solid lightgray;
    margin: 35px;
    padding: 15px;
    /*box-shadow: 0px 0px 8px 2px b;*/
    background-color: white;
    color:black;
}

.home-article-container {
    background-color: #393a3d;
    /*margin-left: -25px;*/
    width: 100%;
}

.sitemap-section {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 20px;
    width: 100%;
}

.footer-details {
    padding: 20px 50px;
}
/* PC 1080p Screens */
@media only screen and (max-width: 1200px) {
}

/* Tablet 1080p Screens */
@media only screen and (max-width: 1100px) {


    .rental-banner {
        background-image: url('/Images/CarRental/Banner/RealwheelsDavaoBanner.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 550px;
        min-width: 600px;
    }


    .main-page-full-banner {
        background-image: url('/Images/CarRental/Banner/RealWheelsBanner2020-md.jpg');
        height: 360px;
        padding: 20px;
    }

        .main-page-full-banner > div {
            width: 50%;
        }

            .main-page-full-banner > div > h1 {
                font-size: 50px;
            }


    .carrental-car-img {
        width: 98%;
        height:200px;
    }

}

@media only screen and (max-width: 990px) {

    .rental-banner {
        background-image: url('/Images/CarRental/Banner/RealwheelsDavaoBanner-sm.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 500px;
        min-width: 600px;
    }

    .main-page-full-banner {
        background-image: url('/Images/CarRental/Banner/RealWheelsBanner2020-md.jpg');
        height: 360px;
    }

    .body-content-white {
        margin-left: 10px;
    }


    .car-container-details{
        flex-direction:row;
    }

    .carrental-car-img {
        width: 50%;
        max-width:270px;
    }

}

/* Medium Screens */
@media only screen and (max-width: 800px) {


    .main-page-full-banner {
        background-image: url('/Images/CarRental/Banner/RealWheelsBanner2020-md.jpg');
        height: 360px;
    }

        .main-page-full-banner > div > h1 {
            font-size: 30px;
            padding-top:30px;
        }

    .body-content-white {
        margin-left: 10px;
    }

    .home-article-item {
        margin: 0px;
        margin-left:15px;
        margin-top: 15px;
    }
}

/* Small Screens */
@media only screen and (max-width: 420px) {
   
    .rental-banner {
        background-image: url('/Images/CarRental/Banner/RealWheelsBanner2020-sm.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 600px;
        min-width: 370px;
    }

    .main-page-full-banner {
        background-image: url('/Images/CarRental/Banner/RealWheelsBanner2020-sm.jpg');
        height: 600px;
        padding: 20px;
        margin-left: -5px;
        width: 100%;
    }

        .main-page-full-banner > div {
            min-width: 360px;
            margin-left: 10px;
        }

            .main-page-full-banner > div > h1 {
                font-size: 40px;
                padding-top:0px;
            }

            .main-page-full-banner > div > p {
                margin-top: 20px;
                width: 90%;
            }

    .carrental-car-img {
        width: 98%;
        max-width: 370px;
        height:220px;
    }

    .contact-us-items{
        width:100%;
    }

    .body-content-white {
        margin-left:-5px;
    }


    .car-container-details {
        flex-direction: column;
    }
    .car-container {
        padding: 15px;
    }
    .contact-container div div{
        margin-top:50px;
    }


    .home-article-list {
        /*width:100%;*/
    }
    .home-article-item {
        margin: 0px;
        margin-top: 10px;
    }


    .footer-details {
        padding: 20px 15px;
    }
}

