


/* CarRental Home Styles */

/* home page fonts */


.home-page-header {
    font-family: 'Oxygen', 'sans-serif';
    font-weight:800;
    margin-bottom:50px;
}

.home-page-p {
    font-family: 'Lato','sans-serif';
    font-size: 18px;
    line-height:1.7;
}

.home-services-p > p {
    font-family: 'Lato','sans-serif';
    font-size: 16px;
    line-height: 1.5;
}

.body-content-white {
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 1px 1px 20px lightgray;
}

.rental-banner {
    /*background-image: url('/Images/CarRental/Banner/RealWheelsBanner2020-lg.jpg');*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    min-width: 400px;
    color: white;
    padding-left: 20px;
}

.main-page-full-banner {
    display: flex;
    width: 100%;
    /*background-image: url('/Images/CarRental/Banner/RealWheelsBanner2020-lg-3.jpg');*/
    /*background-image: linear-gradient(90deg, green, blue);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(6,105,178);
    height: 303px;
    min-width: 400px;
    color: white;
    /*padding: 30px;*/
    padding-bottom: 0px;
    margin-bottom: 0px;
}

    .main-page-full-banner > .title-container {
        width: 50%;
        height: 100%;
        background-color: rgb(6,105,178);
        padding: 25px;
    }

        .main-page-full-banner > .title-container > h1 {
            font-size: 45px;
            margin-top:0px;
        }

        .main-page-full-banner > .title-container > p {
            /*background-color: black;*/
            /*padding: 20px;*/
            width: 80%;
        }

    .main-page-full-banner > .video-container {
        display: flex;
        width: 60%;
        height: 100%;
    }

        .main-page-full-banner > .video-container > video {
            height: 100%;
            width: 100%;
            object-fit: fill;
        }

   .image-after-video {
        display: none;
        height: 100%;
        width: 100%;
    }

.banner-services {
    margin-top: 0px;
    padding: 10px;
    margin-bottom: 0px;
    margin-left: 00px;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-evenly;
    /*background-color: rgb(6,105,178);*/
    background-color: #424242;
    color: white;
}

.banner-services:hover {
    background-color: #343434;
}

.banner-services-container {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.banner-services-items {
    min-width: 50px;
    /*margin: 8px;*/
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items:flex-start;
}

    .banner-services-items p {
        font-size: 12px;
        font-weight:600;
        padding-top: 10px;
        text-shadow: 2px 2px 3px black;
    }

    .banner-services-items img {
        width:45px;
        webkit-filter: drop-shadow(5px 5px 3px black);
        filter: drop-shadow(5px 5px 5px black);
    }

        .banner-services-items img:hover {
            webkit-filter: drop-shadow(2px 2px 3px dodgerblue);
            filter: drop-shadow(2px 2px 3px dodgerblue);
        }

.banner-btn-green {
    color: #0669B2;
    background-color: #F2EC41;
    border-color: #F2EC41;
    font-size:20px;
    margin:5px 0px 0px 0px;
}

    .banner-btn-green:hover {
        color: #0669B2;
        background-color: #cfcb30;
        border-color: #cfcb30;
    }

.Selected-Active {
    border-color: dodgerblue !important;
    box-shadow: 1px 1px 10px dodgerblue !important;
}

.linkable-container {
    margin-top: 0px;
    width: 100%;
}

.linkable-heading {
    font-size: 30px;
    text-shadow: 2px 2px 3px black;
    margin-top: 15px;
    color: white;
}

.linkable-heading-Fleet {
    margin-left: -22px;
    margin-right: 160px;
    margin-top:20px;
}

.linkable-heading:hover {
    color: dodgerblue;
    cursor:pointer;
}

.text-lg {
    font-size:30px;
    margin:15px 0px;
}

.text-h1-container{
    padding-bottom:30px;
}

.text-h1 {
    font-size: 40px;
    margin: 15px 0px;
    color: black;
    font-weight: 600;
    padding-bottom: 20px;
}

.text-md {
    font-size: 23px;
    margin: 12px 0px;
}

.banner-fleet-items {
    margin:5px;
}

    .banner-fleet-items img {
        width:50px;
        margin:5px;
    }

        .banner-fleet-items img:hover {
            /*border: 2px solid dodgerblue;*/
            webkit-filter: drop-shadow(2px 2px 3px dodgerblue);
            filter: drop-shadow(2px 2px 3px dodgerblue);
        }

    .banner-fleet-items p {
        margin: 5px;
        font-weight: 600;
        text-shadow: 2px 2px 3px black;
    }

.banner-services-header{
    font-size:28px;
    margin-top:10px;
}

.banner-sm-icon {
    margin-right: 5px;
}

.fleet-circle {
    border-radius: 50%;
    border: 2px solid white;
}

.fleet-vehicle-icon {
    width: 100px;
    webkit-filter: drop-shadow(5px 5px 3px black);
    filter: drop-shadow(5px 5px 5px black);
}

.scroll-text {
    color: white;
    cursor: pointer;
}

    .scroll-text:hover {
        color: dodgerblue;
        cursor: pointer;
    }


    .scroll-text:active {
        color: white;
    }

.contact-container {
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 50px;
}

.contact-container div div p {
    margin-bottom:2px;
}

.contact-container-full {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #393a3d;
    margin: 0px;
    padding: 20px;
    color: white;
}

.car-container {
    padding: 10px 30px;
}

.car-primary {
    background-color: white;
    border: 1px solid lightgray;
    height: 550px;
    transition: 0.5s;
}

    .car-primary:hover {
        box-shadow: 0px 0px 10px 1px dodgerblue;
        z-index: 20;
        border-color: dodgerblue;
    }

.car-container-details{
    margin:5px;
    padding:20px;
    border-radius:5px;
    box-shadow:1px 1px 10px lightgray;
    display:flex;
    flex-direction:column;
    align-content:center;
}

.carrental-car-img {
    margin: auto 0px;
    width: 100%;
    max-height:300px;
    border-radius:5px;
    /*padding:10px 5px;*/
}

.carrental-car-title {
    color: #393a3d;
    font-weight: 600;
}

.carrental-car-price {
    color: #0D6F06;
    font-weight: 600;
    font-size: 20px;
}


.vehicle-types-title {
    font-weight: 600;
    font-size: 20px;
}

.home-services {
    padding-bottom:50px;
}

.home-services-h {
    font-weight: 400;
    font-size:20px;
    padding:10px 0px;
}

.home-services-img {
    margin: 20px;
    width: 80%;
}

.more-links-section {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 0px 40px;
}

.links-section-wide{
   flex-grow:1;
   margin:5px;
   font-size:18px;
}

.btn-warning{
    background-color: darkorange;
}

.more-links-section button {
    margin-top: 20px;
}

.home-muted-p {
    color: #6E6E6E;
}

.carrental-car-price-desc {
    color: #6E6E6E;
}


.form-label {
    margin-top: 5px;
}

.form-group-margin {
    margin-bottom: 15px;
}


.contact-us-items {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 10px;
}

.contact-us-link{
    color:white;
}

    .contact-us-link:hover{
        color:dodgerblue;
    }

.rsvr-btn {
    width: 100%;
    margin: auto;
}

.desc-p {
    font-size: 18px;
    line-height: 1.7;
    color: #424242;
}

.desc-a {
    color: #424242;
    text-decoration: underline;
}

.home-company-desc {
    /*background-color: #393a3d;*/
    margin: 20px 0px;
    padding: 50px;
    padding-bottom: 10px;
}

    .home-company-desc p {
        /*font-size: 18px;*/
        /*line-height: 1.7;*/
        color: #424242;
    }

    .home-company-desc h2 {
        color: black;
    }
    .home-company-desc p a {
        color: #424242;
        text-decoration: underline;
    }


    .home-company-desc-p {
        font-size: 18px;
        line-height: 1.7;
        color: #424242;
    }


.home-heading {
    font-weight:600;
}

.home-panel {
    /*border:1px solid lightgray;*/
    padding: 30px;
    min-height: 200px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px lightgray;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items:center;
}

    .home-panel a h4 {
        font-weight:600;
    }

    .home-panel ul{
        padding-left:20px;
    }

.home-vehicle-type-img {
    height: 150px;
    width: 150px;
}

.home-article-list {
    color: white;
    padding: 30px;
}

.home-article-item {
    width: 280px;
    border: 1px solid lightgray;
    margin: 35px;
    padding: 15px;
    /*box-shadow: 0px 0px 8px 2px b;*/
    background-color: white;
    color:black;
}

.home-article-container {
    background-color: #393a3d;
    /*margin-left: -25px;*/
    width: 100%;
}

.home-booking-option-container{
    border:1px solid lightgray;
    padding:20px;
    margin:25px;
}
    .home-booking-option-container ol li {
        margin-bottom: 5px;
        font-size:16px;
    }

    .home-booking-option-container p a{
       margin-left:0px;
    }


.call-button-link {
/*    color: gray;*/
    margin: 10px;
}

.sitemap-section {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 20px;
    width: 100%;
}


.show-on-mobile {
    display: none;
}

.show-on-mobile-only{
    display:none;
}

.footer-details {
    padding: 20px 50px;
}

.footer-details-p {
    margin-bottom: 2px;
}

.footer-call-link {
    color: #6e6e6e;
}

    .footer-call-link:hover {
        color: #337ab7;
    }

/* Floating Back to Top Button */
#BackToTop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: dodgerblue;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    box-shadow: 1px 1px 5px gray;
}

    #BackToTop span {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -8px;
        margin-top: -12px;
        height: 0;
        width: 0;
        border: 8px solid transparent;
        border-bottom-color: #ffffff;
    }

    #BackToTop:hover {
        background-color: #e74c3c;
        opacity: 1;
        filter: "alpha(opacity=100)";
        -ms-filter: "alpha(opacity=100)";
    }

/* Price Listing */

.pricelist-group {
    display: flex;
    flex-flow: row;
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.pricelist-container {
    display: flex;
    flex-flow: row;
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}


.pricelist-category {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 10px;
    background-color: #0d62b5;
}

    .pricelist-category h4 {
        display: flex;
        margin: auto;
        font-weight: 600;
        color: white;
    }

.pricelist-carDetails {
    margin: 0px 10px;
    width: 300px;
}

.pricelist-carRates {
    flex: 1;
    margin: 0px 10px;
    min-width: 300px;
}

.pricelist-carDetails h4 {
    font-weight: 600;
}

.table-carDetails {
    width: 100%;
}

    .table-carDetails tr {
    }

        .table-carDetails tr th {
            padding: 0px 5px;
            border-bottom: 4px solid dodgerblue;
        }

        .table-carDetails tr td {
            padding: 5px;
            border-bottom: 1px solid lightgray;
        }

.pricelist-carDetails-label {
    color: dodgerblue;
}

.pricelist-carDetails-value {
    color: gray;
}

.pricelist-carDetails-btn {
    background-color: dodgerblue;
    margin:5px;
}

.pricelist-carDetails-btn-tr {
    border-bottom: none !important;
}

.priceList-contact-details {
    background-color: #373737;
    width: 100%;
    padding: 50px 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

    .priceList-contact-details h3 {
        color: white;
        font-size: 35px;
    }

    .priceList-contact-details p {
        color: white;
        font-size: 25px;
    }

    .priceList-contact-details a {
        margin-bottom: 15px;
    }

        .priceList-contact-details a button {
            color: black;
            font-size: 20px;
        }


.priceList-CarDesc {
    font-size: 20px;
}

.CarRental-Banner-Default {
    background-image: url(../Images/CarRental/Banner/Banner-Default.jpg);
    background-repeat: no-repeat;
    background-color: white;
    margin-bottom: 0px;
}

    .CarRental-Banner-Default h1 {
        font-size: 40px;
    }

    .CarRental-Banner-Default div{
        max-width:540px;
    }

    .CarRental-Banner-Default p {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .rate-header {
        float: right;
    }

/* Home - Featured Items */
.featured-container {
    display: flex;
    flex-flow: column;
}


.featured-title{
    margin:0px 10px;
    padding-left:20px;
}

    .featured-title p {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 0px;
        margin-top: 10px;
    }

.featured-item-list {
    display: flex;
    flex-flow: row;
    margin: 0px 20px;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.featured-item-box {
    border: 1px solid lightgray;
    min-width: 180px;
    height: 180px;
    margin: 0px 10px;
    padding: 5px;
    border-radius: 5px;
}

    .featured-item-box img {
        width:130px;
    }

    .featured-item-box-p {
        font-size: 13px;
        font-weight: 600;
    }

.featured-sm-icon {
    width:15px !important;
}

.no-padding-left{
    padding-left:0px;
}

.featured-item-desc-muted {
    color: #4B4848;
}

.text-price {
    color: #0D5E0D;
    font-size: 16px;
    font-weight: 700;
    padding: 2px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left:10px;
}
.featured-text-link {
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 5px;
}


.featured-item-box-header {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
}

.no-margin-bottom{
    margin-bottom:0px;
}
/* End of Home - Featured Items */

/* Main Links */
.main-links-container{
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    justify-content:space-around;
    margin-top:10px;
    padding-top:30px;
}

.main-links-items {
    display: flex;
    flex-flow: column;
    justify-content:center;
    align-items:center;
   
}

    .main-links-items:hover {
        webkit-filter: drop-shadow(2px 2px 3px skyblue);
        filter: drop-shadow(2px 2px 3px skyblue);
    }


.main-links-items a {
    /*border: 1px solid lightgray;*/
    min-width: 300px;
    min-height: 150px;
    margin: 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
     color:black;
}


    .main-links-items a:hover {
        color: dodgerblue;
    }


/* Featured Page */
.featured-page-section{
    margin-top:20px;
/*    padding:10px;*/
}

.featured-page-section p {
    margin: 20px;
    /*    padding:10px;*/
}

.no-margin-top{
    margin-top:0px;
}

.btn-sm-icon{
    margin-right:5px;
}

.featured-page-title-section {
    margin-left:0px;
    width:100%;
    padding: 5px;
    background-color: #0d62b5;
}

.featured-page-title {
    margin-left: 20px;
    color:white;
}

.page-featured-item-list {
    display: flex;
    flex-flow: row;
    margin: 0px 20px;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-wrap:wrap;
}

.page-featured-item-box {
    border: 1px solid lightgray;
    width: 320px;
    /*margin: 0px 10px;*/
    padding: 10px;
    /*border-radius: 5px;*/
}

    .page-featured-item-box img {
        width: 130px;
    }

.page-featured-item-box-p {
    font-size: 13px;
    font-weight: 600;

}

.featured-page-section{
    font-size:18px;
}

.page-featured-contact-us{
    margin-left:20px;
    margin-top:10px;
}
.page-featured-text-link {
    font-size: 15px;
    margin-top: 5px;
}

.set-max-width{
    width:100%;
}
/* Carousel */
.carousel {
    background: white;
}

.carousel-cell {
    width: 70%;
    height: 300px;
    /* flex-box, center image in cell */
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

    .carousel-cell .featured-item-box{
        background-color:white;
    }

    .carousel-cell img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        /* dim unselected */
        opacity: 0.7;
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
        -webkit-filter: blur(5px);
        filter: blur(5px);
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
        transition: opacity 0.3s, transform 0.3s, filter 0.3s;
    }

    /* brighten selected image */
    .carousel-cell.is-selected img {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: none;
        filter: none;
    }

.page-contact-container {
    display: flex;
    margin: auto;
    align-content: center;
    align-items: flex-start;
    flex-flow: row;
    padding: 20px;
    background-color: white;
    min-width: 300px;
    font-size:18px;
    line-height:1.7;
}

.contact-page-numbers {
    margin:10px 0px;
}

/* About Page */
.about-page-banner {
    margin: auto 20px;
    width: 100%;
}

.about-page-content {
    font-size: 18px;
    line-height:1.7;
}

/* Services Page */
.img-bg-car {
    background-image: url('/Images/CarRental/Home/Article/Article-car-beach.jpg');
    background-size: 100%;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.service-page-container {
    background-color: white;
    padding: 20px 0px 50px 0px;
}

.img-bg-car h1 {
    font-size: 38px;
}

.service-page-title {
    margin-left: 15px;
}

.service-page-desc {
    line-height: 30px;
    font-size:18px;
}

.service-img {
    padding: 20px;
}


.service-vehicle-img {
    height: 200px;
    width: 100%;
}





/* Generic Page Container */
.page-container {
    display: flex;
    margin: auto;
    align-content: center;
    align-items: flex-start;
    flex-flow: column;
    padding: 20px;
    padding-bottom: 50px;
    background-color: white;
    min-width: 300px;
}

.banner-default {
    margin-top: 0px;
    padding: 30px 20px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #424242;
    color: white;
}

.banner-default-header{
    display:flex;
    align-content:flex-start;
    align-items:flex-start;
    font-size:28px;
    margin-left:20px;
}

.container-desc {
   padding:20px;
   margin:20px 0px;
}

.container-desc h2{
    font-size:30px;
}

.container-desc p{
    font-size: 16px;
}


@media screen and ( min-width: 768px ) {
    .carousel-cell {
        height: 400px;
    }
}

@media screen and ( min-width: 960px ) {
    .carousel-cell {
        width: 60%;
    }
}

/* buttons, no circle */
.flickity-prev-next-button {
    width: 60px;
    height: 60px;
    background: transparent;
    opacity: 0.6;
}

    .flickity-prev-next-button:hover {
        background: transparent;
        opacity: 1;
    }
    /* arrow color */
    .flickity-prev-next-button .arrow {
        fill: #424242;
    }

    .flickity-prev-next-button.no-svg {
        color: #424242;
    }
    /* closer to edge */
    .flickity-prev-next-button.previous {
        left: 0;
    }

    .flickity-prev-next-button.next {
        right: 0;
    }
    /* hide disabled button */
    .flickity-prev-next-button:disabled {
        display: none;
    }

/*  Start of Mobile View Adjustments */
/* PC 1080p Screens */
@media only screen and (max-width: 1200px) {
    .main-page-full-banner {
        /*background-image: url('/Images/CarRental/Banner/RealWheelsBanner2020-md.jpg');*/
        background-image: none;
        height: 480px;
        /*padding: 20px;*/
    }


    .featured-item-box {
        height: 210px;
    }

        .featured-item-box div .featured-text-link {
            padding: 0px;
            margin-left: 0px;
            margin-top: 12px;
        }

        .featured-item-box div .text-price{
            margin-left:0px;
        }


}

/* Tablet 1080p Screens */
@media only screen and (max-width: 1100px) {
   

    .rental-banner {
        /*background-image: url('/Images/CarRental/Banner/RealwheelsDavaoBanner.jpg');*/
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 600px;
        min-width: 600px;
    }


    .main-page-full-banner {
        /*background-image: url('/Images/CarRental/Banner/RealWheelsBanner2020-lg-3.jpg');*/
        background-image: none;
        height: 400px;
        padding: 0px;
    }

        .main-page-full-banner > .title-container {
            width: 45%;
        }

            .main-page-full-banner > .title-container > h1 {
                font-size: 35px;
            }


    .carrental-car-img {
        width: 280px;
        height:250px;
    }

    .carrental-car-title{
        font-size:27px;
    }


    .banner-services {
        margin-left: 0px;
    }

    .featured-item-box {
        height: 200px;
    }

    .featured-text-link{
        padding:0px;
        margin-left:0px;
    }

    .main-links-items a img {
        width: 70px;
        height: 70px;
    }

}

@media only screen and (max-width: 990px) {
    .rental-banner {
        /*background-image: url('/Images/CarRental/Banner/RealwheelsDavaoBanner-sm.jpg');*/
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 500px;
        min-width: 600px;
    }

    .main-page-full-banner {
        /*background-image: url('/Images/CarRental/Banner/RealWheelsBanner2020-md.jpg');*/
        background-image: none;
        height: 460px;
        /*width:360px;*/
        padding:0px;
    }

        .main-page-full-banner > .title-container > h1 {
            font-size: 30px;
        }

        .main-page-full-banner > .title-container  > h1{
            font-size:30px;
        }

    .linkable-heading-Fleet{
        margin-left:10px;
    }

    .body-content-white {
        margin-left: 10px;
    }


    .car-container-details{
        flex-direction:row;
    }

    .carrental-car-img {
        width: 100%;
        height: 218px;
    }

    .banner-services-items img {
        width: 35px;
    }

    .featured-item-box {
        height: 320px;
        margin: 2px;
        padding: 15px;
        min-width: 150px;
    }

    .featured-item-box div .col-xs-6 {
       padding-right:2px;
    }

    .featured-item-box div div p {
        font-size: 12px;
    }

        .featured-item-box div .featured-text-link {
            padding: 0px;
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 15px;
        }

        .featured-item-box div .text-price {
            margin-left: 30px;
        }

}

/* Medium Screens */
@media only screen and (max-width: 800px) {


    .main-page-full-banner {
        /*background-image: url('/Images/CarRental/Banner/RealWheelsBanner2020-md.jpg');*/
        background-image: none;
        height: 360px;
    }
        .main-page-full-banner > .title-container {
            padding-top: 0px;
            margin-top: 10px;
            margin-bottom: 5px;
            margin-top: 0px;
        }

        .main-page-full-banner > .title-container > h1 {
            font-size: 30px;
            padding-top: 1  0px;
            margin-top: 10px;
        }

    .body-content-white {
        margin-left: 10px;
    }

    .home-article-item {
        margin: 0px;
        margin-left:15px;
        margin-top: 15px;
    }

        .banner-services div {
            width: 45px;
            margin: 2px;
        }

    .mobile-text-link {
        padding: 10px;
    }


    .linkable-heading-Fleet {
        margin-left:10px;
        margin-right: 160px;
    }

    .pricelist-carDetails{
        width:100%;
    }

    .pricelist-carImg {
        width: 200px;
    }

    .pricelist-carImg img {
        width: 100%;
    }

    .featured-text-link{
        margin-right:0px;
        margin-top:-2px;
    }


}

/* Small Screens */
@media only screen and (max-width: 420px) {

    body {
        background-color:white;
        max-width:95%;
    }
        
    .body-content-white {
       box-shadow:none;
    }

    .rental-banner {
        /*background-image: url('/Images/CarRental/Banner/RealWheelsBanner2020-sm.jpg');*/
        background-image: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 600px;
        min-width: 370px;
    }

    .main-page-full-banner {
        /*background-image: url('/Images/CarRental/Banner/RealWheelsBanner2020-sm.jpg');*/
        background-image: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 462px;
        margin-top: 0px;
        padding: 0px;
        /*padding-left: 10px;*/
        /*padding-top: 12px;*/
        /*margin-left: -5px;*/
        /*width: 100%;*/
        min-width: 365px;
        flex-flow: column;
    }

        .main-page-full-banner > .title-container {
            min-width: 320px;
            margin-left: 10px;
            margin-bottom: 10px;
            padding: 0px;
            padding-left: 10px;
            padding-top: 12px;
        }

            .main-page-full-banner > .title-container > h1 {
                font-size: 40px;
                padding-top: 0px;
                margin-top: 0px;
            }

            .main-page-full-banner > .title-container > p {
                margin-top: 20px;
                width: 90%;
                font-size: 15px;
            }

        .main-page-full-banner > .video-container {
            width: 100%;
            margin-top:20px;
            padding-top:20px;
        }

            .main-page-full-banner > .video-container > video {
                margin-top: -30px;
                margin-right: -30px;
            }

    .image-after-video {
        margin-top: -30px;
        height:108%;
    }

    .booking-rsv-btn{
        margin-left:-20px;
    }

    .carrental-car-img {
        /*width: 100%;*/
        width: 240px;
        height: 180px;
    }

    .contact-us-items{
        width:100%;
    }

    .body-content-white {
        margin-left:-5px;
    }


    .car-container-details {
        flex-direction: column;
        margin-left:20px;
    }
    .car-container {
        padding: 15px;
    }
    .contact-container div div{
        margin-top:50px;
    }

    .mobile-text-link{
        padding:0px;
    }


    .home-article-container {
        width: 105%;
    }

    .home-article-list {
        width:100%;
    }

    .home-article-item {
        margin: 0px;
        margin-top: 10px;
    }


    .footer-details {
        padding: 20px 15px;
    }

    .footer-details-p {
        margin-bottom: 20px;
    }

    .footer-call-link {
        color: #6e6e6e;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 8px;
    }

        .footer-call-link:hover {
            color: #337ab7;
            border: 1px solid #337ab7;
        }

    .banner-services-container{
        flex-flow:column;
    }


    .linkable-container {
        width: 105%;
    }

    .hidden-on-mobile{
        display:none !important ;
    }

    .show-on-mobile {
        display: flex !important;
    }

    .banner-services-items {
        width: 50px;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items:center;
        margin-left: 0px;
        padding-right: 0px;
    }

    .banner-services-items p {
        font-size: 8px;
        padding-top: 10px;
    }

    .banner-services  {
        margin-left:-10px;
    }

    .banner-services div {
        width: 45px;
        margin: 2px;
    }

    .more-links-section {
        padding-left: 20px;
        padding-right: 10px;
    }

    .links-section-wide {
        width:100%;
    }


    .mobile-text-link {
        padding: 5px;
    }

    .more-links-section {
        flex-flow: column;
    }


    .more-links-section a button h3 {
       font-size:20px;
    }

    .banner-btn-green {
        margin: 5px 0px;
    }


    #BackToTop {
        right: 10px;
        bottom: 120px;
    }

    /*PriceList */
    .pricelist-container{
        flex-flow:column;
    }


    .priceList-contact-details h3 {
        color: white;
        font-size: 20px;
    }

    .priceList-contact-details p {
        color: white;
        font-size: 15px;
        border: 1px solid dodgerblue;
        border-radius:5px;
        padding:10px;
    }

    .priceList-CarDesc {
        font-size:25px;
    }

    .pricelist-carImg img{
        width:100%;
        padding-left:10px;
    }

    .pricelist-carDetails-btn{
        width:100%;
    }

    .priceList-contact-details {
        margin-left: -8px;
        width: 111%;
    }

    .pricelist-category {
        margin-left: -8px;
        width: 111%;
    }

    .CarRental-Banner-Default{
        margin-left:10px;
    }

    .carrental-car-details {
        padding: 0px;
    }

    .rate-header {
        float: left;
    }

    .featured-item-list{
        flex-flow:column;
    }


    .featured-item-box {
       display:flex;
       flex-flow:column;
       height:190px;
       padding:0px 10px;
       margin-top:10px;
       width:98%;
    }

    .text-price{
        margin:0px;
    }

    .featured-title{
        text-align:center;
    }

    .featured-item-box-header{
        margin-top:10px;
    }


    .featured-item-box div div .featured-item-box-p {
        text-align:center;
        font-size:12px;
        margin-bottom:5px;
    }

    .featured-item-box div div .img-thumbnail {
        margin-bottom: 10px;
    }


    .featured-item-box div .text-price {
        margin-left: 10px;
    }

    .page-featured-item-list{
        margin-right:0px;
    }


    .show-on-mobile-only {
        display: block;
    }


    .page-contact-container {
      padding:0px;
        flex-flow: column;
    }

    .contact-page-numbers a {
        border: 1px solid rgb(6,105,178);
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        display: block;
        text-align: center;
    }

    .contact-page-map{
        width:300px !important;
    }

    .home-booking-option-container {
        margin: 5px;
    }

    .home-booking-option-container ol li {
        margin-bottom: 15px;
    }

    .home-company-desc {
        /*background-color: #393a3d;*/
        margin: 10px 0px;
        padding: 15px;
        padding-bottom: 0px;
    }

    .page-container {
        padding: 0px;
    }

    .about-page-banner{
        width:92%;
    }

    .featured-page-section{
        margin-left:-8px;
        width:111%;
    }

    .page-featured-contact-us a{
        width:100%;
    }

    .banner-btn-green{
        width:220px;
    }

    .main-links-items a{
        min-height:50px;
    }

        .main-links-items a img {
            width: 70px;
            height: 70px;
        }
}

