


/* CarRental Home Styles */

/* home page fonts */


.home-page-header {
    font-family: 'Oxygen', 'sans-serif';
    font-weight:800;
    margin-bottom:50px;
}

.home-page-p {
    font-family: 'Lato','sans-serif';
    font-size: 18px;
    line-height:1.7;
}

.home-services-p > p {
    font-family: 'Lato','sans-serif';
    font-size: 16px;
    line-height: 1.5;
}

.body-content-white {
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 1px 1px 20px lightgray;
}

.rental-banner {
    background-image: url('/Images/CarRental/Banner/RealWheelsBanner2020-lg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    min-width: 400px;
    color: white;
    padding-left: 20px;
}

.main-page-full-banner {
    display: flex;
    width: 100%;
    background-image: url('/Images/CarRental/Banner/RealWheelsBanner2020-lg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(6,105,178);
    height: 490px;
    min-width: 400px;
    color: white;
    padding: 60px;
    padding-bottom:0px;
    margin-bottom: 0px;
}

    .main-page-full-banner > .title-container {
        width: 50%;
        height:60%;
    }

        .main-page-full-banner > .title-container > h1 {
            font-size: 45px;
        }

        .main-page-full-banner > .title-container > p {
            /*background-color: black;*/
            /*padding: 20px;*/
            width: 80%;
        }

.banner-services {
    margin-top: 0px;
    padding: 10px;
    margin-bottom: 0px;
    margin-left: 00px;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-evenly;
    /*background-color: rgb(6,105,178);*/
    background-color: #424242;
    color: white;
}

.banner-services-container {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.banner-services-items {
    min-width: 50px;
    /*margin: 8px;*/
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items:flex-start;
}

    .banner-services-items p {
        font-size: 12px;
        font-weight:600;
        padding-top: 10px;
        text-shadow: 2px 2px 3px black;
    }

    .banner-services-items img {
        width:45px;
        webkit-filter: drop-shadow(5px 5px 3px black);
        filter: drop-shadow(5px 5px 5px black);
    }

        .banner-services-items img:hover {
            webkit-filter: drop-shadow(2px 2px 3px dodgerblue);
            filter: drop-shadow(2px 2px 3px dodgerblue);
        }

.banner-btn-green {
    color: #0669B2;
    background-color: #F2EC41;
    border-color: #F2EC41;
    font-size:20px;
    margin:15px 0px;
}

    .banner-btn-green:hover {
        color: #0669B2;
        background-color: #cfcb30;
        border-color: #cfcb30;
    }

.Selected-Active {
    border-color: dodgerblue !important;
    box-shadow: 1px 1px 10px dodgerblue !important;
}

.linkable-container {
    margin-top: 0px;
    width: 100%;
}

.linkable-heading {
    font-size: 30px;
    text-shadow: 2px 2px 3px black;
    margin-top: 15px;
    color: white;
}

.linkable-heading-Fleet {
    margin-left: -22px;
    margin-right: 160px;
}

.linkable-heading:hover {
    color: dodgerblue;
    cursor:pointer;
}

.banner-fleet-items {
    margin:5px;
}

    .banner-fleet-items img {
        width:50px;
        margin:5px;
    }

        .banner-fleet-items img:hover {
            border: 2px solid dodgerblue;
        }

    .banner-fleet-items p {
        margin: 5px;
        font-weight: 600;
        text-shadow: 2px 2px 3px black;
    }

.fleet-circle {
    border-radius: 50%;
    border: 2px solid white;
}

.scroll-text{
    color:white;
    cursor:pointer;
}

    .scroll-text:hover {
        color: dodgerblue;
        cursor: pointer;
    }


    .scroll-text:active {
        color: white;
    }

.contact-container {
    padding-left: 35px;
    padding-right: 35px;
}

.contact-container div div p {
    margin-bottom:2px;
}

.contact-container-full {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#393a3d;
    margin:0px;
    padding:20px;
    color:white;
}

.car-container {
    padding: 10px 30px;
}

.car-primary {
    background-color: white;
    border: 1px solid lightgray;
    height: 550px;
    transition: 0.5s;
}

    .car-primary:hover {
        box-shadow: 0px 0px 10px 1px dodgerblue;
        z-index: 20;
        border-color: dodgerblue;
    }

.car-container-details{
    margin:5px;
    padding:20px;
    border-radius:5px;
    box-shadow:1px 1px 10px lightgray;
    display:flex;
    flex-direction:column;
    align-content:center;
}

.carrental-car-img {
    margin: auto 0px;
    width: 100%;
    max-height:300px;
    border-radius:5px;
    /*padding:10px 5px;*/
}

.carrental-car-title {
    color: #393a3d;
    font-weight: 600;
}

.carrental-car-price {
    color: #0D6F06;
    font-weight: 600;
    font-size: 20px;
}

.vehicle-types-title {
    font-weight: 600;
    font-size: 20px;
}

.home-services-h {
    font-weight: 400;
    font-size:20px;
    padding:10px 0px;
}

.more-links-section {
    margin-bottom: 50px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items:center;
    align-content:center;
    
}

.home-muted-p {
    color: #6E6E6E;
}

.carrental-car-price-desc {
    color: #6E6E6E;
}


.form-label {
    margin-top: 5px;
}

.form-group-margin {
    margin-bottom: 15px;
}


.contact-us-items {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 10px;
}


.rsvr-btn {
    width: 100%;
    margin: auto;
}

.desc-p {
    font-size: 18px;
    line-height: 1.7;
    color: #424242;
}

.desc-a {
    color: #424242;
    text-decoration: underline;
}

.home-company-desc {
    /*background-color: #393a3d;*/
    margin: 20px 0px;
    padding: 50px;
}

    .home-company-desc p {
        font-size: 18px;
        line-height: 1.7;
        color: #424242;
    }

    .home-company-desc h2 {
        color: black;
    }
    .home-company-desc p a {
        color: #424242;
        text-decoration: underline;
    }

.home-services-img {
    margin: 20px;
    width: 80%;
}

.home-heading {
    font-weight:600;
}

.home-panel {
    /*border:1px solid lightgray;*/
    padding: 30px;
    min-height: 200px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px lightgray;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items:center;
}

    .home-panel a h4 {
        font-weight:600;
    }

    .home-panel ul{
        padding-left:20px;
    }

.home-vehicle-type-img {
    height: 150px;
    width: 150px;
}

.home-article-list {
    color: white;
    padding: 30px;
}

.home-article-item {
    width: 280px;
    border: 1px solid lightgray;
    margin: 35px;
    padding: 15px;
    /*box-shadow: 0px 0px 8px 2px b;*/
    background-color: white;
    color:black;
}

.home-article-container {
    background-color: #393a3d;
    /*margin-left: -25px;*/
    width: 100%;
}

.sitemap-section {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 20px;
    width: 100%;
}


.show-on-mobile {
    display: none;
}


.footer-details {
    padding: 20px 50px;
}
/* PC 1080p Screens */
@media only screen and (max-width: 1200px) {
}

/* Tablet 1080p Screens */
@media only screen and (max-width: 1100px) {
   

    .rental-banner {
        background-image: url('/Images/CarRental/Banner/RealwheelsDavaoBanner.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 600px;
        min-width: 600px;
    }


    .main-page-full-banner {
        background-image: url('/Images/CarRental/Banner/RealWheelsBanner2020-md.jpg');
        height: 480px;
        padding: 20px;
    }

        .main-page-full-banner > .title-container {
            width: 50%;
        }

            .main-page-full-banner > .title-container > h1 {
                font-size: 50px;
            }


    .carrental-car-img {
        width: 280px;
        height:250px;
    }

    .carrental-car-title{
        font-size:27px;
    }


    .banner-services {
        margin-left: 0px;
    }


}

@media only screen and (max-width: 990px) {
    .rental-banner {
        background-image: url('/Images/CarRental/Banner/RealwheelsDavaoBanner-sm.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 500px;
        min-width: 600px;
    }

    .main-page-full-banner {
        background-image: url('/Images/CarRental/Banner/RealWheelsBanner2020-md.jpg');
        height: 360px;
        /*width:360px;*/
    }

    .body-content-white {
        margin-left: 10px;
    }


    .car-container-details{
        flex-direction:row;
    }

    .carrental-car-img {
        width: 100%;
        height: 218px;
    }

    .banner-services-items img {
        width: 35px;
    }


}

/* Medium Screens */
@media only screen and (max-width: 800px) {


    .main-page-full-banner {
        background-image: url('/Images/CarRental/Banner/RealWheelsBanner2020-md.jpg');
        height: 360px;
        padding-left:20px;
    }

        .main-page-full-banner > .title-container > h1 {
            font-size: 30px;
            padding-top: 30px;
            margin-top: 10px;
            padding-top: 30px;
        }

    .body-content-white {
        margin-left: 10px;
    }

    .home-article-item {
        margin: 0px;
        margin-left:15px;
        margin-top: 15px;
    }

        .banner-services div {
            width: 45px;
            margin: 2px;
        }

    .mobile-text-link {
        padding: 10px;
    }


    .linkable-heading-Fleet {
        margin-left:10px;
        margin-right: 160px;
    }
}

/* Small Screens */
@media only screen and (max-width: 420px) {

    body {
        background-color:white;
        max-width:95%;
    }
        
    .body-content-white {
       box-shadow:none;
    }

    .rental-banner {
        background-image: url('/Images/CarRental/Banner/RealWheelsBanner2020-sm.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 600px;
        min-width: 370px;
    }

    .main-page-full-banner {
        background-image: url('/Images/CarRental/Banner/RealWheelsBanner2020-sm.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 546px;
        margin-top: 0px;
        padding: 0px;
        padding-left: 10px;
        padding-top: 12px;
        /*margin-left: -5px;*/
        /*width: 100%;*/
        min-width: 365px;
        /*flex-flow: column;*/
    }

        .main-page-full-banner > .title-container {
            min-width: 320px;
            margin-left: 10px;
            margin-bottom: 10px;
        }

            .main-page-full-banner > .title-container > h1 {
                font-size: 40px;
                padding-top: 0px;
                margin-top: 0px;
            }

            .main-page-full-banner > .title-container > p {
                margin-top: 20px;
                width: 90%;
                font-size: 15px;
            }


    .carrental-car-img {
        /*width: 100%;*/
        width: 240px;
        height: 180px;
    }

    .contact-us-items{
        width:100%;
    }

    .body-content-white {
        margin-left:-5px;
    }


    .car-container-details {
        flex-direction: column;
        margin-left:20px;
    }
    .car-container {
        padding: 15px;
    }
    .contact-container div div{
        margin-top:50px;
    }

    .mobile-text-link{
        padding:0px;
    }



    .home-article-list {
        /*width:100%;*/
    }
    .home-article-item {
        margin: 0px;
        margin-top: 10px;
    }


    .footer-details {
        padding: 20px 15px;
    }

    .banner-services-container{
        flex-flow:column;
    }

    .linkable-container {
        width: 105%;
    }

    .hidden-on-mobile{
        display:none !important ;
    }

    .show-on-mobile {
        display: flex !important;
    }

    .banner-services-items {
        width: 50px;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        margin-left: -20px;
    }

    .banner-services-items p {
        font-size: 8px;
        padding-top: 10px;
    }

    .banner-services  {
        margin-left:-10px;
    }

    .banner-services div {
        width: 45px;
        margin: 2px;
    }


    .mobile-text-link {
        padding: 5px;
    }

    .more-links-section {
        flex-flow: column;
    }


    .more-links-section a button h3 {
       font-size:20px;
    }

    .banner-btn-green {
        margin: 5px 0px;
    }


}

