/* **********************************
    Real Breeze Styles 
    2019
************************************* */

.featured {
    background-color: #fff;
    padding-top: 2px;
    min-width:700px;
}

.textClass_dark {
    color: #0026ff;
    color: white;
	text-shadow: 1px 4px 6px #e2e2e2;
}
.textClass_light {
    color: #fff;
	text-shadow: 1px 4px 6px #e2e2e2;
}

.HomePageLogo{
	padding:6px;
    margin:10px;
	margin-top:45px;
	border-radius:4px;
    float:left;
	background-color:#e2e2e2;
}
    .HomePageLogo img {
        height: 90px;
    }

     .banner-title-text {
         display:block;

    }

@media screen and (max-width: 800px) {
    .banner-title-text {
        display:none;
    }

    .banner-home {
        height:220px;
    }

    }
