/*
    Trip Log Print Form Style
*/

.rpt-table-bordered {
    border: 2px solid black;
}

    .rpt-table-bordered td {
        border-top: 2px solid black !important;
    }

.rpt-input-margin {
    margin-bottom: 10px;
}

.col-md-3 col-xs-3 {
    margin-left: -10px;
    margin-right: 10px;
}

.col-md-9 col-xs-9 {
    margin-left: 0px;
    margin-right: -15px;
    padding: 0px 5px;
    left: 25px;
}

.table {
    background-color: #eff3f6 !important;
    font-size: 12px;
}

h3 {
    margin: 0px;
}

.print-form-size {
    margin: auto;
    margin-top: 10px;
    width: 700px;
}

.form-text-small{
    font-size:10px;
}


.form-input-small {
    font-size: 12px;
}


.form-text-small span {
   padding:0px 5px;
}

.table tr th span{
    margin-left:0px ;
}

.form-group-sm{
    margin-bottom:10px;
}

.form-button-margin-left {
    margin-left:10px
}