/* **********************************
    Real Breeze Styles 
    2019
************************************* */
    /* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper1 {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }
    .featured .content-wrapper {
        background-position:center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: #7ac0da;
        padding: 2px 40px 3px 60px;
    }



        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #333;
        }

        .featured p {
            font-size: 1.1em;
        }


/**--- ERP2015 styles*/

.ModuleIcon {
	float: left;
	width: 135px;
	height: 150px;
	border: 1px solid #d2d2d2;
	border-radius: 4px;
	margin: 3px;
	text-align: center;
}

.ModulePageIcon {
	height: 80px;
	margin: 3px;
	float:left;
}
.HomeLinkIcon {
	height: 40px;
	width: 160px;
	margin: 3px;
}

.CustomBox{
	float:left;
	border: solid 1px #c8c8c8;
	box-shadow: 2px 2px 6px #999;
	background: none repeat scroll 0% 0% #E2E2E2;
	padding: 12px;
	margin: 3px 3px 9px 3px;
	border-radius:4px;
}
	.CustomBox p {
		color: #3a2d5b;
		text-shadow: 0px -1px 0px #fff;
	}

	.CustomBox a{
		font: bold 14px arial, verdana;
		color: blue;
	}

.TicketItem{
	background-color: #3c5998;
	font: 300 14px Verdana;
	color: #0ff;
	border: 1px none #7ac0da;
	margin: 1px 1px 12px 1px;
	border-radius: 8px;
}
	.TicketItem a{
		font: 600 14px Verdana;
		color: #00ff90;
	}

	.TicketItem h1{
		font: 500 14px helvitica, verdana;
		color:#e2e2e2;
		text-shadow:0px 0px 0px #fff;
	}

.TicketItem .TicketDetails
{
	margin: 10px;
	width:100%;
}

.TicketItem .TaskList{
	background-color: #efeeef;
	font: 300 14px Tahoma, Verdana;
	color: #575757;
	padding-left:12px;
	border:  1px dotted gray;
	margin:0px;
	border-radius: 8px;
}
.TicketItem .TaskList a{
	font: 400 14px Tahoma, Verdana;
	color: #179cce;
}


.infotable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
.infotable th {
	background-color:#f0fefe;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
.infotable tr {
	background-color:#f6fafc;
}
.infotable td {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #a9c6c9;
	white-space:nowrap;

}

.infotable2 {
	font-family: verdana,arial,sans-serif;
	font-size:12px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
.infotable2 th {
	background-color:#f0fefe;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
.infotable2 tr {
	background-color:#f6fafc;
	padding: 12px;
}
.infotable2 td {
	border-width: 1px;
	padding: 6px;
	border-style: solid;
	border-color: #a9c6c9;
	white-space:nowrap;

}
	.infotable2 td a
	{
		color:saddlebrown;
	}


.box101
{
	padding:12px;
	border: solid 1px #d9d9d9;
	width:100%;
}

.bordered .box102
{
	
	border: solid 1px #d9d9d9;
	border-radius: 4px;
	background-color: #337ab7;
	color:white;
}
	.bordered .box102 td, .bordered.box102 th {
	    padding: 4px;
	    text-align: right;    
		min-width: 30px;
	}
		.bordered .box102 td h1{
			font:800 10px arial, verdana;
			color: rgba(255,255,255,.5);
			margin:2px;
		}

	.bordered .box102 tr:hover {
	    background: #338ab8;
	    -o-transition: all 0.1s ease-in-out;
	    -webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-ms-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;     
	}    



.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

.bordered1 tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
	white-space: nowrap;
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

/**
    Boostrap ARROW BUTTON CSS
*/

.btn { /* just for this demo. */
    margin-top: 5px;
}
.btn-arrow-right,
.btn-arrow-left {
    position: relative;
    padding-left: 12px;
    padding-right: 15px;
    margin-left:-13px;
}


.on-progress {
    border-bottom-color : orangered;
    border-bottom-width: 2px;
}

.btn-arrow-right {
    padding-left: 20px;
}
.btn-arrow-left {
    padding-right: 16px;
}
.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
    content:"";
    position: absolute;
    top: 5px; /* move it down because of rounded corners */
    width: 22px; /* same as height */
    height: 22px; /* button_outer_height / sqrt(2) */
    background: inherit; /* use parent background */
    border: inherit; /* use parent border */
    border-left-color: transparent; /* hide left border */
    border-bottom-color: transparent; /* hide bottom border */
    border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
   
}
.btn-arrow-right:before,
.btn-arrow-right:after {
    transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.btn-arrow-left:before,
.btn-arrow-left:after {
    transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}
.btn-arrow-right:before,
.btn-arrow-left:before { /* align the "before" square to the left */
    left: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:after { /* align the "after" square to the right */
    right: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:before { /* bring arrow pointers to front */
    z-index: 1;
}
.btn-arrow-right:before,
.btn-arrow-left:after { /* hide arrow tails background */
    background-color: lightgray;
}

/*Removes table lines */
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

#DtExpense { z-index:1240;}


.amount-payment{
    color:green; font: bold 12px arial, verdana;
}

.amount-rate{
    color:blue; font: bold 12px arial, verdana;
}


.amount-expense{
    color:red; font: bold 12px arial, verdana;
}

.cform {
    padding-bottom:15px;
}



.reservation-content-white {
     border:1px solid lightgray;
     margin:10px 5px;
     padding:20px 110px;
     min-width:250px;
     width:50%;
     background-color:white;
}

.reservation-content-white.row.col-lg-12 {
    text-align:center;
}

.reservation-ads {
    width:200px;
    height:250px;
    margin:5px 5px;
    border:1px solid lightgray;
    padding:0px;
}

.online-resevation-ads-img{
    margin:3px 10px;
    border:1px solid lightgray;
}

.online-resevation-main-img{
    margin:3px 10px;
    border:1px solid lightgray;
}

.online-resevation-ads-sticky{
    top:50px;
    position: -webkit-sticky;
    position: sticky;
}

.online-resevation-product-info{
    
     border:1px solid lightgray;
     margin:10px 5px;
     padding:20px 20px;
     min-width:250px;
     width:30%;
     background-color:white;
}

@media screen and (max-width: 1023px) {

    .reservation-content-white {
         border:1px solid lightgray;
         margin:10px 10px;
         padding:50px 20px;
         width:310px;
         background-color:white;
         margin-bottom:50px;
    }

    
    .online-resevation-product-info{
    
         border:1px solid lightgray;
         margin:10px 10px;
         padding:20px 20px;
         width:310px;
         background-color:white;
    }

    
.online-resevation-ads-img{
    width:250px;
    margin:3px 10px;
    border:1px solid lightgray;
}
}

