
@{
    ViewBag.Title = "TextMessage";
    Layout = "~/Views/Shared/_ModuleLayout_NoMenu.cshtml";
}

@Html.Partial("~/Views/Shared/Menu.cshtml", null, new ViewDataDictionary { { "ROOTMENUID", 3 } })

<h2>Trip Message</h2>

<textarea cols="50" rows="15">
@ViewBag.StrData
</textarea>


