
@{
    ViewBag.Title = "TextConfirmation";
}

<div class="row">
    <h2>Text Confirmation</h2>
    <div class="col-lg-4">
        <h4>For Client</h4>
        <textarea cols="50" rows="15">
            @ViewBag.StrData
        </textarea>
    </div>

    <div class="col-lg-4">
        <h4>For Driver</h4>
        <textarea cols="50" rows="15">
            @ViewBag.forDriver
        </textarea>
    </div>
</div>
