@model JobsV1.Areas.Personel.Models.crLogFuel

@{
    ViewBag.Title = "Print Approve Form";
}

<table class="table">
    <tr>
        <td> Expenses Request Form </td>
    </tr>

    <tr>

    </tr>
</table>

