@model IEnumerable<JobsV1.Models.CustEntMain>

@{
    ViewBag.Title = "Companies";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}


<h2>Companies </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<p>
    Status:
    <span>
        <span id="PRI" class="status-link status-active"> Priority   </span> |
        <span id="ACC" class="status-link"> Accredited   </span> |
        <span id="AOP" class="status-link"> Accreditation on Process   </span> |
        <span id="BOT" class="status-link "> Billing/Terms   </span> |
        <span id="ACT" class="status-link"> Active </span> |
        @*<span id="INC" class="status-link"> Inactive </span> |*@
        @*<span id="BAD" class="status-link"> Bad      </span> |*@
        <span id="ALL" class="status-link"> All      </span>
    </span>
</p>

<div class="form-group">
    <div class="search-group">
        <input class="form-control search-cat" id="srch-field" type="search"  />
    </div>
    <div>
        <select class="form-control search-field" id="srch-category" style="width:150px;" >
            <option value="Company">Company Name</option>
            <option value="City">City</option>
            <option value="Category">Category</option>
            <option value="Contact">Contact Person</option>
        </select>
    </div>
    <div>
        <button class="btn btn-default search-group" onclick="ajax_loadContent()" >Search</button>
    </div>
</div>
<table class="js-sort-table table" id="company-Table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Code
        </th>
        <th>
            Website
        </th>
        <th>
            City
        </th>
        <th>
            Category
        </th>
        <th>
            Status
        </th>
        <th>
            Contact Person
        </th>
        <th>
            Position
        </th>
        <th>
            Mobile # <br /> Email
        </th>
        <th>
            Assigned To
        </th>
        <th></th>
    </tr>

</table>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Job/CustEntMainList.js"></script>
<script src="~/Scripts/sort-table.js"></script>