@model IEnumerable<JobsV1.Models.CustEntMain>

@{
    ViewBag.Title = "Companies";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}


<h2>Companies </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<p>
    Status:
    <span>
        <span id="PRI" class="status-link status-active"> Priority   </span> |
        <span id="ACC" class="status-link"> Accredited   </span> |
        <span id="AOP" class="status-link"> Accreditation on Process   </span> |
        <span id="BOT" class="status-link "> Billing/Terms   </span> |
        <span id="ACT" class="status-link"> Active </span> |
        @*<span id="INC" class="status-link"> Inactive </span> |*@
        @*<span id="BAD" class="status-link"> Bad      </span> |*@
        <span id="ALL" class="status-link "> All      </span>
    </span>
</p>

<div class="form-group">
    <div class="search-group">
        <input class="form-control search-cat" id="srch-field" type="search"  />
    </div>
    <div>
        <select class="form-control search-field" id="srch-category" style="width:150px;" >
            <option value="Company">Company Name</option>
            <option value="City">City</option>
            <option value="Category">Category</option>
            <option value="ContactName">Contact Person</option>
            <option value="AssignedTo">Assigned To</option>
        </select>
    </div>
    <div>
        <button class="btn btn-default search-group" onclick="ajax_loadContent()" >Search</button>
    </div>
</div>

<table class="js-sort-table table"  id="company-Table" data-sortable>
    <thead>
        <tr>
            <th class="col-md-1">
                Name
            </th>
            <th class="col-md-1">
                Code
            </th>
            <th class="col-md-1">
                Website
            </th>
            <th class="col-md-1">
                City
            </th>
            <th class="col-md-1">
                Category
            </th>
            <th class="col-md-1">
                Status
            </th>
            <th  class="col-md-1" style="min-width:150px">
                Contact Person
            </th>
            <th class="col-md-1">
                Position
            </th>
            <th class="col-md-1" style="min-width:230px">
                Mobile
            </th>
            <th class="col-md-1">
                Assigned To
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2"> </td>
            <td colspan="3">
                <br />
                <img src="~/Images/GIF/loading.gif" height="25" />
                Loading Companies, please wait...
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Job/CustEntMainList.js"></script>
<script src="~/Scripts/sort-table.js"></script>
<script src="~/Scripts/sorttable.min.js"></script>