@model IEnumerable<JobsV1.Models.CustEntMain>

@{
    ViewBag.Title = "Companies";
    Session["ROOTMENUID"] = 5;
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

@*<style> 
    .container {
        margin-left:25px;
    }
</style>*@

<div class="view-header">

    <h2>Companies </h2>

    <div class="header-btn-list">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </div>

</div>
<div class="view-content">
    <div class="filter-panel">
        <div class="sort-panel">
            <div class="btn-group">
                <button class="btn btn-default disabled" style="color:black;">
                    Status:
                </button>
                <button id="PRI" class="btn btn-default status-link status-active"> Priority   </button>
                <button id="ACC" class="btn btn-default status-link"> Accredited     </button>
                <button id="AOP" class="btn btn-default status-link"> Acc. on Process</button>
                <button id="BOT" class="btn btn-default status-link "> Billing/Terms </button>
                <button id="ACT" class="btn btn-default status-link"> Active </button>
                <button id="ALL" class="btn btn-default status-link "> All   </button>
            </div>

            <div class="btn-group">
                <button class="btn btn-default disabled" style="color:black;">
                    Sort: &nbsp;
                </button>
                <button id="sort-Name" class="btn btn-default status-link sort-link status-active" onclick="SortBy(this, 'NAME')"> Name </button>
                <button class="btn btn-default status-link sort-link" onclick="SortBy(this, 'CITY')">     City   </button>
                <button class="btn btn-default status-link sort-link" onclick="SortBy(this, 'CATEGORY')"> Category  </button>
                <button class="btn btn-default status-link sort-link" onclick="SortBy(this, 'STATUS')">   Status  </button>
                <button class="btn btn-default status-link sort-link" onclick="SortBy(this, 'UPDATE')">   Last Update  </button>
            </div>
        </div>

        <div class="search-panel">
            <div class="btn-group">
                <div class="btn-group">
                    <input class="form-control search-cat" id="srch-field" type="search" />
                </div>
                <div class="btn-group">
                    <select class="form-control search-field" id="srch-category" style="margin-right:0px;width:160px;">
                        <option value="Company">Company Name</option>
                        <option value="City">City</option>
                        <option value="Category">Category</option>
                        <option value="ContactName">Contact Person</option>
                        <option value="AssignedTo">Assigned To</option>
                    </select>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default" onclick="CompanySearch();">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>

    <table class="js-sort-table table" id="company-Table" data-sortable>
        <thead>
            <tr>
                <th>
                    
                </th>
                <th class="col-md-1">
                    Name
                </th>
                <th class="col-md-1">
                    City
                </th>
                <th class="col-md-1">
                    Category
                </th>
                <th class="col-md-1">
                    Status
                </th>
                <th class="col-md-1" style="min-width:150px">
                    Contact Person
                </th>
                <th class="col-md-1" style="min-width:230px">
                    Contact Details
                </th>
                <th class="col-md-1" style="white-space:nowrap">
                    Last Update
                </th>
                <th class="col-md-1">
                    AssignedTo
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr id="table-row-loading">
                <td colspan="4"> </td>
                <td colspan="5">
                    <br />
                    <img src="~/Images/GIF/loading.gif" height="25" />
                    Loading Companies, please wait...
                </td>
                <td></td>
            </tr>

            <!--foreach (var company in Model)
            {
                <tr>
                    <td>
                        company.Name
                    </td>
                    <td>
                        company.CityId
                    </td>
                    <td>
                       
                    </td>
                    <td>
                        company.Contact1 
                    </td>
                    <td>
                        company.Contact1
                    </td>
                    <td>
                        company.AssignedTo
                    </td>
                    <td>
                        Html.ActionLink("Edit", "Edit", new { id = company.Id }) |
                       Html.ActionLink("Details", "Details", new { id = company.Id }) 
                    </td>
                </tr>
            }-->
        </tbody>
    </table>
</div>


@section Scripts{
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/Job/CustEntMainList.js"></script>
    <script src="~/Scripts/sort-table.js"></script>
    <script src="~/Scripts/sorttable.min.js"></script>

}