@model IEnumerable<JobsV1.Models.CustEntMain>

@{
    ViewBag.Title = "Companies";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}


<h2>Companies </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<p>
    Status:
    <span>
        <span id="ACTIVE" class="status-link status-active"> Active   </span> |
        <span id="INACTIVE" class="status-link"> Inactive </span> |
        <span id="BAD" class="status-link"> Bad      </span> |
        <span id="ALL" class="status-link"> All      </span>
    </span>
</p>

<div class="form-group">
    <div class="search-group">
        <input class="form-control search-cat" id="srch-field" type="search"  />
    </div>
    <div>
        <select class="form-control search-field" id="srch-category" >
            @*<option value="All">All</option>*@
            <option value="Procurement">Procurement</option>
            <option value="City">City</option>
            <option value="Company Name">Company Name</option>
            <option value="Category">Category</option>
            <option value="Contact Person">Contact Person</option>
        </select>
    </div>
    <div>
        <button class="btn btn-default search-group" onclick="ajax_loadContent()" >Search</button>
    </div>
</div>
<table class="js-sort-table table" id="company-Table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            City
        </th>
        <th>
            Category
        </th>
        <th>
            Status
        </th>
        <th>
            Contact Person
        </th>
        <th>
            Position
        </th>
        <th>
            Mobile #
        </th>
        <th>
            Assigned To
        </th>
        <th></th>
    </tr>

</table>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Job/CustEntMainList.js"></script>
<script src="~/Scripts/sort-table.js"></script>