@model IEnumerable<JobsV1.Models.CustEntMain>

@{
    ViewBag.Title = "Companies";
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2>Companies </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<p>
    <input class="input-sm" id="srch-field" type="search" />
    <button class="btn btn-default" onclick="ajax_loadContent()">Search</button>
</p>
<table class="table" id="company-Table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            City
        </th>
        <th>
            Landline Nos
        </th>
        <th>
            Category
        </th>
        <th>
            Status
        </th>
        <th>
            Contact Person
        </th>
        <th>
            Position
        </th>
        <th></th>
    </tr>

</table>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Job/CustEntMainList.js"></script>
<script> 
        
</script>