
<!-- Partial View       -->
<!-- Categories Modal   -->
<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Category List</h4>
            </div>
            <div class="modal-body" id="modal2-content">
                <div class="list-group" id="categorylist">

                    @foreach (var cat in ViewBag.categories as IEnumerable<JobsV1.Models.CustCategory>)
                    {
                        <a href="@Url.Action("addCategory", "CustEntMains", new { catId = cat.Id, companyId = ViewBag.companyId })" class="list-group-item"> @cat.Name </a>
                    }
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->