@model JobsV1.Models.SalesLeadFile
@{
    Layout = null;
    int FileCount = Convert.ToInt32(ViewData["FileCount"]);
    int SalesLeadId = Convert.ToInt32(ViewData["Id"]);
}
<div style="margin:7px 0px 7px 0px;">
    @if (FileCount > 0)
    {
        <div class="btn-group">
            <button class="btn btn-default btn-xs" style="padding-left:10px;padding-right:10px;"
                    onclick="RedirectLeadFileLink(@SalesLeadId)">
                <img src="~/Images/Icons/icons-dropbox.png" width="15" style="margin-bottom:3px;" />
                <span style="padding-top:2px;">Open Dropbox Link </span>
            </button>
            <button class="btn btn-default btn-xs" style="padding-left:10px 0px 10px 3px;padding-bottom:2px;"
                    onclick="ShowSalesLeadEditLink(@SalesLeadId)">
                <span style="padding-top:2px;">Edit </span>
            </button>
        </div>
    }
    else
    {
        <button class="btn btn-default btn-xs" style="padding-left:10px;padding-right:10px;"
                onclick="ShowSalesLeadLink(@SalesLeadId)">
            <img src="~/Images/Icons/icons-dropbox-gray.png" width="15" style="margin-bottom:3px;" />
            <span style="padding-top:2px;">Add Dropbox Link </span>
        </button>
    }
    </div>