


<div class="col-md-12 home-article-container">
    @{Html.RenderPartial("Articles"); }
</div>

<div class="col-md-12 sitemap-section">
    <a class="text-muted home-muted-p" href="/sitemap">Sitemap</a> &bull;
    <a class="text-muted home-muted-p" href="/Account/Login">Login</a>
    <a href="https://www.facebook.com/RealWheelsDavao" rel="noreferrer" target="_blank"> <img src="~/Images/CarRental/Home/icons-facebook-gray.png" class="pull-right" width="25" style="margin:0px;" alt="realwheels davao facebook link" /></a>
</div>

<div class="col-md-12">
    <div class="col-md-4">
        <h3 class="home-muted-p"> Real Wheels Davao  </h3>
        <p class="home-muted-p">
            Door 1, Travelers Inn Bldg.,
            Matina Crossing Rd., Matina Pangi,
            Davao City, 8000
        </p>
        <p> inquiries.realwheels@gmail.com  </p>
    </div>
    <div class="col-md-4 footer-details">
        <p class="home-muted-p">
            <b>Contact Us for Booking and Inquiries</b>

            <br />Landline: (+63) 82 333-5157
            <br />Smart: +63 998-959-1074
            <br />globe: +63 917-143-8050
            <br />viber: +63 917-143-8050
        </p>
    </div>
    <div class="col-md-4 footer-details">
        <p><a class="home-muted-p" href="/Articles/WhyBook"> Why Book with Us </a></p>
        <p><a class="home-muted-p" href="/CarRental/About"> About Us </a></p>
        <p><a class="home-muted-p" href="/CarRental/Contact"> Contact Us</a></p>
        <p><a class="home-muted-p" href="/CarRental/FAQ"> FAQ</a></p>
    </div>
</div>

