
@{
    ViewBag.Title = "Car Rental Davao | Real Wheels Davao |  Your Travel Partner";
    ViewBag.Description =
    @"Car Rental Davao | Real Wheels Davao is a leading car rental service provider in the city
offering Tour Transportations, Business trips and other occasions. ";
    ViewBag.CanonicalURL = Context.Request.Url.AbsoluteUri;
}
@*<link href="~/Content/CarRental.css" rel="stylesheet">*@
    <div class="col-md-12 no-padding">
        <div class="page-container">
            <div class="row" style="align-content:center;">
                <img src="~/Images/CarRental/Banner/RealwheelsDavao-2019.png" class="about-page-banner" />
         
            </div>
            <div class="col-md-12 about-page-content">
                <h1>Real Wheels Davao</h1>
                <p>
                    <a href="https://realwheelsdavao.com/"> Real Wheels Davao </a> is a leading car rental service provider in Davao city. The experience gained from 
                    transportation and tour business has equip the company the necessary knowledge and skills to provide you the most comfortable and sound travel.<br />
                </p>

                <p>
                    It's a car rental company that offers all types of transportation needs which includes:
                    <ol>
                        <li> Business travel</li>
                        <li> Davao Tour for family and groups</li>
                        <li> Out of town Travel </li>
                        <li> Airport and hotel Transfers </li>
                        <li> And all types of special events and occasions </li>
                    </ol>
                </p>
                <p>
                    They offers a wide variety of vehicles for better customer satisfactions. Popular choices for car rental are:
                    <ul>
                        <li> <a href="https://realwheelsdavao.com/CarRental/van-for-rent">VAN</a>: Toyota Grandia GL Van, Nissan Premium NV350 high-roof van</li>
                        <li> <a href="https://realwheelsdavao.com/CarRental/suvpickup4x4-rental-rates">SUV</a>: Ford Everest, Toyota Fortuner, Mitsubishi Monterosports, Toyota Rush </li>
                        <li> <a href="https://realwheelsdavao.com/CarRental/toyota-innova-for-rent">MPV</a>: Toyota Innova </li>
                        <li> <a href="https://realwheelsdavao.com/CarRental/sedan-rental">Sedan</a>: Toyota vios, Honda City </li>
                        <li> <a href="https://realwheelsdavao.com/CarRental/pickup-rental">Pickup</a>: Toyota Hilux, Nissan Navara </li>
                    </ul>
                </p>
                <p>

                    They offer car rental service <b>with driver</b> and <b> self drive options</b>. For <b>car rental with driver option </b>,
                    they offer a quick dispatch as long as the unit and driver is available. For <b>self-drive option</b>, they offer unit delivery and pickup at the airport
                    or at your accommodation for added convenience.

                    They offer price discounts for long term rentals, regular basis, monthly and weekly rentals and special rates for corporate contracts.
                </p>
                <p>
                    <a href="https://realwheelsdavao.com/"> Real Wheels Davao </a> has partnered with other car rental companies in Davao to further expand its services. Also, with other travel agencies to further enhance
                    the quality of its service. They are also open for discussions to know further how to effectively provide the needed service and able to align with the
                    client's goals.
                </p>
                <p>
                    <a href="https://realwheelsdavao.com/"> Real Wheels Davao </a>also offers a flexible terms and conditions, online payment via Paypal/credit cards and flexible terms of payment for corporate accounts.

                    <a href="https://realwheelsdavao.com/"> Real Wheels Davao </a> continues to aim to be the best travel partner in the city by providing a high quality of
                    service at all levels whether on the road and in the office.
                </p>
            
                <p>
                    Feel free to <a href="#ContactUs">contact us</a> for further inquiries!
                </p>
            </div>


            <div class="col-md-12">
                <div class="col-md-6 about-page-content">
                    <h2>
                        What to Expect:
                    </h2>
                    <p>
                        At <a href="https://realwheelsdavao.com" class="desc-a">Davao Car Rental</a>, rest assured that our team of customer service professionals will
                        provide you with an unparalleled experience from start to finish. From the moment you arrive at the airport to the time you depart;
                        our team will treat you like family. Superior customer service is our top priority, and that starts before you arrive. For your health
                        and wellbeing, we clean and disinfect each vehicle between every customer. This means that you can expect that during pick up, it
                        will be in pristine condition, both mechanically and aesthetically.
                        <br /> <br />
                    </p>
                </div>

                <div class="col-md-6 about-page-content">
                    <h2>
                        Why Book With Us
                    </h2>
                    <p>
                        <a href="https://realwheelsdavao.com" class="desc-a">Real Wheels Davao</a> is one of the most reliable rent-a-car company in Davao.
                        With the support of modern Information systems, your booking and reservations will always be in place.
                        Keeping in their mind that clean and reliable car for rent is a must, they always keep their fleets for car rental
                        well maintained by reputable service centers.
                        <br /> <br />

                    </p>
                </div>
            </div>

            <div class="col-md-12 ">
                <div class="col-md-4 col-xs-12" style="padding:5px;"><a href="/Articles/WhyBook" class="btn btn-default"><h3  style="margin: 5px 10px;">  About Booking With Us </h3> </a></div>
                <div class="col-md-4 col-xs-12" style="padding: 5px;"><a href="/CarRental/Featured" class="btn btn-default"><h3 style="margin: 5px 10px;">  Go to Featured Items </h3> </a></div>
                <div class="col-md-4 col-xs-12" style="padding: 5px;"><a href="/CarRental/PriceList" class="btn btn-default"><h3  style="margin: 5px 10px;"> Check Vehicle Prices </h3> </a></div>
            </div>

        </div>
        <div id="ContactUs">
            @{Html.RenderPartial("Index_Footer");}
        </div>
    </div>
@Html.Action("MobileModalView")