
@{
    ViewBag.Title = "Car Rental Davao | Real Wheels Davao |  Your Travel Partner";
    ViewBag.Description = 
@"Car Rental Davao | Real Wheels Davao is a leading car rental service provider in the city 
offering Tour Transportations, Business trips and other occasions. ";
}

<h2>Real Wheels Davao</h2>

<p>
    Real Wheels Davao is a leading car rental service provider in Davao city. The experience gained from transportation and tour business has equip the company the necessary knowledge and skills to provide you the most comfortable and sound travel.

    It's a car rental company that offers all types of transportation needs which includes:

    Corporate/business travel
    Davao Tour for family and groups
    Out of town Travel
    Airport and hotel Transfers
    And all types of special events and occasions

    They offers a wide variety of vehicles for better customer satisfactions. Popular choices for car rental are:

    VAN: Toyota Grandia GL Van, Nissan Premium NV350 high-roof van
    SUV: Ford Everest, Toyota Fortuner, Mitsubishi Monterosports, Toyota Rush
    MPV: Toyota Innova
    Sedan: Toyota vios, Honda City
    Pickup: Toyota Hilux, Nissan Navara

    They offer car rental service with driver and self drive options. For car rental with driver option, they offer a quick dispatch as long as the unit and driver is available. For self-drive option, they offer unit delivery and pickup at the airport or at your accommodation for added convenience.

    They offer price discounts for long term rentals, regular basis, monthly and weekly rentals and special rates for corporate contracts.

    Real Wheels has partnered with other car rental companies in Davao to further expand its services. Also, with other travel agencies to further enhance the quality of its service. They are also open for discussions to know further how to effectively provide the needed service and able to align with the client's goals.

    Real Wheels also offers a flexible terms and conditions, online payment via Paypal/credit cards and flexible terms of payment for corporate accounts.

    Real Wheels Davao continues to aim to be the best travel partner in the city by providing a high quality of service at all levels whether on the road and in the office.




    Feel free to contact us for further inquiries!
</p>




@Html.Action("MobileModalView")