

<div class="col-md-12 home-article-container">
    <div class="row home-article-list">
        <h3 class="col-md-12"> Latest Updates </h3>

        <a href="/Articles/WhyRentACar" title="Why Rent A Car - Safety Rent A Car">
            <div class="col-md-4 col-sm-6 col-xs-6 home-article-item">
                <img src="~/Images/CarRental/Home/Article/Article-Why-Rent-A-Car.jpg" width="250" height="135" loading="lazy" alt="Safety Rent A Car" title="Why Rent A Car - Safety Car Rental" />
                <h4> Why you should rent a car </h4>
                <p>
                    Why You Should Rent a Car the Next Time You Visit Davao City
                </p>
                <p class="home-muted-p">Dec 22,2020 </p>
            </div>
        </a>

        <a href="/Articles/NewSeatCapacity" title="Learn More New Seat Capacity">
            <div class="col-md-4 col-sm-6 col-xs-6 home-article-item">
                <img src="~/Images/CarRental/Home/Article/Article-Seating-Capacity.jpg" width="250" height="135" loading="lazy" alt="Car-rental-seating-capacity" title="Car Rental Seating Capacity" />
                <h4> Car Rental Seating Capacity </h4>
                <p>
                    Seating Capacity of vehicles in Davao City
                </p>
                <p class="home-muted-p">May 31,2020 </p>
            </div>
        </a>

        <a href="/Articles/VisitDavao" title="Learn More Visit Davao">
            <div class="col-md-4 col-sm-6 col-xs-6 home-article-item">
                <img src="~/Images/CarRental/Home/Article/Article-Why-Visit-Davao.jpg" width="250" height="135" loading="lazy" alt="Car-rental-reliable-company-davao" title="Reliable Company Car Rental in Davao " />
                <h4> Why Visit Davao </h4>
                <p>
                    Davao City, a highly urbanized coastal commercial city in the south of...
                </p>
                <p class="home-muted-p">Aug 15,2020 </p>
            </div>
        </a>


        <a href="/Articles/mindanao-qr-code-list-2021" title="Mindanao QR Registration List 2021">
            <div class="col-md-4 col-sm-6 col-xs-6 home-article-item">
                <img src="~/Images/CarRental/Home/Article/QrCodeList/mindanao-qr-code-list-2021.jpg" width="250" height="135" loading="lazy" alt="Mindanao QR Registration List 2021" title="Mindanao QR Registration List 2021" />
                <h4> Mindanao QR Registration List 2021</h4>
                <p>
                    Updated List of QR Code Registration Links...
                </p>
                <p class="home-muted-p">May 10, 2021 </p>
            </div>
        </a>


        <a href="/CarRental/BookingGuide" title="How to Book a Car Rental in 2021">
            <div class="col-md-4 col-sm-6 col-xs-6 home-article-item">
                <img src="~/Images/CarRental/Home/Article/QrCodeList/mindanao-qr-code-list-2021.jpg" width="250" height="135" loading="lazy" alt="Mindanao QR Registration List 2021" title="Mindanao QR Registration List 2021" />
                <h4> Mindanao QR Registration List 2021</h4>
                <p>
                    Updated List of QR Code Registration Links...
                </p>
                <p class="home-muted-p">May 10, 2021 </p>
            </div>
        </a>

        @*<a href="/Articles/SUVRental" title="Learn More SUV Rental">
            <div class="col-md-4 col-sm-6 col-xs-6 home-article-item">
                <img src="~/Images/CarRental/Home/Article/Article-SUV-rental-Davao.jpg" width="250" height="135" loading="lazy" alt="Car-rental-vehicle-pickup" title="Car Rental Vehicle Pickup" />
                <h4> SUV Rental in Davao </h4>
                <p>
                    Davao City is the central business hub in central and southern Mindanao...
                </p>
                <p class="home-muted-p">Sept 10,2020 </p>
            </div>
        </a>*@

    </div>
</div>