

        <div class="row">
                <h3> Latest Updates </h3>
        </div>
        <div class="row">

            <div class="col-lg-3" style="width:280px;border:1px solid lightgray;margin:5px;padding:10px;box-shadow: 0px 0px 8px 2px lightgray;">
                <img src="~/Images/CarRental/hondacity_primary.jpg" width="250" />
                <h4> Car Rental Seating Capacity </h4>
                <p>
                    Seating Capacity of vehicles in Davao City
                </p>
                <p class="text-muted">May 31,2020 </p>
                <p> <a href="/Articles/NewSeatCapacity"> View Article </a> </p>
            </div>
        </div>
