

<div class="col-md-12 home-article-container">
    <div class="row home-article-list">
        <h3 class="col-md-12"> Articles </h3>

        <a href="/Articles/WhyRentACar" title="Why Rent A Car - Safety Rent A Car">
            <div class="col-md-4 col-sm-6 col-xs-6 home-article-item">
                <img src="~/Images/CarRental/Home/Article/Article-Why-Rent-A-Car.jpg" width="250" height="135" loading="lazy" 
                     alt="Safety Rent A Car" title="Why Rent A Car - Safety Car Rental" />
                <h4> Why you should rent a car </h4>
                <p>
                    Why You Should Rent a Car the Next Time You Visit Davao City
                </p>
                <p class="home-muted-p">Dec 22,2020 </p>
            </div>
        </a>

        <a href="/Articles/NewSeatCapacity" title="Learn More New Seat Capacity">
            <div class="col-md-4 col-sm-6 col-xs-6 home-article-item">
                <img src="~/Images/CarRental/Home/Article/Article-Seating-Capacity.jpg" width="250" height="135" loading="lazy" 
                     alt="Car-rental-seating-capacity" title="Car Rental Seating Capacity" />
                <h4> Car Rental Seating Capacity </h4>
                <p>
                    Seating Capacity of vehicles in Davao City
                </p>
                <p class="home-muted-p">May 31,2020 </p>
            </div>
        </a>

        <a href="/Articles/VisitDavao" title="Learn More Visit Davao">
            <div class="col-md-4 col-sm-6 col-xs-6 home-article-item">
                <img src="~/Images/CarRental/Home/Article/Article-Why-Visit-Davao.jpg" width="250" height="135" loading="lazy" 
                     alt="Car-rental-reliable-company-davao" title="Reliable Company Car Rental in Davao " />
                <h4> Why Visit Davao </h4>
                <p>
                    Davao City, a highly urbanized coastal commercial city in the south of...
                </p>
                <p class="home-muted-p">Aug 15,2020 </p>
            </div>
        </a>


        <a href="/Articles/mindanao-qr-code-list-2021" title="List of QR Registration in Mindanao 2021 Updated">
            <div class="col-md-4 col-sm-6 col-xs-6 home-article-item">
                <img src="~/Images/CarRental/Home/Article/QrCodeList/mindanao-qr-code-list-2021.jpg" width="250" height="135" 
                     loading="lazy" alt="Mindanao QR Registration List 2021" title="Mindanao QR Registration List 2021" />
                <h4> List of QR Registration in Mindanao 2021</h4>
                <p>
                    Updated List of QR Code Registration Links in Mindanao...
                </p>
                <p class="home-muted-p">May 10, 2021 </p>
            </div>
        </a>


        <a href="/CarRental/BookingGuide" title="How to Book a Car Rental in 2021">
            <div class="col-md-4 col-sm-6 col-xs-6 home-article-item">
                <img src="~/Images/CarRental/Home/Article/Article-Car-Rental-Guide-2021.jpg" width="250" height="135" 
                     loading="lazy" alt=" Car Rental Booking Guide 2021" title=" Car Rental Booking Guide 2021" />
                <h4> How to Book Car Rental?</h4>
                <p>
                   A Guide on different ways how to book a car rental...
                </p>
                <p class="home-muted-p">May 12, 2021 </p>
            </div>
        </a>

        <a href="/Articles/Safe-Car-Rental-2021" title="Safe Car Rental 2021">
            <div class="col-md-4 col-sm-6 col-xs-6 home-article-item">
                <img src="~/Images/CarRental/Home/Article/SafeRental/Article-Safe-Rental.jpg" width="250" height="135" loading="lazy" alt="Safe Car Rental 2021" title="Safe Car Rental 2021" />
                <h4> Safe Car Rental 2021 </h4>
                <p>
                    We ensure the safety and cleaniness of our car rental vehicles ...
                </p>
                <p class="home-muted-p">May 7,2021 </p>
            </div>
        </a>

        <div>
            <a href="/Articles/1">
                <button class="btn btn-default"> More Articles </button>
            </a>
        </div>
    </div>
</div>