

    <div class="row home-article-list">
        <h3 class="col-md-12"> Latest Updates </h3>

        <div class="col-md-4 col-sm-6 col-xs-6 home-article-item">
            <img src="~/Images/CarRental/Home/Article/Article-Seating-Capacity.jpg" width="250" height="135" loading="lazy" alt="Car-rental-seating-capacity" title="Car Rental Seating Capacity"   />
            <h4> Car Rental Seating Capacity </h4>
            <p>
                Seating Capacity of vehicles in Davao City
            </p>
            <p class="home-muted-p">May 31,2020 </p>
            <p> <a href="/Articles/NewSeatCapacity"> View Article </a> </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-6 home-article-item">
            <img src="~/Images/CarRental/Home/Article/Article-Why-Visit-Davao.jpg" width="250" height="135" loading="lazy" alt="Car-rental-reliable-company-davao" title="Reliable Company Car Rental in Davao "  />
            <h4> Why Visit Davao </h4>
            <p>
                Davao City, a highly urbanized coastal commercial city in the south of...
            </p>
            <p class="home-muted-p">May 31,2020 </p>
            <p> <a href="/Articles/VisitDavao"> View Article </a> </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-6 home-article-item">
            <img src="~/Images/CarRental/Home/Article/Article-SUV-rental-Davao.jpg" width="250" height="135" loading="lazy" alt="Car-rental-vehicle-pickup" title="Car Rental Vehicle Pickup"  />
            <h4> SUV Rental in Davao </h4>
            <p>
                Davao City is the central business hub in central and southern Mindanao...
            </p>
            <p class="home-muted-p">May 31,2020 </p>
            <p> <a href="/Articles/SUVRental"> View Article </a> </p>
        </div>


    </div>
