

        <div class="row">
            <div class="col-lg-12">
                <h3> Latest Updates </h3>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-3" style="width:280px;border:1px solid lightgray;margin:5px;padding:10px;box-shadow: 0px 0px 8px 2px lightgray;">
                <img src="~/Images/CarRental/hondacity_primary.jpg" width="250"  />
                <h4> Articles </h4>
                <p>   Write something here for the article.   
                </p>
            </div>

            <div class="col-lg-3" style="width:280px;border:1px solid lightgray;margin:5px;padding:10px;box-shadow: 0px 0px 8px 2px lightgray;">
                <img src="~/Images/CarRental/hondacity_primary.jpg" width="250" />
                <h4> Articles </h4>
                <p>
                    Write something here for the article.
                </p>
            </div>

            <div class="col-lg-3" style="width:280px;border:1px solid lightgray;margin:5px;padding:10px;box-shadow: 0px 0px 8px 2px lightgray;">
                <img src="~/Images/CarRental/hondacity_primary.jpg" width="250" />
                <h4> Articles </h4>
                <p>
                    Write something here for the article.
                </p>
            </div>

            <div class="col-lg-3" style="width:280px;border:1px solid lightgray;margin:5px;padding:10px;box-shadow: 0px 0px 8px 2px lightgray;">
                <img src="~/Images/CarRental/hondacity_primary.jpg" width="250" />
                <h4> Articles </h4>
                <p>
                    Write something here for the article.
                </p>
            </div>
        </div>
