
@{
    ViewBag.Title = "BookingSuccess";
}
<link href="~/Content/CarBooking.css" rel="stylesheet">

<div class="booking-success-container">
    <img src="~/Images/Icons/icons-checked-144.png" width="144" />
    <h2> Booking Request Submitted </h2>
    <p class="text-center"> Your booking request is now PENDING FOR APPROVAL. 
    <br />Please check your email for your booking request details. </p>

    <a href="~/">
        <button class="btn btn-default"> Go to Home Page </button>
    </a>
</div>

