@{
    ViewBag.Title = "Rent A Car | Van, Suv, Car Rental Services | Davao City";
    ViewBag.Description =
@"Rent a Car company offering affordable selfdrive, with driver, Long term and short term car rental service in Davao City, Philippines.
Units (Vehicles for rent) : Grandia/Super/Nissan Premium, SUV, Ford Everest, Innova, Fortuner, Honda City, Toyota Vios.";
    ViewBag.CanonicalURL = Context.Request.Url.AbsoluteUri;
}

    <!--<div class="container">
        <div class="page-contact-container">
            <div class="col-md-6">
                <h1>Contact Us </h1>
                <h2>Real Wheels Davao Car Rental</h2>

                <address>
                    c/o Real Breeze Travel and Tours<br />
                    Door 1, RedDoorz Travelers Inn Bldg., Matina Crossing Rd.,
                    Matina Pangi, Davao City, 8000 <br />
                </address>

                <div class="contact-page-numbers">-->
                    @*<strong>Landline:</strong><a href="tel:+63822971831">(+63) 82 297 1831 </a><br />*@
                    <!--<strong>Landline:</strong> <a href="tel:+63822971831">(+63) 82 333-5157 </a><br />
                    <strong>Smart:</strong>   <a href="tel:+639292113987">(+63) 929-211-3987</a><br />
                    <strong>Globe:</strong>   <a href="tel:+639167558473">(+63) 916-755-8473</a><br />
                    <strong>Viber:</strong>   <a href="viber://chat?number=09167558473">[09167558473]</a><br />
                </div>
                <div class="contact-page-numbers">
                    <strong>Inquiry:</strong><a href="mailto:Inquiries.RealWheels@Gmail.com">
                        <img src="~/Images/CarRental/Home/email-contact-w.png" alt="email us" width="250" />
                    </a><br />
                    <strong>Reservation:</strong><a href="mailto:Reservation.RealWheels@Gmail.com">
                        <img src="~/Images/CarRental/Home/email-contact-w-2.png" alt="email us" width="280" />
                    </a>
                </div>
            </div>
            <div class="col-md-6" hidden>
                <img src="~/Images/CarRental/hondacity/Honda-City-Default.jpg" alt="Honda City Car Rental Davao" title="Honda City Realwheels Davao Car Rental" />
            </div>
            <div class="col-md-6">
                <h3> Google Map </h3>-->
                <!-- Show on Desktop View-->
                <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15838.236513404292!2d125.5702029!3d7.0609737!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5cb429424f90e9d9!2sReal%20Wheels%20Rent%20A%20Car!5e0!3m2!1sen!2sph!4v1600331441104!5m2!1sen!2sph" width="500" height="450" frameborder="0" style="border:0;" class="contact-page-map hidden-on-mobile" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>-->

                <!-- Show on Mobile View, width set to 300px-->
                <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15838.236513404292!2d125.5702029!3d7.0609737!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5cb429424f90e9d9!2sReal%20Wheels%20Rent%20A%20Car!5e0!3m2!1sen!2sph!4v1600331441104!5m2!1sen!2sph" width="300" height="450" frameborder="0" style="border:0;" class="contact-page-map show-on-mobile-only" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>

        <div style="padding-left:15px;">
            @{Html.RenderPartial("Index_Footer");}
        </div>
    </div>-->

@Html.Action("MobileModalView")