
@{
    ViewBag.Title = "Frequently Asked Questions - RealWheels Davao";
    ViewBag.Description =
        @"Frequently Asked Questions in RealWheels Car Rental Davao. For Booking and Reservations email us at inquiries.realwheelsdavao.com. Book Now!";
    ViewBag.CanonicalURL = Context.Request.Url.AbsoluteUri;
}
<style>
    .img-bg-car {
        background-image: url('/Images/CarRental/Home/Article/Article-car-sunset.jpg');
        background-size: 100%;
        color: white;
        text-shadow: 1px 1px 1px black;
        height: 230px;
        margin-bottom: 20px;
    }
</style>
<div class="jumbotron img-bg-car no-margin">
    <h1 class="text-muted"> Frequently Asked Questions </h1>
    <h2>
        For inquiries and reservations, email us at
        <a href="mailto:inquiries.realwheels@gmail.com" title="Request A Quote">
            inquiries.realwheels@gmail.com
        </a> or call us :
        <a href="tel:+639171438050" title="Call Us Globe Mobile">
            <strong>Globe:</strong> (+63) 917-143-8050
        </a>
    </h2>
</div>

<div class="panel panel-default"  itemscope itemtype="https://schema.org/Question">
    <div class="panel-heading" itemprop="name">
        <h3 class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#FAQ1">
            <a href="" itemprop="text">
                What are the requirements for Self Drive rental
            </a>
        </h3>
    </div>
    <div class="panel-collapse  in" id="FAQ1" itemprop="suggestedAnswer acceptedAnswer" itemscope itemtype="https://schema.org/Answer" >
        <div class="panel-body" itemprop="text">
            <p>
                Another option for renting a vehicle is <em>Self-drive.</em> You will drive the vehicle yourself and have a
                more private travel around the city at your own time and convenience. For booking and reservation,
                the following documents will be needed ( email scanned copies to Inquiries.RealWheels@Gmail.com )
                <ol>
                    <li>) Valid Driver's License</li>
                    <li>) At least two(2) Valid IDs ( Government issued IDs )</li>
                    <li>) Proof of residence ( for renter's residing in Philippines )</li>
                    <li>) Rental contract / Hotel Booking/reservation ( for renter's residing outside Philippines )</li>
                </ol>
                for self-drive option, vehicles are limited to the following types: SUV and Sedans
            </p>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#FAQ2">
            <a href="">
                Do you accept Payment through Credit Card
            </a>
        </h3>
    </div>
    <div class="panel-collapse collapse" id="FAQ2">
        <div class="panel-body">
            <p>
                Yes, we accept bank transfer through BDO / BPI via Paypal.
            </p>
        </div>
    </div>
</div>


<div id="ContactUs">
    @{Html.RenderPartial("Index_Footer");}
</div>