

<hr class="col-md-12" style="margin-left:-15px;margin-bottom:50px;" />

<div id="About" class="home-company-desc">
    <h2 class="text-center" style="font-weight:600;">
        Real Wheels Davao
    </h2>

    <p class="text-center company-desc-p">
        <a href="https://realwheelsdavao.com">Real Wheels Davao Car Rental</a> is a trusted and reliable car rental service provider
        and ready to provide his customers with affordable and flexible options when renting a car in the city.
        Office is  located in the heart of the city making it easy for pickup or drop-off of vehicles at the airport or hotel.
        The company aims to provide the best transportation services in Davao while maintaining the highest quality at minimum cost.

        <a href="https://realwheelsdavao.com">Real Wheels Davao</a> - is Subsidiary company of
        <a href="https://realbreezedavaotours.com">Real Breeze Travel &amp; Tours</a> that offers travel and tour packages in Davao and thru out Mindanao.

    </p>
</div>

<div class="col-md-12" style="margin:50px 0px 0px 0px;padding:20px;">
    <h2 class="text-center" style="font-weight:600;">
        What to Expect:
    </h2>

    <p class="text-center desc-p">
        At <a href="https://realwheelsdavao.com" class="desc-a">Davao Car Rental</a>, rest assured that our team of customer service professionals will
        provide you with an unparalleled experience from start to finish. From the moment you arrive at the airport to the time you depart;
        our team will treat you like family. Superior customer service is our top priority, and that starts before you arrive. For your health
        and wellbeing, we clean and disinfect each vehicle between every customer. This means that you can expect that during pick up, it
        will be in pristine condition, both mechanically and aesthetically.
        <br /> <br />

    </p>

</div>


<div class="col-md-12" style="margin:50px 0px 0px 0px;padding:20px;">
    <h2 class="text-center" style="font-weight:600;">
        Why Book With Us
    </h2>

    <p class="text-center desc-p">
        <a href="https://realwheelsdavao.com" class="desc-a">Real Wheels Davao</a> is one of the most reliable rent-a-car company in Davao.
        With the support of modern Information systems, your booking and reservations will always be in place.
        Keeping in their mind that clean and reliable car for rent is a must, they always keep their fleets for car rental
        well maintained by reputable service centers.
        <br /> <br />

    </p>

</div>

<div class="col-md-12 more-links-section">
    <a href="/Articles/WhyBook"><button class="btn btn-default"><h3 style="margin:10px;"> About Booking With Us</h3> </button></a>
    <a href="/CarRental/FAQ"><button class="btn btn-default"><h3 style="margin:10px;"> Frequently Asked Questions</h3> </button></a>
</div>

