
@model IEnumerable<JobsV1.Models.CarUnit>

<style>
    .rb-article{
        border:1px solid lightgray;
        padding:15px;
        margin-bottom:5px;
        background-color:#fbfbfb;
    }

    .rb-featured{
        background-color: #2a2a2a;
        height: 200px;
        width: 100%;
    }

    .rb-banner{
        background-color: #dddddd;
        color:white;
    }
</style>
<!-- Banner -->
<div class="jumbotron rb-banner">
    <h1>RB Rent-a-Car </h1>
</div>

<!-- Article and Fleet -->
<div class="row">
    <!--Articles-->
    <div class="col-lg-6" >
        <div class="col-sm-12 rb-article">
            <h3>Article 1</h3>
            <p>
                I have created a modal box that initially hides the modal box contents with css display: none.
                Then, I heard from some article that using this display:none ...
            </p>
            <button class="btn btn-default"> Read More </button>
        </div>
        <div class="col-sm-12 rb-article">
            <h3>Article 1</h3>
            <p> 
                I have created a modal box that initially hides the modal box contents with css display: none.
                Then, I heard from some article that using this display:none ...
            </p>
            <button class="btn btn-default"> Read More </button>
        </div>
        <div class="col-sm-12 rb-article">
            <h3>Article 1</h3>
            <p>
                I have created a modal box that initially hides the modal box contents with css display: none.
                Then, I heard from some article that using this display:none ...
            </p>
            <button class="btn btn-default"> Read More </button>
        </div>
    </div>

    <!-- Fleet -->
    <div class="col-lg-6">
        <h2> Fleet </h2>
        <div class="col-sm-12">
            <button class="btn btn-primary">Honda City</button>
            <button class="btn btn-primary">Toyota Innova</button>
            <button class="btn btn-primary">Toyota Fortuner</button>
            <button class="btn btn-primary">Toyota Grandia GL</button>
            <button class="btn btn-primary">Nissan Urvan Premium</button>
            <button class="btn btn-primary">Ford Everest</button>
            <button class="btn btn-primary">4x4 Mitsubishi Strada</button>
            <button class="btn btn-primary">Toyota Hilux</button>
            <button class="btn btn-primary">Toyota Vios</button>
            <button class="btn btn-primary">Toyota Super Grandia</button>
            <button class="btn btn-primary">Toyota Grandia GL</button>
            <button class="btn btn-primary">Toyota HiACE Commuter</button>
        </div>
    </div>
</div>

<div class="rb-featured">
    <h2></h2>
</div>