
    <div class="col-md-12" style="padding-bottom:40px;">
        <div class="linkable-container" id="Booking">

            <div class="col-md-12 no-padding banner-services-container" id="FleetNav">
                <div class="banner-default">
                    <span class="pull-left">
                        <a href="/CarRental/BookingGuide" class="banner-default-header scroll-text" title="Booking and Reservations"> Booking and Reservation</a>
                    </span>
                    <!-- Add Links Below-->
                </div>
            </div>
        </div>

        <div id="Quotation" class="container-desc" style="padding: 0px 30px;">

            <h2 class="text-center" style="font-weight:600;">
                Request for Quotation
            </h2>

            <p style="margin:20px;">
                We give special rates for corporate use and long term rentals. Feel free to send your request and we are willing to
                discuss how we may be able to provide and support your business goals. Feel free to look into our booking guide below.
            </p>
            <div class="col-md-12 more-links-section">
                <a href="/CarRental/BookingGuide" title="Booking Guide" class="btn btn-default">
                    <h3 style="margin:10px;"> Booking Guide </h3>
                </a>

                <a href="/CarRental/PriceQuote" title="Facebook Link" class="btn btn-default">
                    <h3 style="margin:10px;"> Request a Quote </h3>
                </a>
            </div>
        </div>

        @*<div class="col-md-12 more-links-section" hidden>
            <a href="#About" class="btn btn-primary links-section-wide" title="About"> About Car Rental </a>
            <a href="#ServicesNav" class="btn btn-primary links-section-wide" title="Services"> Check Our Services </a>
            <a href="#FleetNav" class="btn btn-primary links-section-wide" title="Fleet"> Check Our Fleet </a>
            <a href="#Contact" class="btn btn-primary links-section-wide" title="Contact"> Contact Us </a>
            <a href="/CarRental/PriceList" class="btn btn-warning links-section-wide" title="Prices"> Car Rental Prices </a>
        </div>*@
    </div>