

<div class="linkable-container" style="margin-top:50px;" id="ServicesNav">
    <div class="col-md-12 no-padding banner-services-container">
        <div class="banner-services" style="padding-top:30px">
            <span class="pull-left banner-services-items hidden-on-mobile" style="margin-left:20px;margin-right:120px;">
                <a href="#Services" class="banner-services-header scroll-text" title="Go To Services"> Our Services </a>
            </span>
            <a href="#Services-airport" class="pull-left banner-services-items scroll-text" title="Airport Transfer">
                <img src="~/Images/CarRental/Home/icons8-airplane-landing-48.png" class="center-block" alt="services airport transfer" />
                <p class="text-center"> Airport Transfer  </p>
            </a>
            <a href="#Services-cityTour" class="pull-left banner-services-items scroll-text" title="City Tour">
                <img src="~/Images/CarRental/Home/icons8-city-60.png" class="center-block" alt="services city tour" />
                <p class="text-center"> City Tour </p>
            </a>
            <a href="#Services-corporate" class="pull-left banner-services-items scroll-text" title="Corporate Travel">
                <img src="~/Images/CarRental/Home/icons8-vip-50.png" class="center-block" alt="services vip travel" />
                <p class="text-center"> Corporate Travel </p>
            </a>
            <a href="#Services-business" class="pull-left banner-services-items scroll-text" title="Business Trip">
                <img src="~/Images/CarRental/Home/icons8-briefcase-60.png" class="center-block" alt="services business trip" />
                <p class="text-center"> Business Trip  </p>
            </a>
            <a href="#Services-outOfTown" class="pull-left banner-services-items scroll-text" title="Out of Town">
                <img src="~/Images/CarRental/Home/icons8-beach-48.png" class="center-block" alt="services out of town" />
                <p class="text-center"> Out of Town </p>
            </a>
            <a href="#Services-selfDrive" class="pull-left banner-services-items scroll-text" title="Self Drive">
                <img src="~/Images/CarRental/Home/icons8-people-in-car-side-view-50.png" class="center-block" alt="services self drive" />
                <p class="text-center"> Self Drive  </p>
            </a>
            <a href="#Services-special" class="pull-left banner-services-items scroll-text" title="Special Occasion">
                <img src="~/Images/CarRental/Home/icons8-event-48.png" class="center-block" alt="services special occasion" />
                <p class="text-center"> Special Occasions  </p>
            </a>
        </div>
    </div>
</div>

<div class="home-services" id="Services">
    <article>
        <h2 class="text-center col-md-12" style="font-weight:600;font-size:30px;margin:50px 0px;">
            Car Rental Services
        </h2>
        <div class="col-md-12">
            <div class="col-md-6">
                <img src="~/Images/CarRental/Home/Car-Rental-Service-For-Hire.jpg" class="home-services-img hidden-on-mobile" alt="Car-rental-transfer-travelers"
                     title="Car Rental Transfer Travel" />
            </div>

            <div class="col-md-6">

                <h3 id="Services-airport">1.) Airport/Hotel transfer </h3>
                <p class="hidden-on-mobile">
                    This type of service is a one way trip either from airport to your chosen destination, or the other way around, or from one place to another
                    place within Davao city downtown area. This service is single point pickup and single point destination. Traveling to and from the airport or
                    hotel will be very convenient when you avail a car rental service. It eliminates the hassle of queuing for public transport with all the heavy
                    trolleys and bags with you.
                    <a href="/CarRental/Contact" title="Contact Us"> Contact Us For More Details </a>
                </p>

                <h3 id="Services-cityTour">2.) City Tour car rental package </h3>
                <p class="hidden-on-mobile">
                    This service is multi-point destinations with 10 hours use of the vehicle. The package usually includes driver's fee and fuel cost. Car rental
                    package is either based on the client's itinerary or the common tour itinerary that includes top tourist destinations in Davao. So if  you're not
                    sure where to go, taking this package will put things in place. Real Wheels Car Rental is ready to provide a quality transportation for family
                    and group tours. They offer the top car rental tour packages: Davao City Tour, Davao country-side tour, samal tour, Buda Tour, Mati Tour,
                    Surigao tour and more.
                    <a href="/CarRental/Contact" title="Contact Us"> Contact Us For More Details </a>
                </p>
            </div>
        </div>

        <div class="col-md-12">

            <div class="col-md-6 show-on-mobile-only">
                <img src="~/Images/CarRental/Home/Car-Rental-Service-Business-Travel.jpg" class="home-services-img hidden-on-mobile" alt="Car-rental-business-travel"
                     title="Car Rental Business Travel" />
            </div>

            <div class="col-md-6">
                <h3 id="Services-corporate">3.) Corporate travels </h3>
                <p class="hidden-on-mobile">
                    This service is for the wide variety of corporate travel needs. This includes vip transfers, meetings, events, conventions and other corporate
                    related trips. Real Wheels car rental in Davao is a trusted travel partner which aims to properly represent your company and align with your
                    company’s missions and goals. We offer special rates for companies for long term car rentals and partnerships with flexible terms and conditions.

                    <a href="/CarRental/Contact" title="Contact Us"> Contact Us For More Details </a>
                </p>
                <h3 id="Services-business">4.) Business trips </h3>
                <p class="hidden-on-mobile">
                    This type of car rental service is a multi point - multi destinations package with an open itinerary depending on your business need and purpose.
                    Real Wheels Davao offers a clean and decent car for rent with courteous drivers for business meetings and company visits that ensures your maximum
                    productivity for the day.

                    <a href="/CarRental/Contact" title="Contact Us"> Contact Us For More Details </a>
                </p>
            </div>

            <div class="col-md-6 hidden-on-mobile">
                <img src="~/Images/CarRental/Home/Car-Rental-Service-Business-Travel.jpg" class="home-services-img hidden-on-mobile" alt="Car-rental-business-travel"
                     title="Car Rental Business Travel" />
            </div>

        </div>

        <div class="col-md-12">

            <div class="col-md-6">
                <img src="~/Images/CarRental/Home/Car-Rental-Service-Out-Of-Town.jpg" class="home-services-img hidden-on-mobile" alt="Car-rental-business-travel"
                     title="Car Rental Business Travel" />
            </div>
            <div class="col-md-6">
                <h3 id="Services-outOfTown">5.) Out of town Trips </h3>
                <p class="hidden-on-mobile">
                    This type of service is for trips outside the city. Whether family or business related. Rate varies depending on the area and duration.
                    Clients can opt for a round trip or multiple days rental. Real Wheels Davao sorts out the best vehicles, most reliable and comfortable for long trips.

                    <a href="/CarRental/Contact" title="Contact Us"> Contact Us For More Details </a>
                </p>
                <h3 id="Services-selfDrive">6.) Self Drive </h3>
                <p class="hidden-on-mobile">
                    This service is driving the vehicle as your own. You can use it as a company vehicle or as personal use. The absence of car rental driver
                    gives you greater privacy while roaming around the city. Though the car rental company may have some limitations for this type of service.

                    <a href="/CarRental/Contact" title="Contact Us"> Contact Us For More Details </a>
                </p>
                <h3 id="Services-special">7.) Special occasions </h3>
                <p class="hidden-on-mobile">
                    This type of service is for different occasions such as family gatherings, weddings, reunions and many more. Real Wheels always assess
                    vehicles that’s best for specific need. The company is open for discussion to make sure the needed services are properly tendered. The car
                    rental company Values every customer especially their comfort and safety.

                    <a href="/CarRental/Contact" title="Contact Us"> Contact Us For More Details </a>
                </p>

                <h3 id="Services-special">
                    8.) Cargo Delivery
                </h3>
                <p class="hidden-on-mobile">
                    Cargo delivery service offers door-to-door pickup and deliver, repeating /
                    scheduled delivery, single/multi-point delivery and exclusive delivery.
                    <a href="/CarRental/Contact" title="Contact Us"> Contact Us For More Details </a> &bull;
                    <a href="/cargo-delivery-services" title="Cargo Delivery Service"> Learn More </a>
                </p>
            </div>
        </div>
    </article>
</div>


<div class="col-md-12 more-links-section">
    <a href="#About" class="btn btn-primary links-section-wide" title="About"> About Car Rental </a>
    @*<a href="#ServicesNav" class="btn btn-primary links-section-wide" title="Services"> Check Our Services </a>*@
    <a href="#FleetNav" class="btn btn-primary links-section-wide" title="Fleet"> Check Our Fleet </a>
    <a href="#Booking" class="btn btn-primary links-section-wide" title="Book"> How to Book </a>
    <a href="#Contact" class="btn btn-primary links-section-wide" title="Contact"> Contact Us </a>
    <a href="/CarRental/PriceList" class="btn btn-warning links-section-wide" title="Prices"> Car Rental Prices </a>
</div>


