



    <div class="col-md-12 sitemap-section">
        <a class="text-muted home-muted-p" title="Sitemap" href="/sitemap.xml">Sitemap</a> &bull;
        <a class="text-muted home-muted-p" title="Login" href="/Account/Login">Login</a>
        <a href="https://www.facebook.com/RealWheelsDavao" rel="noreferrer" title="RealWheels Davao Facebook Page" target="_blank">
            <img src="~/Images/CarRental/Home/icons-facebook-gray.png" class="pull-right" width="25" style="margin:0px;" alt="realwheels davao facebook link" />
        </a>
        <a href="https://twitter.com/RealWheelsDavao" rel="noreferrer" title="RealWheels Davao Twitter Page" target="_blank">
            <img src="~/Images/CarRental/Home/icons-twitter-48.png" class="pull-right" width="25" style="margin:0px;margin-right:10px;" alt="realwheels davao twitter link" />
        </a>
        <a href="https://www.linkedin.com/in/reservation-realwheels-9a2a91212/" rel="noreferrer" title="LinkedIn Davao Twitter Page" target="_blank">
            <img src="~/Images/CarRental/Home/icons-linkedin-48.png" class="pull-right" width="25" style="margin:0px;margin-right:10px;" alt="realwheels davao LinkedIn link" />
        </a>
    </div>

<div class="col-md-12">
    <div class="col-md-4">
        <a href="/" title="Go to Home"><h3 class="home-muted-p"> Real Wheels Car Rental Davao  </h3></a>
        <p class="home-muted-p">
            Door 1, Travelers Inn Bldg.,
            Matina Crossing Rd., Matina Pangi,
            Davao City, 8000
        </p>
        <p>
            @*inquiries.realwheels@gmail.com*@
            <img src="~/Images/CarRental/Home/email-sm-w.jpg" alt="email us" width="200" />
        </p>
    </div>
    <div class="col-md-4 footer-details">
        <p class="home-muted-p">
            <b>Contact Us for Booking and Inquiries</b>
        </p>
        <p class="footer-details-p"> Landline: (+63) 82 333-5157 </p>
        <p class="footer-details-p"> <a class="footer-call-link" title="Call Us Smart Mobile" href="tel:+639989591074">Smart: +63 998-959-1074</a> </p>
        <p class="footer-details-p"> <a class="footer-call-link" title="Call Us Globe Mobile" href="tel:+639171438050">globe: +63 917-143-8050</a> </p>
        <p class="footer-details-p"> <a class="footer-call-link" title="Call Us through Viber" href="viber://chat?number=639171438050">viber: +63 917-143-8050</a> </p>
    </div>
    <div class="col-md-4 footer-details">
        <p><a class="home-muted-p" title="Visit Why Book With Us" href="/Articles/WhyBook"> Why Book with Us </a></p>
        <p><a class="home-muted-p" title="Visit About" href="/CarRental/About"> About Us </a></p>
        <p><a class="home-muted-p" title="Visit Contact Us" href="/CarRental/Contact"> Contact Us</a></p>
        <p><a class="home-muted-p" title="Visit Frequently Asked Questions" href="/CarRental/FAQ"> FAQ</a></p>
    </div>
</div>

