



<hr class="col-md-12" style="margin-left:-15px;" />

<div class="row" style="margin:40px 0px;">

    <div id="Contact" class="col-md-12 contact-container">
        <div class="col-md-12">
            <h2 class="text-center" style="padding-bottom:30px;font-weight:600;margin-top:10px;">
                Contact Us
            </h2>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="contact-us-items">
                <img src="~/Images/Icons/icons-ask-question.png" width="70" alt="Question Customer Service" />
                <p class="home-services-h"> Customer Service </p>
                <p> For general inquiries : </p>
                <p class="mobile-text-link">
                    <a href="mailto:inquiries.realwheels@gmail.com" title="email us">
                        inquiries.realwheels@gmail.com
                    </a>
                </p>
                <p class="mobile-text-link">
                    <a href="tel:+63822971831" title="Landline">
                        <strong>LandLine:</strong> (+63) 82 333-5157
                    </a>
                </p>
                <p class="mobile-text-link">
                    <a href="tel:+639954508517" title="Call Us Globe Mobile">
                        <strong>Globe:</strong> (+63) 995-450-8517
                    </a>
                </p>
                <p class="mobile-text-link">
                    <a href="tel:+639193812657"  title="Call Us Smart Mobile">
                        <strong>Smart:</strong> (+63) 919-381-2657
                    </a>
                </p>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="contact-us-items">
                <img src="~/Images/Icons/icons-company.png" width="100" alt="Contact Us Company" />
                <span class="home-services-h"> Corporate Office </span>
                <p>
                    Door 1, Travelers Inn Bldg.,
                </p>
                <p>  Matina Crossing Rd., Matina Pangi, </p>
                <p>
                    Davao City, 8000
                </p>
            </div>
        </div>


        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="contact-us-items">
                <img src="~/Images/Icons/icons-group-task.png" width="100" alt="Contact Us Corporate Sales Team" />
                <p class="home-services-h"> Corporate Sales Team </p>
                <p>
                    Business to Business
                </p>
                <p>
                    <a href="mailto:inquiries.realwheels@gmail.com" title="Request A Quote">
                        Request a Quote
                    </a>
                </p>
                <p>
                    Monday – Saturday
                </p>
                <p>
                    9:00 AM – 6:00 PM
                </p>
                <p>
                    <a href="tel:+639954508517" title="Call Us Globe">
                        <strong>Globe:</strong> (+63) 995-450-8517
                    </a>
                </p>
            </div>
        </div>

        <div id="Connect" class="col-md-3 col-sm-6 col-xs-12">
            <div class="contact-us-items">
                <img src="~/Images/Icons/icons-connect.png" width="96" alt="Contact Us Connect With Us" />
                <p class="home-services-h"> Connect With Us </p>
                <p>
                    <a href="https://www.facebook.com/RealWheelsDavao" title="Realwheels Davao" rel="noreferrer" target="_blank"> <img src="~/Images/Icons/icons-facebook.png" width="50" alt="Real Wheels Davao Facebook Link" /></a>

                    <a href="viber://chat?number=639954508517"  title="Call Us in Viber">
                        <img src="~/Images/Icons/viber-original.png" width="48" alt="Real Wheels Davao Viber Call Us " />
                    </a>

                    <a href="https://wa.me/639954508517"  title="Call Us in Whats App">
                        <img src="~/Images/Icons/whatsapp-original.png" width="48" alt="Real Wheels Davao WhatsApp Call Us" />
                    </a>

                </p>
            </div>
        </div>

    </div>
</div>
a