

<div class="linkable-container">

    <div class="col-md-12 no-padding banner-services-container" id="FleetNav">
        <div class="banner-default">
            <span class="pull-left">
                <a href="#Fleet" class="banner-default-header scroll-text"> Booking and Reservation</a>
            </span>
            <!-- Add Links Below-->
        </div>
    </div>
</div>

<div id="Booking" class="container-desc">
    <h2 class="text-center" style="font-weight:600;">
        How To Book Car Rental?
    </h2>
    <p>
        The Process: <br />
        (1)Connect with customer representative <br />
        (2)Discuss needed vehicle and availability <br />
        (3)Submit required information and documents  <br />
        (4)Receive your booking confirmation.<br />
    </p>
    <p>We support the following option to make reservations (1) Phone (2) Chat (3) Web</p>

    <!-- Thru phone-->
    <p>
        <h3> 1.) Thru Phone</h3> <br />
        Contact Details
    </p>
    <p>
        Reservations and booking is directly done through a customer representative who gets important information thru a call or text. (1)The process starts when you connect, via call or sms,  to our customer representative to check your needed vehicle and availability of the desired unit. (2) Make a reservation by providing the following  needed information: Rental Date, Personal details, Destinations and desired vehicle. (3)Once all information is captured, the internal process will start by encoding the data to our internal system, approval, assignment of unit, assignment of driver (if necessary). (4) Clients and drivers will receive notification for the confirmation of the car rental booking.
    </p>

    <!-- Thru Chat IM-->
    <p>
        <h3>
            2.) Thru Chat and other Instant messaging platforms
        </h3>
        <span> Chat/IM Details</span>
    </p>
    <p>
        Reservations and booking is directly done through a customer representative who gets important information thru a chat or other instant messaging platforms. (1)The process starts when you connect to our customer representative to check your needed vehicle and availability of the desired unit. (2) Make a reservation by providing the following  needed information: Rental Date, Personal details, Destinations and desired vehicle. (3)Once all information is captured, the internal process will start by encoding the data to our internal system, approval, assignment of unit, assignment of driver (if necessary). (4) Clients and drivers will receive notification for the confirmation of the car rental booking.
    </p>

    <!-- Thru Chat IM-->
    <p>
        <h3>
            3.) Thru online
        </h3>
        <span> Reservation Link </span>
    </p>
    <p>
        reservations can be done thru online. (1) process starts by following the link (https://realwheelsdavao.com). (2) When the page shows up, select the desired vehicle to rent, number of people boarding the vehicle and duration (in days) of rent. (3)Submit your entries to start processing your request. (4) Once the needed information is complete, the management will approve and reservation officer will confirm and send your booking confirmation by email or sms.
    </p>

</div>


<div id="Booking" class="container-desc">
    <h2 class="text-center" style="font-weight:600;">
        Request for Quotation
    </h2>
    <p>
        We give special rates for corporate use and long term rentals. Feel free to send your request and we are willing to discuss how we may be able to provide and support your business goals.
    </p>
   

</div>

