

<hr class="col-md-12" style="margin-left:-15px;margin-bottom:50px;" />

<div id="About" class="home-company-desc">
    @*<h2 class="text-center" style="font-weight:600;">
            Real Wheels Davao
        </h2>

        <p class="text-center company-desc-p">
            <a href="https://realwheelsdavao.com" title="RealWheels Davao">Real Wheels Davao Car Rental</a> is a trusted and reliable car rental service provider
            and ready to provide his customers with affordable and flexible options when renting a car in the city.
            Office is  located in the heart of the city making it easy for pickup or drop-off of vehicles at the airport or hotel.
            The company aims to provide the best transportation services in Davao while maintaining the highest quality at minimum cost.

            <a href="https://realwheelsdavao.com" title="RealWheels Davao" >Real Wheels Davao</a> - is Subsidiary company of
            <a href="https://realbreezedavaotours.com"  title="RealBreeze Davao Tour">Real Breeze Travel &amp; Tours</a> that offers travel and tour packages in Davao and through out Mindanao.

        </p>*@
    <div class="text-center text-h1-container">
        <span class="text-h1"> Realwheels Rent-A-Car Davao </span>
    </div>

    <div class="col-md-12">
        <h2>
            Car Rental Service in Davao
        </h2>

        <p class="company-desc-p home-company-desc-p">
            <a href="https://realwheelsdavao.com" title="RealWheels Davao">Real Wheels Davao Car Rental</a> is a
            trusted and reliable car rental service provider and ready to provide his customers with affordable and flexible
            options when renting a car in the city. Office is located in the heart of the city making it easy for pickup or
            drop-off of vehicles at the airport or hotel. The company aims to provide the best transportation services in Davao
            while maintaining the highest quality at minimum cost.
            <a href="https://realwheelsdavao.com" title="RealWheels Davao">Real Wheels Davao Car Rental</a> - is Subsidiary company
            of Real Breeze Travel & Tours that offers travel and tour packages in Davao and through out Mindanao.

        </p>

        <p class="company-desc-p" hidden>
            Things you should know when renting a car - Destinations, duration, danger
        </p>
    </div>

    <div class="col-md-12">
        <h2> Why You Should Rent a Car the Next Time You Visit Davao City </h2>
        <p>
            Car rental is a great way to get the most out of your visit to a less known place. Whether business in nature or leisure,
            the last thing you want to worry about is the cost of taxi service, bus schedules, jeepney routes or finding the location
            of bus stops. Your goal is to tour the city and discover the hidden gems off the beaten path.
        </p>
    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <img src="~/Images/CarRental/Home/city-rental-ride-style.jpg" class="col-md-3" alt="car rental travel comfortable"  style="padding-top:50px;width:100%;" />
        </div>
        <div class="col-md-9">
            <h3>
                Car rental gives more comfortable travel
            </h3>
            <p>
                Car rental vehicles are expected to be higher quality than a public vehicle. Clean and fresh and more relaxed travel.
            </p>
            <p>
                When visiting Davao City, there are various options for travel including taxi or bus transportation. However, it can be
                a major hassle, especially if you are traveling with family. Or even in a business travel where you carry a number of
                gadgets and bags, you will have to keep moving your luggage in and out of different taxis or jeepneys, which decreases
                your level of comfort. Besides that, if you forget anything in the taxi or the bus, it can be very difficult to trace it.
            </p>


            <p>
                Airport Transfers - mostly, we come and leave the city through this area. This is the place where you have to carry all your
                luggage. And when the situation is not so good, all the hustle will strike. During heavy rain in the city, it is difficult to
                get a taxi specially at the airport. You got wet, luggage got wet. When going to the airport, and If you are far from the city
                center, taxis are hard to find. Don't be late or forfeit your air ticket. You arrive at 3am or go at 4am, not sure how long
                you're gonna wait for a taxi. With car rental service, you can enjoy a smooth ride to and from the airport. Driver will pick
                you with your specified time and drop you to the airport or hotel.
            </p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <img src="~/Images/CarRental/Home/car-rental-flexible.jpg"  alt="car rental ride in flexible" style="padding-top:50px;width:100%;" />
        </div>
        <div class="col-md-9">
            <h3>Flexible travel when renting a car</h3>
            <h4>More flexible time</h4>
            <p>
                You get to use your time very well. Full control of your time. No waiting for a taxi. No ques during rush hours. You roam around
                to the best possible routes.
            </p>
            <h4>More flexible routes</h4>
            <p>
                With a car rental, you can visit remote places off the main roads where buses and jeepneys don't have routes. It will ensure
                that you get the most out of your visit to Davao City. More places means more fun.
            </p>

            <h4>More flexibility with your choice of hotel and restaurant</h4>
            <p>
                You can pick your accommodation not necessarily at the city center. It can be further from the city center. Such hotels will
                usually cost less, some are even more elegant than the one close to the city center. Some quality restaurants are not in the
                city center. You can select your dining according to your likes and budget without the worry of the availability of taxis or
                jeepneys. This could help you save money while getting a better quality while you stay in Davao.
            </p>
        </div>
    </div>

    
    <div class="col-md-12">
        <div class="col-md-3" style="text-align:center;">
            <img src="~/Images/CarRental/Home/car-rental-safe.jpg" alt="car rental ride in safe"  style="width:70%;margin:auto;" />
        </div>
        <div class="col-md-9">
            <h3>Safety and security during car rental</h3>
            <p>
                With the car rental, you have a prearrange vehicle and a local driver(if requested) who knows well with the place and will
                bring you far from an unknown person or from dangerous areas in the city or place.  And the car rental staff will give you
                travel advisories if necessary for your safety.
            </p>
            <p>
                If you want to wander in the city, You can just lock your important stuff and luggage inside the rented car without the worry
                of losing it. Unlike if you travel in a public transport, you have to guard it all the time.
            </p>
            <p>
                With the car rental, you can enjoy your comfortable ride with complete peace of mind.
            </p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <img src="~/Images/CarRental/Home/car-rental-safety.jpg" alt="car rental ride in style" style="width:100%;" />
        </div>
        <div class="col-md-9">
            <h3>
                Ride in style when you rent
            </h3>
            <p>
                You go for a business meeting or special event? Build your confidence. Build your image. Arrive fresh and relax. With your car
                rental, you arrive at the venue in style and in your best.
            </p>
        </div>
    </div>
    <div class="col-md-12" style="margin:30px 0px;">
        <h2>
            Why book with Real Wheels Car Rental in Davao
        </h2>
        <p>
            Convenience comes with a cost. With car rental services, cost is equated against time, comfort and convenience. For a day of
            productive time and relaxed travel, the service should be valuable more than the amount. Real Wheels Car Rental opt to achieve
            the benefits expected when you rent a car. With the highly maintained vehicles for rent, experienced drivers and professional
            staff, the company is ready to deliver a service beyond expectation.
        </p>
    </div>
</div>

    @*<div class="col-md-12 more-links-section">
        <a href="/Articles/WhyBook" class="btn btn-default" title="Why Book With Us" ><h3 style="margin:10px;"> About Booking With Us</h3></a>
        <a href="/CarRental/FAQ" class="btn btn-default" title="Frequently Asked Questions" ><h3 style="margin:10px;"> Frequently Asked Questions</h3></a>
    </div>*@

<div class="col-md-12 more-links-section">
    <a href="#ServicesNav" class="btn btn-primary links-section-wide" title="Services"> Check Our Services </a>
    <a href="#FleetNav" class="btn btn-primary links-section-wide" title="Fleet"> Check Our Fleet </a>
    <a href="#Booking" class="btn btn-primary links-section-wide" title="Book"> How to Book </a>
    <a href="#Contact" class="btn btn-primary links-section-wide" title="Contact"> Contact Us </a>
    <a href="/CarRental/PriceList" class="btn btn-warning links-section-wide" title="Prices"> Car Rental Prices </a>
</div>


