

<div class="linkable-container">

    <div class="col-md-12 no-padding banner-services-container" id="FleetNav">
        <div class="banner-default">
            <span class="pull-left">
                <a href="#Fleet" class="banner-default-header scroll-text"> Booking and Reservation</a>
            </span>
            <!-- Add Links Below-->
        </div>
    </div>
</div>

<div id="Booking" class="container-desc">
    <h2 class="text-center" style="font-weight:600;">
        How To Book Car Rental?
    </h2>
    @*<h3>The Process: </h3>*@
    <img src="~/Images/CarRental/Home/booking-process.png"  class="hidden-on-mobile" style="width:100%;" 
         alt="Car Rental Booking Process" /> 
    <div class="show-on-mobile-only">
        <ol>
            <li> Connect with customer representative </li>
            <li> Discuss needed vehicle and availability </li>
            <li> Submit required information and documents  </li>
            <li> Receive your booking confirmation.</li>
        </ol>
    </div>
    <div style="margin: 25px;">
        <p style="font-size:20px;">We support the following option to make reservations (1) Phone (2) Chat (3) Web</p>
    </div>
    <!-- Thru phone -->
    <div class="home-booking-option-container">
        <h3> 1.) Thru Phone</h3>
        <p>
            <a href="tel:+639954508517" class="call-button-link btn btn-default">
                    <img src="~/Images/Icons/icon-call-blk.png" loading="lazy" width="20" />
                    Globe: +63 995-450-8517
            </a>

            <a href="tel:+639292113987" class="call-button-link btn btn-default">
                    <img src="~/Images/Icons/icon-call-blk.png" loading="lazy" width="20" />
                    Smart: +63 929-211-3987
            </a>

        </p>
        <p>
            Reservations and booking is directly done through a customer representative who gets important information thru a call or text.
        </p>
        <ol>
            <li>  The process starts when you connect, via call or sms,  to our customer representative to check your needed vehicle and availability of the desired unit.</li>
            <li>  Make a reservation by providing the following  needed information: <b>Rental Date, Personal details, Destinations and desired vehicle.</b></li>
            <li>  Once all information is captured, the internal process will start by encoding the data to our internal system, approval, assignment of unit, assignment of driver (if necessary).</li>
            <li>  Clients and drivers will receive notification for the confirmation of the car rental booking.</li>
        </ol>
    </div>

    <!-- Thru Chat IM-->
    <div class="home-booking-option-container">
        <h3>
            2.) Thru Chat and other Instant messaging platforms
        </h3>
        <p>
            <a href="https://www.facebook.com/RealWheelsDavao" rel="noreferrer" target="_blank" class="btn btn-default call-button-link">
                <img src="~/Images/Icons/icons-facebook.png" width="20" loading="lazy" alt="facebook page link" />
                Facebook Page
            </a>
            <a href="viber://chat?number=639954508517" class="btn btn-default call-button-link">
                <img src="~/Images/Icons/viber-original.png" width="20" loading="lazy" alt="call viber link" />
                Viber
            </a>
            <a href="https://wa.me/639954508517" class="btn btn-default call-button-link">
                <img src="~/Images/Icons/whatsapp-original.png" width="20" loading="lazy" alt="call whatsapp link" />
                WhatsApp
            </a>
        </p>
        <p>
            Reservations and booking is directly done through a customer representative who gets important information thru a chat or other instant messaging platforms.    
        </p>
        <ol>
            <li>  The process starts when you connect to our customer representative to check your needed vehicle and availability of the desired unit. </li>
            <li>  Make a reservation by providing the following  needed information: <b>Rental Date, Personal details, Destinations and desired vehicle.</b></li>
            <li>  Once all information is captured, the internal process will start by encoding the data to our internal system, approval, assignment of unit, assignment of driver (if necessary).</li>
            <li>  Clients and drivers will receive notification for the confirmation of the car rental booking.</li>
        </ol>
    </div>

    <!-- Thru Reservation Link-->
    <div class="home-booking-option-container">
         <h3>
            3.) Thru online
         </h3>
        <p>
            Reservations can be done thru online.  
        </p>
        <ol>
            <li> Process starts by following the link : <a href="/CarRental/ReservationRequest/1?rsvType=1" class="btn btn-default call-button-link"> Click here to reserve. </a> </li>
            <li> When the page shows up, select the desired vehicle to rent, number of people boarding the vehicle and duration (in days) of rent.</b></li>
            <li> Submit your entries to start processing your request.</li>
            <li> Once the needed information is complete, the management will approve and reservation officer will confirm and send your booking confirmation by email or sms.</li>
        </ol>
    </div>
</div>


<div id="Quotation" class="container-desc" style="padding: 0px 30px;">
    <h2 class="text-center" style="font-weight:600;">
        Request for Quotation
    </h2>
    <p style="margin:20px;">
        We give special rates for corporate use and long term rentals. Feel free to send your request and we are willing to discuss how we may be able to provide and support your business goals.
    </p>

    <div class="col-md-12 more-links-section">
        <a href="/CarRental/ReservationRequest/1?rsvType=2"  class="btn btn-default"><h3 style="margin:10px;"> Request a Quote </h3> </a>
    </div>
</div>

