
<footer class="navbar navbar-inverse navbar-fixed-bottom" id="mobile-footer">
    <div class="container">
        <ul class="nav navbar">
            <li>
                <a href="tel:+63 909-076-1575"  title="call us">
                    <img src="~/Images/Icons/icons-call-96.png" alt="Call" class="footer-img">
                    <span class="text-md"> Call </span>
                </a>
            </li>
            <li>
                <a href="sms:+63 909-076-1575" title="message us">
                    <img src="~/Images/Icons/icons-sms-96.png" alt="SMS" class="footer-img">
                    <span class="text-md"> SMS </span>
                </a>
            </li>
            <li>
                <a href="mailto: realbreezedavao@gmail.com" title="email us">
                    <img src="~/Images/Icons/icons-new-post-90.png" alt="Mail" class="footer-img">
                    <span class="text-md"> Mail </span>
                </a>
            </li>
        </ul>
    </div>
</footer>
