
<div class="home-company-desc">
    <h2 class="text-center" style="font-weight:600;">
        Real Wheels Davao
    </h2>

    <p class="text-center" style="font-size:18px;line-height:1.7;">
        <a href="https://realwheelsdavao.com">Real Wheels Davao Car Rental</a> is a trusted and reliable car rental service provider
        and ready to provide his customers with affordable and flexible options when renting a car in the city.
        Office is  located in the heart of the city making it easy for pickup or drop-off of vehicles at the airport or hotel.
        The company aims to provide the best transportation services in Davao while maintaining the highest quality at minimum cost.

        <a href="https://realwheelsdavao.com">Real Wheels Davao</a> - is Subsidiary company of
        <a href="https://realbreezedavaotours.com">Real Breeze Travel &amp; Tours</a> that offers travel and tour packages in Davao and thru out Mindanao.

    </p>
</div>

<br />

<div class="home-services">
    <article>
        <h2 class="text-center col-md-12" style="font-weight:600;font-size:30px;">
            Car Rental Services
        </h2>
        <div class="col-md-12">
            <div class="col-md-6">
                <img src="~/Images/CarRental/Home/undraw_travelers.png" class="home-services-img" loading="lazy" alt="Car-rental-transfer-travelers" title="Car Rental Transfer Travel" />
            </div>

            <div class="col-md-6 ">

                <h3>1.) Airport/Hotel transfer</h3>
                <p>
                    This type of service is a one way trip either from airport to your chosen destination, or the other way around, or from one place to another place within Davao city downtown area. This service is single point pickup and single point destination. Traveling to and from the airport or hotel will be very convenient when you avail a car rental service. It eliminates the hassle of queuing for public transport with all the heavy trolleys and bags with you.
                </p>

                <h3>2.) City Tour car rental package</h3>
                <p>
                    This service is multi-point destinations with 10 hours use of the vehicle. The package usually includes driver's fee and fuel cost. Car rental package is either based on the client's itinerary or the common tour itinerary that includes top tourist destinations in Davao. So if  you're not sure where to go, taking this package will put things in place. Real Wheels Car Rental is ready to provide a quality transportation for family and group tours. They offer the top car rental tour packages: Davao City Tour, Davao country-side tour, samal tour, Buda Tour, Mati Tour, Surigao tour and more.
                </p>
            </div>
        </div>

        <div class="col-md-12">

            <div class="col-md-6">
                <h3>3.) Corporate travels</h3>
                <p>
                    This service is for the wide variety of corporate travel needs. This includes vip transfers, meetings, events, conventions and other corporate related trips. Real Wheels car rental in Davao is a trusted travel partner which aims to properly represent your company and align with your company’s missions and goals. We offer special rates for companies for long term car rentals and partnerships with flexible terms and conditions.
                </p>
                <h3>4.) Business trips</h3>
                <p>
                    This type of car rental service is a multi point - multi destinations package with an open itinerary depending on your business need and purpose. Real Wheels Davao offers a clean and decent car for rent with courteous drivers for business meetings and company visits that ensures your maximum productivity for the day.
                </p>
            </div>

            <div class="col-md-6">
                <img src="~/Images/CarRental/Home/undraw_businesswoman.png" class="home-services-img" loading="lazy" alt="Car-rental-business-travel" title="Car Rental Business Travel" />
            </div>

        </div>

        <div class="col-md-12">

            <div class="col-md-6">
                <img src="~/Images/CarRental/Home/undraw_off_road.png" class="home-services-img" loading="lazy" alt="Car-rental-business-travel" title="Car Rental Business Travel" />
            </div>
            <div class="col-md-6">
                <h3>5.) Out of town Trips</h3>
                <p>
                    This type of service is for trips outside the city. Whether family or business related. Rate varies depending on the area and duration. Clients can opt for a round trip or multiple days rental. Real Wheels Davao sorts out the best vehicles, most reliable and comfortable for long trips.
                </p>
                <h3>6.) SelfDrive</h3>
                <p>
                    This service is driving the vehicle as your own. You can use it as a company vehicle or as personal use. The absence of car rental driver gives you greater privacy while roaming around the city. Though the car rental company may have some limitations for this type of service.
                </p>
                <h3>7.) Special occasions </h3>
                <p>
                    This type of service is for different occasions such as family gatherings, weddings, reunions and many more. Real Wheels always assess vehicles that’s best for specific need. The company is open for discussion to make sure the needed services are properly tendered. The car rental company Values every customer especially their comfort and safety.
                </p>
            </div>
        </div>
    </article>
</div>

<hr class="col-md-12" style="margin-left:-15px;" />

<div class="col-md-12" style="margin:50px -15px;">
    <h2 class="home-heading text-center" style="margin-bottom:30px;">Types of Vehicles for Rent</h2>
    <p class="text-center" style="margin-bottom:20px;">
        As a rent-a-car company, <a href="https://realwheelsdavao.com">Real Wheels Davao</a> offers wide variety of affordable vehicles
        suitable for your travel needs.
    </p>
    <div class="col-md-3">
        <div class="home-panel">
            <img src="~/Images/CarRental/Home/vehicle-type-van.jpg" class="home-vehicle-type-img" loading="lazy" alt="Car-rental-vehicle-van" title="Car Rental Vehicle Van" />
            <a href="~/CarRental/van-for-rent"><h4>VAN for rent</h4></a>
            <ul>
                <li>Nissan Urvan Premium</li>
                <li> Toyota Super Grandia</li>
                <li> Toyota Grandia GL </li>
                <li> Toyota HiACE Commute</li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="home-panel ">
            <img src="~/Images/CarRental/Home/vehicle-type-suv.jpg" class="home-vehicle-type-img" loading="lazy" alt="Car-rental-vehicle-suv-mpv" title="Car Rental Vehicle SUV MPV" />
            <a href="~/CarRental/suvpickup4x4-rental-rates">
                <h4> SUV / MPV for rent</h4>
            </a>
            <ul>
                <li> Ford Everest </li>
                <li> Montero Sport </li>
                <li> Toyota Fortuner </li>
                <li> Toyota Innova </li>
                <li> Toyota Rush </li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="home-panel">
            <img src="~/Images/CarRental/Home/vehicle-type-sedan.jpg" class="home-vehicle-type-img" loading="lazy" alt="Car-rental-vehicle-Sedan" title="Car Rental Business Sedan" />
            <a href="~/CarRental/sedan-rental"><h4>Sedan for rent</h4></a>
            <ul>
                <li> Honda City</li>
                <li> Toyota Vios </li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="home-panel">
            <img src="~/Images/CarRental/Home/vehicle-type-pickup.jpg" class="home-vehicle-type-img" loading="lazy" alt="Car-rental-vehicle-pickup" title="Car Rental Vehicle Pickup" />
            <a href="~/CarRental/van-for-rent"><h4>Pickup for rent</h4></a>
            <ul>
                <li> Toyota Hilux </li>
                <li> Mitsubishi Strada </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-md-12" style="margin:50px 0px;padding:20px;">
    <h2 class="text-center" style="font-weight:600;">
        Why Book With Us
    </h2>

    <p class="text-center" style="font-size:18px;line-height:1.7;">
        <a href="https://realwheelsdavao.com">Real Wheels Davao</a> is one of the most reliable rent-a-car company in Davao.
        With the support of modern Information systems, your booking and reservations will always be in place.
        Keeping in their mind that clean and reliable car for rent is a must, they always keep their fleets for car rental
        well maintained by reputable service centers.
        <br /> <br />
        <a href="/Articles/WhyBook"><button class="btn btn-default"><h3 style="margin:10px;"> Learn More</h3> </button></a>
    </p>
</div>


<div class="col-md-12 home-article-container">
    @{Html.RenderPartial("Articles"); }
</div>



<div class="col-md-12 sitemap-section">
    <a class="text-muted" href="/sitemap">Sitemap</a>
    <a href="https://www.facebook.com/RealWheelsDavao"> <img src="~/Images/CarRental/Home/icons-facebook-gray.png" class="pull-right" width="25" style="margin:0px;" /></a>
</div>

<div class="col-md-12" style="color:gray;">
    <div class="col-md-4">
        <h3> Real Wheels Davao  </h3>
        <p>
            Door 1, Travelers Inn Bldg.,
            Matina Crossing Rd., Matina Pangi,
            Davao City, 8000
        </p>
        <p> inquiries.realwheels@gmail.com  </p>
    </div>
    <div class="col-md-4 footer-details">
        <p>
            <b>Contact Us for Booking and Inquiries</b>

            <br />Landline: (+63) 82 333-5157
            <br />Smart: +63 919-381-2657
            <br />globe: +63 995-450-8517
            <br />viber: +63 995-450-8517
        </p>
    </div>
    <div class="col-md-4 footer-details">
        <p><a class="text-muted" href="/Articles/WhyBook"> Why Book with Us </a></p>
        <p><a class="text-muted" href="/CarRental/About"> About Us </a></p>
        <p><a class="text-muted" href="/CarRental/Contact"> Contact Us</a></p>
    </div>
</div>

