
@{
    ViewBag.Title = "Reservation Error";
}

<link href="~/Content/CarBooking.css" rel="stylesheet">

<div class="reservation-error-container">
    <img src="~/Images/Icons/error.jpg" alt="error" style="min-width:30%;" />
    <h2>Reservation Error</h2>
    <p>
        An unexpected error has occured while processing your request.
    </p>
    <p>
        @ViewBag.Msg
    </p>
    <p>
        For faster transaction, please call
        <a href="tel:+639171438050"> Globe: +63 917-143-8050 </a>
        or email us at
        <a href="mailto:inquiries.realwheels@gmail.com">inquiries.realwheels@gmail.com</a>
    </p>
    <a href="~/">
        <button class="btn btn-default"> Go to Home Page </button>
    </a>
</div>
