
@{
    ViewBag.Title = "Online Reservation Details";
    decimal dQuotedAmt = ViewBag.Amount;
}


<h2 class="text-center" style="margin-bottom:-80px;margin-top:50px;">Reservation Form</h2>
<div class="container" style="border:1px solid lightgray;margin:100px auto; padding:50px 150px;min-width:300px;width:600px;background-color:white;">
  
</div>