
@{
    ViewBag.Title = "Cheap Car for rent Davao City | Toyota Rush | Toyota Avanza ";
    ViewBag.Description = "Cheap Car for rent: Toyota Avanza, Toyota Rush for Rent in Davao. Available for Self-drive and with driver car rental options, Long term and short term rental contracts. Rent-a-car service from Davao City, Philipines.";
    ViewBag.CanonicalURL = "https://realwheelsdavao.com//ads/Toyota-Rush";

}

<div class="jumbotron">

    <h1>Cheap Car For Rent in Davao City</h1>
    <p>
       Davao Car Rental / Self-Drive / With Driver
    </p>

</div>
<div class="container">

    <div class="col-lg-8 ads-desc-box">
        <div class="col-lg-12 ads-desc-img-box">
            <a href="~/Images/CarRental/rush/Toyota-Rush-2019.gif" target="_blank">
                <img src="~/Images/CarRental/rush/Toyota-Rush-2019.jpg" alt="Cheap car for rent : Rush" class="img-thumbnail ads-desc-img-box-gallery" />
            </a>
            <a href="~/Images/CarRental/CarViews/ToyotaAvanza/ToyotaAvanza.gif" target="_blank">
                <img src="~/Images/CarRental/CarViews/ToyotaAvanza/ToyotaAvanza.gif" alt="Cheap car for rent : Avanza" class="img-thumbnail ads-desc-img-box-gallery" />
            </a>
            <a href="~/Images/CarRental/hondacity/Honda-city-2018.jpg" target="_blank">
                <img src="~/Images/CarRental/hondacity/Honda-city-2018.jpg" alt="Cheap Car for Rent : Honda City 2018" class="img-thumbnail ads-desc-img-box-gallery" />
            </a>
            <a href="~/Images/CarRental/CarViews/ToyotaInnova/Toyota-innova.png" target="_blank">
                <img src="~/Images/CarRental/CarViews/ToyotaInnova/Toyota-innova.png" alt="Cheap Car : Toyota-Innova" class="img-thumbnail ads-desc-img-box-gallery" />
            </a>
        </div>

        <hr />
        <div class="col-lg-12">

            <div class="col-lg-12 ">
                <h3>Toyota Rush 2019 A/T </h3>
                <img src="~/Images/CarRental/rush/Toyota-Rush-2019.gif" alt="cheap Car for rent" class="img-thumbnail ads-desc-img-primary" />
            </div>
            <p>
                Cheaper compared to other new vehicles but remains to be tough, reliable and easy to drive around the city.
                This compact SUV is another great alternative to sedans for your travel needs.
                <h3>Highlights</h3>
                <br />Gasoline 1.5L VVTi Engine
                <br />A/T Transmission
                <br />up to 7 seating capacity
                <br />High ground clearance
                <br />
            </p>
            
            <iframe src="https://www.youtube.com/embed/6LYHeaKM0pA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <h3>
                Services Offered
            </h3>
            <p>
                <br />Offering an affordable and quality rent a car service in Davao City Philippines.
                <br />1. Special Events Package (Company Service & Others)
                <br />2. Davao Tour Service Package
                <br />3. Business Meeting, Company Visit and other corporate needs
                <br />4. Personal and Vacation needs
                <br />5. Airport Service Package (Pickup - Drop Off)
                <br />6. Offered in Self Drive / With driver options
                <br />7. Open for Weekly, Monthly, Yearly contracts
                <br />
            </p>
            <hr />
            <p>
                <h3>For Booking and Reservations</h3>
                <a class="btn btn-default" style="margin-bottom:5px;" href="tel:+63 926-733-5449"> Globe: +63 926-733-5449 </a>
                <br /><a class="btn btn-default" style="margin-bottom:5px;" href="tel:+63 909-076-1575">Smart: +63 909-076-1575 </a>
                <br /><a class="btn btn-default" style="margin-bottom:5px;" href="mailto: Inquiries.RealWheels@gmail.com">email: Inquiries.RealWheels@gmail.com </a>
                <br />
            </p>
        </div>

        @{Html.RenderPartial("CarViews/TagsView");}
    </div>


    <div class="col-lg-4 ads-tech-details">
        <h2>
            Cheaper Cars for Rent
        </h2>
        <p>
            <br /> Manufacturer: <b>Toyota</b>
            <br /> Model:        <b>Rush 2019</b>
            <br /> Transmission: <b>4x2 Automatic Gasoline</b>
        </p>
        <p>
            <br /> Manufacturer: <b>Honda</b>
            <br /> Model:        <b>City 2018</b>
            <br /> Transmission: <b>4x2 Automatic Gasoline</b>
        </p>
        <p>
            <br /> Manufacturer: <b>Toyota</b>
            <br /> Model:        <b>Avanza</b>
            <br /> Transmission: <b>4x2 Automatic Gasoline</b>
        </p>

        <p>
            <br /> Manufacturer: <b>Toyota</b>
            <br /> Model:        <b>Vios 2015</b>
            <br /> Transmission: <b>4x2 Automatic Gasoline</b>
        </p>
        <p>
            <br /> Manufacturer: <b>Toyota</b>
            <br /> Model:        <b>Innova 2015</b>
            <br /> Transmission: <b>4x2 Manual Diesel</b>
        </p>

    </div>

    @{Html.RenderPartial("CarViews/PopularAdsView");}
</div>