@model IEnumerable<JobsV1.Models.SysMenu>

@{
    ViewBag.Title = "ModulesList";
    Session["ROOTMENUID"] = 1;
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<h2>Module : @ViewBag.MenuName</h2>

<p>
    @Html.ActionLink("Module List", "ModuleList", null, null)
</p>

<table class="table">
    <tr>
        <th>
            Sub Modules
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Menu)
        </td>
        <td>
            @Html.ActionLink("Users", "ModuleUsers", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
