

@{
    ViewBag.Title = "User Services Add";
}

<h2>Add Moduels to User</h2>
<p>Please Select a module from the list</p>

<div class="row">
    <div class="col-lg-6">
        <div class="list-group" id="categorylist2">
            @foreach (var subModule in ViewBag.subModules as IEnumerable<JobsV1.Models.SysMenu>)
            {

                <a href="@Url.Action("UserSubModuleCreate", "SysAccessUsers", new {username = ViewBag.username, moduleId = subModule.Id}, null)" id="modules" class="list-group-item"> @subModule.Menu </a>

            }
        </div>
        <h3> @ViewBag.listEmpty </h3>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "UserSubModuleList", new { moduleId = ViewBag.ModuleId, username = ViewBag.UserName })
</div>
