<!-- Add Clause Edit Modal -->
<!-- Add Inv Rate Modal -->
<div class="modal fade" id="AddExpenses" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Expenses <span id="InvRate-ItemName"> Item </span></h4>
            </div>

            <div class="modal-body row" id="modal2-content">

                <div class="form-group cform ">
                    <b class="col-md-3">Id </b>
                    <div class="col-md-9">
                        <input id="Exp-JobServiceId" class="form-control" type="text" maxlength="80" value="0" disabled>
                    </div><p></p>
                </div>

                <div class="form-group cform">
                    <b class="col-md-3"> Bank Payment </b>
                    <div class="col-md-9">
                        <input id="Exp-PaymentBank" class="form-control" type="text" maxlength="10" value="0" disabled>
                    </div><p></p>
                </div>

                <div class="form-group cform">
                    <b class="col-md-3">Cash Payment </b>
                    <div class="col-md-9">
                        <input id="Exp-Payment" class="form-control" type="text" maxlength="10" value="0">
                    </div><p></p>
                </div>

                <div class="form-group cform">
                    <b class="col-md-3"> Fuel </b>
                    <div class="col-md-9">
                        <input id="Exp-Fuel" class="form-control" type="text" maxlength="10" value="0">
                    </div><p></p>
                </div>

                <div class="form-group cform">
                    <b class="col-md-3"> Driver </b>
                    <div class="col-sm-6" >
                        <input id="Exp-Driver" class="form-control" type="text" maxlength="10" value="0" style="min-width:280px;" >
                    </div>
                    <div class="col-sm-2" style="margin-top:-5px;margin-left:0px;">
                        <button class="btn btn-primary" contextmenu="Add Expense" id="driver-readyReleased" onclick="DriverReadyRelease()" > + </button>
                    </div>
                    <p></p>
                </div>

                <div class="form-group cform">
                    <b class="col-md-3"> Operator </b>
                    <div class="col-sm-6">
                        <input id="Exp-Operator" class="form-control" type="text" maxlength="20" value="0" style="min-width:280px;">
                    </div>
                    <div class="col-sm-2" style="margin-top:-5px;margin-left:0px;">
                        <button class="btn btn-primary" contextmenu="Add Expense" id="operator-readyReleased" onclick="OperatorReadyRelease()"> + </button>
                    </div>
                    <p></p>
                </div>

                <div class="form-group cform">
                    <b class="col-md-3">Others </b>
                    <div class="col-md-9">
                        <input id="Exp-Others" class="form-control" type="text" maxlength="10" value="0">
                    </div><p></p>
                </div>

                <div class="form-group cform">
                    <b class="col-md-3">Remarks </b>
                    <div class="col-md-9">
                        <input id="Exp-Remarks" class="form-control" type="text" maxlength="80" >
                    </div><p></p>
                </div>

                <br />
                <div class="form-group cform"> 
                    <b class="col-md-3"> Total  </b>
                    <span class="col-md-4" id="Exp-Total"> 0 </span>
                </div>

                <div class="form-group cform">
                    <b class="col-md-3"> Net  </b>
                    <span class="col-md-4" id="Exp-Net"> 0 </span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="addExpenseBtn" onclick="ajax_AddExpenses()">Save</button>
                </div>
            </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>

<script>
    function DriverReadyRelease() {
        $("#driver-readyReleased").attr("disabled", true);
        $("#Exp-Driver").attr("disabled", true);

    };

    function OperatorReadyRelease() {
        $("#operator-readyReleased").attr("disabled", true);
        $("#Exp-Operator").attr("disabled", true);

    };

    //check if release button is clicked
    function checkDriverRelease() {
        console.log($("#driver-readyReleased").is(":disabled"));
    }
</script>
