@model JobsV1.Models.SalesLead

@{
    Layout = null;

    JobsV1.Models.SalesLead item = Model;

    string USER = ViewData["AssignedTo"] as string;
    bool ISADMIN = (bool)ViewData["IsAdmin"];
}

@if (item.SalesLeadCompanies.OrderBy(s => s.Id).FirstOrDefault() != null)
{
    var company = item.SalesLeadCompanies.OrderBy(s => s.Id).FirstOrDefault().CustEntMain;
    var activities = company.CustEntActivities.Where(s => s.SalesCode == item.SalesCode);

    @Html.Partial("CustActivitiesPartial", activities, new ViewDataDictionary { { "AssignedTo", item.AssignedTo } })

    if (USER == item.AssignedTo || ISADMIN)
    {
        <span>
            @Html.ActionLink("[ Add Activity ]", "ListCustActivityCodes",
             new
             {
                 id = item.Id,
                 salesCode = item.SalesCode,
                 projectName = item.Details,
                 amount = item.Price,
                 companyId = company.Id
             })
        </span>
    }
 }