
@{
    ViewBag.Title = "Drivers Portal";
}

<div class="row">
   

    <!-- Search Date Modal -->
    <!-- Modal -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
      
            <div class="modal-dialog" style="width:350px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"> Drivers Trip Portal </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="margin-left:10px;">
                            <form class="col-md-12 col-xs-12">
                                <div class="form-group"  style="display:flex;flex-direction:column;">
                                    <label class="col-form-label">Driver:</label>
                                    <div class="col-md-10" style="padding-left:0px;margin-top:0px;">
                                        @Html.DropDownList("DriversId", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" value="Submit" class="btn btn-primary">Proceed</button>
                    </div>
                </div>
            </div>
    }
</div>